.about-carimg{
	width: 100%;
}
.article {
    list-style: none;
    padding: 15px 30px;
	font-size: 15px;
	color: #3C3C3C;
	background-color: white;
}
.article li {
    margin-top: 15px;
}
.article li p{
    line-height: 40px;
}