.bargin-carimg{
	width: 100%;
}
.bargain-total{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	margin-bottom: 10px;
	background-color: #DFECF5;
}
#bargain .service{
	font-size: 15px;
	margin-bottom: 15px;
}
.bargain-total span{
	color: red;
	font-size: 15px;
}
.bargin-info{
	width: 100%;
    margin: 0 auto;
    position: relative;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
.bargin-info li{
	margin-bottom: 20px;
}
.bargin-info li label{
	font-size: 15px;
	color: #969696;
}
.bargin-info input {
    font-size: 15px;
    background-color: #F3F3F3;
    border: 1px solid #E4E4E4;
    width: 100%;
    height: 40px;
    border-radius: 0.3px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
	margin-bottom: 10px;
}
.bargin-info .checkcode {
    display: flex;
    justify-content: space-between;
}
#check {
    width: 50%;
}
.bargin-info .checkcode img {
    width: 150px;
    height: 50px;
}
.bargin-info .submit {
    color: #fff;
    background: #da2515;
    width: 95%;
    height: 40px;
    border-radius: 0.5px;
    border: none;
    outline: none;
    position: relative;
    left: 2.5%;
}