#buy{
	box-sizing: border-box;
}
.buy-sel{
	width: 100%;
}
.buy-sel ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.buy-sel ul li{
	width: 100%;
	height: 0.9px;
	font-size: 0.35px;
	text-align: center;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding: 0.1px;
	color: #969696;
	display: flex;
	align-items: center;
}
.buy-sel ul li:active{
	background-color: skyblue;
}
.buy-sel ul li span{
	width: 100%;
	display: block;
	border-right: 1px solid #DEDEDE;
}
.buy-sel ul li:nth-last-child(1) span{
	border-right: none;
}
#buy .order{
	/* height: 1px; */
	background-color: #F4F4F4;
}
#buy .order ul{
	width: 100%;
	height: 100%;
	padding: 0.2px 0 0 0;
	display: flex;
	font-size: 0.3px;
	flex-wrap: wrap;
	justify-content: space-around;
}
#buy .order ul li{
	background-color: white;
	padding: 0.15px;
	box-sizing: border-box;
	margin-bottom: 0.2px;
}
#buy .order ul li:nth-child(1){
	background-color: #DA2515;
	color: white;
}