#buy{
	box-sizing: border-box;
	background-color: #ECECEC;
}
.choose-tag{
	background-color: white;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.choose-tag .choose-top{
	height: 60px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}
.choose-top .title{
	border-right: 1px solid #a2a2a2;
	font-size: 14px;
	padding-right: 20px;
}
.choose-top .tags{
	width: 75%;
	display: flex;
	justify-content: flex-start;
}
.choose-top .tags li{
	margin-right: 20px;
	position: relative;
    float: left;
    padding: 6px 35px 6px 15px;
    margin: 0 10px;
    border: 1px solid #dcdee2;
    border-radius: 5px;
    color: #555555;
    font-size: 13px;
}
.choose-top .tags li img{
	position: absolute;
    background-size: 10px;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 11px;
    cursor: pointer;
}
.choose-tag .choose-top .clearall{
	font-size: 14px;
    cursor: pointer;
}
.buy-sel{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 40px;
}
.buy-sel-item{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.buy-sel-item .title{
	font-size: 15px;
	margin-right: 10px;
}
#buy .order{
	/* height: 1px; */
	width: 100%;
	background-color: #F4F4F4;
}
#buy .order ul{
	width: 400px;
	height: 100%;
	padding: 10px 0 0 0;
	display: flex;
	font-size: 14px;
	flex-wrap: wrap;
	justify-content: space-around;
}
#buy .order ul li{
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
#buy .order ul li:nth-child(1){
	background-color: #DA2515;
	color: white;
}