#buy{
	box-sizing: border-box;
}
.choose-tag{
	background-color: white;
}
.choose-tag .choose-top{
	height: 50px;
	padding: 0 40px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.choose-top .title{
	border-right: 1px solid #a2a2a2;
}
.choose-top .tags{
	display: flex;
	justify-content: flex-start;
	padding: 0 20px;
}
.choose-top .tags li{
	margin-right: 20px;
}
.buy-sel{
	width: 100%;
}
.buy-sel ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.buy-sel ul li{
	width: 100%;
	height: 40px;
	font-size: 14px;
	text-align: center;
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding: 10px;
	color: #969696;
	display: flex;
	align-items: center;
}
.buy-sel ul li:active{
	background-color: skyblue;
}
.buy-sel ul li span{
	width: 100%;
	display: block;
	border-right: 1px solid #DEDEDE;
}
.buy-sel ul li:nth-last-child(1) span{
	border-right: none;
}
#buy .order{
	/* height: 1px; */
	background-color: #F4F4F4;
}
#buy .order ul{
	width: 100%;
	height: 100%;
	padding: 10px 0 0 0;
	display: flex;
	font-size: 14px;
	flex-wrap: wrap;
	justify-content: space-around;
}
#buy .order ul li{
	background-color: white;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}
#buy .order ul li:nth-child(1){
	background-color: #DA2515;
	color: white;
}