.recommoned{
	padding: 0;
}
.tops{
	height: 400px;
	display: flex;
	background-color: white;
	justify-content: space-between;
	position: relative;
}
.top-right{
	width: 48%;
	padding: 10px 0;
	box-sizing: border-box;
	position: absolute;
	right: 0;
}
.swiper-container {
	width: 50%;
	background-color: white;
	height: 100%;
	z-index: 0;
	margin: 0;
	left: 0;
}
.swiper-slide {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-slide img{
	width: 100%;
	height: 400px;
}
.swiper-pagination{
	color: white;
	font-size: 15px;
}
.swiper-button-prev{
	/* width: 1px; */
	height: 20px;
	outline: none;
}
.swiper-button-next{
	outline: none;
	height: 20px;
	/* width: 1px; */
}
.car-info{
	background-color: white;
	margin-top: 40px;
	box-sizing: border-box;
}
.default{
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.default-top{
	display: flex;
	align-items: center;
	background-color: #f3f3f3;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.tips{
	height: 150px;
	width: 100%;
	display: flex;
	margin-bottom: 8px;
	/* align-items: center; */
}
.tipsp{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.tips img{
	width: 100px;
	height: 100px;
}
.name{
	font-size: 20px;
}
.coll img{
	width: 30px;
	margin-left: 10px;
}
.default-left{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.price{
	font-size: 15px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border-right: 1px solid #EEEEEE;
	padding: 0 30px;
	box-sizing: border-box;
}
.price span{
	color: red;
	font-size: 30px;
}
.loan{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 13px;
}
.min span{
	font-size: 22px;
	color: red;
}
.look:hover{
	cursor: pointer;
}
.pbtn{
	height: 120px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.default-left button{
	color: #fff;
    background: #da2515;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    outline: none;
}
.config{
	margin-top: 10px;
	border-bottom: 1px solid #f2f2f2;
	padding: 10px 0;
}
.config ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.config li{
	width: 20%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;
	margin-right: 5px;
}
.config li:nth-last-child(1){
	margin-top: 0.4px;
}
.config .icon{
	padding: 5px;
	width: 40px;
	height: 40px;
	color: black;
	box-sizing: border-box;
	background-color: #F3F3F3;
}
.config{
	font-size: 15px;
}
.config .config-r{
	width: 65%;
}
.config .config-r p{
	height: 22.4px;
}
.config .more a{
	display: flex;
	align-items: center;
	color: #7B8389;
}
.config .arrow-r{
	width: 8px;
}
.level{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 15px;
}
.level-item{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid #dddddd;
	background-color: #F3F3F3;
    color: #818181;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    padding: 15px;
}
.level-item span:nth-child(2){
	margin-top: 10px;
	color: #da2515;
}
.point{
	margin: 20px 0;
}
.car-info .title,.report .title,.recommoned .title{
	font-size: 15px;
	height: 30px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 5px;
}
.contitle{
	margin-top: 20px;
	border-bottom: 0px !important;
}
.report .title{
	margin-top: 20px;
}
.report .title span{
	margin-left: 20px;
	font-size: 14px;
}
.point ul{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-size: 14px;
	color: #969696;
    margin-bottom: 5px;
}
.point ul li{
	/* width: 145px; */
	height: 155px;
	margin-right: 40px;
	/* padding: 10px 0px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.point ul li img{
	width: 70px;
	height: 70px;
	margin-bottom: 8px;
}
.point ul li p{
	padding: 5px;
	background-color: #EEEEEE;
	border-radius: 5px;
}
.report{
	position: relative;
}
.report ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 14px;
	text-align: center;
	margin-bottom: 30px;
}
.report ul li{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.report ul li .icon{
	padding: 5px;
	box-sizing: border-box;
	width: 70px;
	height: 70px;
	background-color: #f3f3f3;
	margin-bottom: 10px;
}
.report .report-detail{
	padding: 10px;
	border: 1px solid #abafb3;
	left: 50%;
	font-size: 15px;
	position: relative;
	margin-left: -70.6px;
	
}
.recommoned .car-item{
	box-shadow: none;
	border: 1px solid #f3f3f3;
}
#params{
	background-color: #F5F7FA;
}
.about-carimg{
	width: 100%;
}
.param{
	font-size: 15px;
}
.record,.default-param,.engine-param,.chassis-braking,.security-config,.external-config,.interior-config{
	background-color: white;
	margin-top: 20px;
}
.record ul,.default-param ul,.engine-param ul,.chassis-braking ul,.security-config ul,.external-config ul,.interior-config ul{
	padding: 10px;
	display: flex;
	flex-direction: column;
}
.record ul .title,.default-param ul .title,.engine-param ul .title,.chassis-braking ul .title,.security-config ul .title,.external-config ul .title,.interior-config ul .title{
	padding: 10px;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 10px;
	font-size: 16px;
	justify-content: flex-start;
	border-left: 4px solid #DA2515;
}
.record li,.default-param li,.engine-param li,.chassis-braking li,.security-config li,.external-config li,.interior-config li{
	display: flex;
	justify-content: space-around;
	height: 30px;
	line-height: 30px;
}
.record li span,.default-param li span,.engine-param li span,.chassis-braking li span,.security-config li span,.external-config li span,.interior-config li span{
	width: 100%;
}
.record li span:nth-child(1),.default-param li span:nth-child(1),.engine-param li span:nth-child(1),.chassis-braking li span:nth-child(1),.security-config li span:nth-child(1),.external-config li span:nth-child(1),.interior-config li span:nth-child(1){
	color: #757f89;
}
.record li span:nth-child(2),.default-param li span:nth-child(2),.engine-param li span:nth-child(2),.chassis-braking li span:nth-child(2),.security-config li span:nth-child(2),.external-config li span:nth-child(2),.interior-config li span:nth-child(2){
    color: #495056;
}
.ptor{
	color: #7b8a97;
    font-size: 14px;
	margin-bottom: 5px;
}
.pbor{
	font-size: 14px;
	margin-bottom: 10px;
	border-bottom: 1px solid #EEEEEE;
}
.pbor span{
	color: red;
	margin-left: 5px;
}
.lptp{
	font-size: 12px;
	margin-bottom: 10px;
}
.lpub label{
	font-size: 12px;
    color: #818181;
}
.lpub span{
	color: #da2515;
    font-size: 20px;
    margin-left: 5px;
}
.allconfig{
	margin: 50px 0;
}
.curtitle{
	background: #f3f3f3;
    font-size: 16px;
    color: #555555;
	display: flex;
	height: 60px;
	align-items: center;
	margin: 10px 0;
}
.ct-left{
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
    background: #a9162d;
    color: #ffffff;
    font-size: 18px;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}
.r-content{
	display: flex;
	justify-content: space-between;
}
.report_accident{
	width: 50%;
	height: 580px;
}
.table-con{
	width: 50%;
	display: flex;
}
.table{ 
	width: 100%;
	background: white;
}

.table-border{
	border-right: 1px solid #DFDFDF;
}
.table-item{
	height: 49.5px;
	display: flex;
	justify-content: space-between;
}
.table-item:nth-child(2n-1){
	background-color: #F3F3F3;
}
.table-item div{
	width: 100%;
	height: 100%;
	line-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}
.t-i-left{
	width: 15%;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 15px;
}
.t-i-center{
	width: 66%;
	text-align: center;
	display: inline-block;
}
.t-i-right{
	width: 15%;
	display: inline-block;
	position: absolute;
	right: 15px;
}
.t-i-right .ic{
	width: 50px;
	height: 50px;
	line-height: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.icnormal .ivu-icon{
	font-size: 30px;
	color: #5BAB26;
}
.icexception .ivu-icon{
	font-size: 30px;
	color: indianred;
}
.table-con .table-item div:nth-child(1){
}
.facecheck-c{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
}
.facecheck{
	position: relative;
	height: 332px;
	left: 0;
	right: 0;
	margin: auto;
}
.facecheck-c .title{
	display: flex;
	height: 50px;
	margin-top: 0;
	justify-content: center;
}
.facecheck-c .title-item{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-right: 50px;
}
.facecheck-c .title-item .normal{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #7FD441;
}
.facecheck-c .title-item .repair{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #b2cce5;
}
.facecheck-c .title-item .update{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ffb2b2;
}
.facecheck-c .title-item .norepair{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ff9900;
}
.facecheck div{
	width: 15px;
	height: 15px;
	
	border-radius: 50%;
	display: inline-block;
	position: absolute;
}
.facecheck div:nth-child(3){
	top: 40px;
    left: 140px;
}
.facecheck div:nth-child(6){
	top: 40px;
	left: 220px;
}
.facecheck div:nth-child(9){
	top: 40px;
	left: 280px;
}
.facecheck div:nth-child(11){
	top: 40px;
	left: 335px;
}
.facecheck div:nth-child(2){
	top: 160px;
    left: 25px;
}
.facecheck div:nth-child(4){
	top: 160px;
	left: 115px;
}
.facecheck div:nth-child(7){
	top: 160px;
	left: 225px;
}
.facecheck div:nth-child(12){
	top: 160px;
	left: 370px;
}
.facecheck div:nth-child(14){
	top: 160px;
	left: 500px;
}
.facecheck div:nth-child(5){
	top: 277px;
	left: 140px;
}
.facecheck div:nth-child(8){
	top: 277px;
	left: 220px;
}
.facecheck div:nth-child(10){
	top: 277px;
	left: 280px;
}
.facecheck div:nth-child(13){
	top: 277px;
	left: 335px;
}
.facecheck div:nth-child(17){
	top: 55px;
	left: 743px;
}
.facecheck div:nth-child(19){
	top: 55px;
	left: 826px;
}
.facecheck div:nth-child(15){
	top: 137px;
	left: 721px;
}
.facecheck div:nth-child(20){
	top: 137px;
	left: 811px;
}
.facecheck div:nth-child(16){
	top: 187px;
	left: 721px;
}
.facecheck div:nth-child(21){
	top: 187px;
	left: 811px;
}
.facecheck div:nth-child(18){
	top: 267px;
	left: 743px;
}
.facecheck div:nth-child(22){
	top: 267px;
	left: 826px;
}
.facecheck span{
	width: 100%;
	height: 100%;
	display: inline-block;
	border-radius: 50%;
	background-color: #00C261;
}
.autocheck{
	width: 1280px;
	height: 400px;
	position: relative;
	margin: 0 auto;
}
.autocheck img{
	width: 578.84px;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.autocheck div{
	position: absolute;
	display: inline-block;
	/* text-align: right; */
}
.autocheck div span{
	line-height: 20px;
	font-size: 14px;
	display: inline-block;
	color: #555555;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.autocheck-cone{
	top: 368px;
	right: 922px;
}
.autocheck-ctwo{
	top: 367px;
    left: 922px;
}
.autocheck-cthree:nth-child(4){
	top: 32px;
    right: 922px;
}
.autocheck-cthree:nth-child(5){
	top: 82px;
    right: 922px;
}
.autocheck-cthree:nth-child(6){
	top: 132px;
    right: 922px;
}
.autocheck-cthree:nth-child(7){
	top: 181px;
    right: 922px;
}
.autocheck-cthree:nth-child(8){
	top: 231px;
    right: 922px;
}
.autocheck-cfour:nth-child(9){
	top: 0;
    right: 568px;
}
.autocheck-cfour:nth-child(10){
	top: 50px;
    right: 568px;
}
.autocheck-cfive:nth-child(11){
	top: 0px;
    left: 922px;
}
.autocheck-cfive:nth-child(12){
	top: 50px;
    left: 922px;
}
.autocheck-cfive:nth-child(13){
	top: 100px;
    left: 922px;
}
.autocheck-csix:nth-child(14){
	top: 175px;
    left: 922px;
}
.diriveSys{
	display: flex;
}
.diriveSys .table{
	width: 25%;
}
.buy-process{
	height: 325px;
	overflow: hidden;
}
.buy-process .car-detail{
	display: flex;
	justify-content: space-between;
}
.buy-process img{
	width: 325px;
	height: 325px;
	overflow: hidden;
}
.process_cn{
	width: 100%;
	height: 376px;
}
.preorder .ivu-row{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.preorder .ivu-modal{
	width: 480px !important;
}
.preorder .ivu-col{
	position: relative;
}
.verifyCode{
	bottom: 0;
	margin-top: 21px;
}