.footer{
	display: flex;
	justify-content: space-between;
	background-color: #F6F6F6;
}
.footer-margino{
	width: 1280px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}
.footer-margint{
	width: 1280px;
	height: 100%;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.contact{
	width: 40%;
	margin: 10px 10px 0 10px;
	}
.contact a{
	color: #969696;
}
.contact .top{
	height: 60%;
	padding-right: 40px;
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
}
.con-top-r{
	width: 58%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex-direction: column; */
}
.contact .top .logo{
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.contact .top .wx a,.contact .top .phone a{
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.contact .top .logo img{
	width: 100px;
	height: 150px;
	border-radius: 20px;
}
.contact .top .wx img,.contact .top .phone img{
	width: 60px;
}
.contact .deadress li{
	list-style: none;
	font-size: 20px;
}
.adress{
	width: 60%;
	box-sizing: border-box;
	padding: 10px 10px 0 10px;
	text-align: center;
	border-left: 1px solid white;
}
.adress img{
	width: 100%;
	height: 100%;
}
.adress ul{
	display: flex;
	flex-wrap: wrap;
}
.adress li{
	width: 350px;
	padding-bottom: 15px;
	line-height: 30px;
	margin-right: 15px;
	}
.adress a{
	text-decoration: none;
}
.adress li span{
	color: #C21B36;
	font-size: 15px;
}
.adress li p{
	color: #969696;
	font-size: 15px;
}
.deadress p{
	font-size: 15px;
}
.misc{
	background: #F6F6F6;
	/* margin-top: 20px; */
	padding: 10px 20px;
	border-bottom: 1px solid white;
}
.misc ul{
	padding:5px 4px;
	display: flex;
	font-size: 15px;
	justify-content: flex-start;
	}
.misc ul a{
	padding: 0 15px;
	text-decoration: none;
	color: #969696;
}
.copy{
	width: 100%;
	line-height: 40px;
	background-color: #DA2515;
	color: white;
	font-size: 15px;
	text-align: center;
	padding: 0.2px 0;
}