#index p{
	font-size: 15px;
}
html, body {
      /* position: relative; */
    }
body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#000;
	margin: 0;
	color: #303741;
}
.swiper{
	width: 1280px;
	margin: 0 auto;
}
.swiper img{
	width: 100%;
	min-height: 350px;
	max-height: 350px;
}
.center-important{
	width: 100%;
	display: flex;
	background: white;
	border: 1px solid #F6F6F6;
}
.center-l{
	width: 55%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	/* border-right: 3px solid #E5E5E5; */
}
.center-l-t{
	width: 100%;
	height: 40px;
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	
}
.buy-title,.sale-title{
	width: 150px;
	font-size: 20px;
	margin-bottom: 15px;
}
.center-r{
	display: flex;
	flex-direction: column;
	width: 45%;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
	position: relative;
}
.center-r input{
	position: absolute;
	width: 60%;
	height: 42px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: 1px solid #DEDEDE;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.tagList {
    width: 100%;
    height: 364px;
    position: relative;
	font-size: 12px;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: #4B82FF;
    position: absolute;
    border-radius: 50%;
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	z-index: 98;
	/* padding: 15px; */
	text-align: center;
}
.circle:hover{
	cursor: pointer;
	z-index: 200;
}
.btn-sale{
	width: 100px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	position: absolute;
	background-color: #C21B36;
	color: white;
	left: 64.8%;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.btn-sale{
	cursor: pointer;
}
#search{
	width: 60%;
	height: 40px;
	left: 100px;
}
/* #search:before{
	content: '';
	background: url(../images/logol.png);
	background-size: cover;
	width: 50px;
	height: 30px;
	position: absolute;
	z-index: 100;
	left: 10px;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 10px;	
}
#search input {
	width: 75%;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding-left: 1px;
	box-sizing: border-box;
	font-size: 14px;
	border: none;
	color: #BFBFBF;
	border-left: 1px solid #F6F6F6;
	outline: none;
	border-radius: 0.5px;
}
#search input::-webkit-input-placeholder {
	color: #aab2bd;
} */
#tips{
	width: 25%;
	height: 50px;
	left: 67%;
	position: absolute;
	/* margin-top: 50px; */
	border: 1px solid rgba(0,0,0,.1);
	/* border-radius: 10px; */
	margin: 2px;
}
#tips .icon {
   width: 30px;
   height: 30px;
   vertical-align: -0.15px;
   fill: currentColor;
   overflow: hidden;
   position: absolute;
   background-color: #C21B36;
   border-radius: 50%;
   left: 10px;
   top: 0;
   bottom: 0;
   margin: auto;
   padding: 2px;
   box-sizing: border-box;
}
#tips .text{
	width: 70%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	padding-left: 5%;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #BFBFBF;
	font-size: 14px;
	border: none;
	border-left: 1px solid #F6F6F6;
	outline: none;
	overflow: hidden;
}
#tips .text .swiper-slide{
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.price-title{
	display: block;
	height: 30px;
	line-height: 30px;
	margin: 10px 0;
	border-bottom: 1px solid #EAEAEA;
	font-size: 16px;
}
.price-title a{
	float: right;
	font-size: 12px;
	color: #BFBFBF;
}
.price-btns{
	margin: 12px 0;
	display: flex;
	flex-wrap: wrap;
}
.price-btns .btn{
	border-radius: 0.2px;
	background-color: white;
	padding: 10px 15px;
	margin-top: 10px;
	outline: none;
	font-size: 14px;
	broder: none !important;
}
.price-btns .btn:hover{
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.cartype-btns{
	margin: 10px 0.4px 0 0.4px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	}
.cartype-btns a{
	font-size: 14px;
}
.cartype-btns button:hover{
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}
.cartype-btns button{
	margin-right: 15px;
	padding: 10px 15px;
	box-sizing: border-box;
	height: 60px;
	background-color: white;
	display: flex;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.cartype-btns button .img-c{
	width: 100%;
	height: 30px;
	box-sizing: border-box;
}
.cartype-btns button img{
	height: 80%;
}
.cartype-btns .cartype-name{
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.media-detail{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.media-item{
	width: calc(50% - 10px);
	height: 200px;
	margin: 10px 0;
	border: 1px solid #dcdee2;
	box-sizing: border-box;
	background-color: white;
}
.media-item:hover{
	box-shadow: 0 0 15px rgba(0, 0, 0, .2);
	transition: all .3s;
	transform: translateY(-3px);
}
.media-item a{
	display: flex;
	justify-content: space-between;
}
.media-item .bg{
	width: 45%;
	height: 200px;
}		
.media-r{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 10px;
}
.media-title{
	font-size: 14px;
	line-height: 40px;
	box-sizing: border-box;
	word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.media-time{
	font-size: 12px;
	box-sizing: border-box;
	color: #818181;
}
.media-art{
	font-size: 13px;
	word-break: break-all;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	color: #969696;
	line-height: 30px;
	box-sizing: border-box;
}
.media-more{
	font-size: 12px;
    color: #969696;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
/* .search-page{
	position: absolute;
	background-color: #f5f7fa;
	width: 100%;
	top: 45px;
	left: 0;
	z-index: 222;
	border: 1px solid rgba(0,0,0,.1);
}
.sear-top{
	width: 100%;
	height: 50px;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	background-color: white;
	box-sizing: border-box;
}
.search-page .icon{
	width: 30px;
	height: 30px;
	fill: currentColor;
	overflow: hidden;
	padding: 5px;
	box-sizing: border-box;
}
.search-page .close,.search-page .search{
	width: 10%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.search-page .content{
	width: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-page input{
	width: 100%;
	height: 40px;
	outline: none;
	background-color: transparent;
	color: #252825;
	border: 1px solid #f2f2f2;
    box-sizing: border-box;
    -webkit-appearance: textfield;
	border-radius: 0.1px;
	padding-left: 0.2px;
}
.search-record{
	width: 100%;
	background-color: white;
}
.search-record ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 13px;
	color: #303741;
}
.search-record a{
	width: 100%;
}
.search-record li{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}
.search-record .clear{
	border-top: 1px solid #e6e6e6;
	text-align: center;
} */
.record-item{
	border-top: 1px solid #e6e6e6;
	text-align: left;
}
.hot-search{
	width: 100%;
	background-color: white;
	margin-top: 0.2px;
}
.hot-search .title{
	font-size: 0.4px;
	padding: 0.3px;
}
.hot-search ul{
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #303741;
	justify-content: space-around;
	flex-wrap: wrap;
}
.hot-search a{
	text-align: center;
	border: 1px solid #e6e6e6;
	margin-bottom: 10px;
}
.hot-search li{
	padding: 5px;
}
.searchfade-enter-active, .searchfade-leave-active {
  transition: opacity .5s;
}
.searchfade-enter, .searchfade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.comment{
	width: 100%;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
	/* margin-top: 20px; */
}
.com-content{
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
}
.com-content .ivu-card:nth-child(4n){
	margin-right: 0 !important;
}
.com-content .ivu-card-body{
	/* height: 402px; */
	margin-bottom: 50px;
}
.com-content .ivu-card{
	position: relative;
}
.buy-describle{
	font-size: 15px;
	color: #656d75;
}
.ivu-card-head p{
	font-weight: 400 !important;
	font-size: 14px !important;
	text-align: center;
}
.com-bot{
	position: absolute;
	bottom: 10px;
	padding: 20px 0 0 0;
	color: #969696;
	box-sizing: border-box;
	align-items: baseline;
}
.score{
	font-size: 20px;
	color: red;
}
.adv1{
	width: 100%;
}
.step{
	background-color: white;
	padding: 50px;
}
.step img{
	width: 100px;
	height: 100px;
}
.adv2{
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.adv2-item{
	/* position: relative; */
	width: 20%;
	height: 340px;
	/* padding-bottom: 100%; */
	/* overflow: hidden; */
}
.adv2-item img{
	width: 100%;
	height: inherit;
	/* position: absolute; */
}
.adv2-item:nth-child(2){
	width: 37%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.adv2-item:nth-child(2) img{
	height: 48.5%;;
}
.car-detail{
	position: relative;
	min-height: 50px;
	display: flex;
	flex-wrap: wrap;
}
.adv1s{
	position: relative;
}
.adv1s span{
	position: absolute;
	top: 0;
	padding: 20px;
	font-size: 30px;
	color: white;
}
.car-item-c{
	width: 295px;
	margin: 0;
	margin-right: 20px;
}
.car-item-c:nth-child(4){
	margin-right: 0;
}