body{
	background: #F5F5F5;
}
.ins-carimg{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
}
.ins-carimgg{
	width: 100%;
}
.margin{
	background-color: white;
}
#installment{
	background: #F5F5F5;
}
#installment .service{
	font-size: 13px;
	margin: 10px 0 10px 0;
}
.ins-info{
	width: 100%;
    margin: 0 auto;
    position: relative;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
li{
	list-style: none;
}
.ins-info li{
	margin-bottom: 20px;
}
.ins-info li label{
	font-size: 15px;
	color: #969696;
}
.ins-info .input {
    /* font-size: 15px;
    background-color: #F3F3F3;
    border: 1px solid #E4E4E4;
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none; */
}
.ins-info .checkcode {
    display: flex;
    justify-content: space-between;
}
#check {
    width: 50%;
}
.ins-info .checkcode img {
    width: 140px;
    height: 50px;
}

.ins-info .choose-radio{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.ins-info .choose-radio .mr{
	margin-right: 20px;
}
.ins-info .choose-radio input{
	margin-right: 10px;
}
.ins-info .trait{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 15px;
	margin-top: 10px;
	background: linear-gradient(-90deg,#557fbd 16%,#5892c5 34%,#5892c5 42%,#557fbd 84%);
}
.ins-info .trait .img-item{
	padding: 10px;
	display: flex;
	align-items: center;
}
.ins-info .trait .img-item img{
	width: 70px;
	margin-right: 20px;
}
.ins-info .trait .img-item span{
	font-size: 25px;
	color: white;
}
.ins-info .trait .img-item p{
    color: gold;
}
.ins-info .trait .icon{
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
}
.ins-info .loan-process .title{
	font-size: 20px;
    height: 40px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 10px;
}
.ins-info .loan-process .img-item span{
	font-size: 20px;
	color: #495056;
	padding-left: 20px;
	position: relative;
}
.ins-info .loan-process .img-item .step-num{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
    display: inline;
	position: absolute;
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	background-color: #f1f3f6;
	left: -10px;
	top: 0;
}
.ins-info .loan-process .img-item p{
	font-size: 15px;
	padding-top: 20px;
	padding-left: 20px;
	border-left: 1px solid #f3f3f3;
	color: #757F89;
	box-sizing: border-box;
}
.ins-info .submit {
    /* color: #fff;
    background: #da2515;
    width: 95%;
    height: 40px;
    border-radius: 0.5px;
    border: none;
    outline: none;
    position: relative;
    left: 2.5%;
	margin: 10px 0; */
}
.lprogress .img-item{
	margin-bottom: 20px;
}
.ins-post{
	height: 350px;
	width: 350px;
	position: absolute;
	top: 25px;
	left: 100px;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	opacity: 0.95;
}
.ins-post li{
	display: flex;
	margin-bottom: 18px;
	justify-content: space-between;
}
.lprogress{
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.loan-process{
	margin-right: 50px;
}