.ins-carimg{
	width: 100%;
}
#installment .service{
	font-size: 15px;
	margin: 10px 0 10px 0;
}
.ins-info{
	width: 100%;
    margin: 0 auto;
    position: relative;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
.ins-info li{
	margin-bottom: 20px;
}
.ins-info li label{
	font-size: 15px;
	color: #969696;
}
.ins-info .input {
    font-size: 15px;
    background-color: #F3F3F3;
    border: 1px solid #E4E4E4;
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}
.ins-info .checkcode {
    display: flex;
    justify-content: space-between;
}
#check {
    width: 50%;
}
.ins-info .checkcode img {
    width: 140px;
    height: 50px;
}

.ins-info .choose-radio{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 10px;
}
.ins-info .choose-radio .mr{
	margin-right: 20px;
}
.ins-info .choose-radio input{
	margin-right: 10px;
}
.ins-info .trait{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}
.ins-info .trait .img-item{
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.ins-info .trait .icon{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
}
.ins-info .loan-process .title{
	font-size: 15px;
    height: 40px;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 10px;
}
.ins-info .loan-process .img-item span{
	font-size: 15px;
	color: #495056;
	padding-left: 20px;
	position: relative;
}
.ins-info .loan-process .img-item .step-num{
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
    display: inline;
	position: absolute;
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	background-color: #f1f3f6;
	left: -10px;
	top: 0;
}
.ins-info .loan-process .img-item p{
	font-size: 15px;
	padding-top: 20px;
	padding-left: 20px;
	border-left: 1px solid #f3f3f3;
	color: #757F89;
	box-sizing: border-box;
}
.ins-info .submit {
    color: #fff;
    background: #da2515;
    width: 95%;
    height: 40px;
    border-radius: 0.5px;
    border: none;
    outline: none;
    position: relative;
    left: 2.5%;
	margin: 10px 0;
}
.img-item{
	margin-bottom: 20px;
}