#personalCenter{
}
.user-info{
	box-sizing: border-box;
	width: 100%;
	height: 160px;
	padding: 25px;
	display: flex;
}
.head-img{
	border-radius: 50%;
	float: left;
	padding: 3px;
	border: 1px solid #e0e0e0;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
.head-img img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.user-num{
	width: 200px;
	color: lightgrey;
	height: 100%;
	font-size: 14px;
	margin-left: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.un1{
	height: 36px;
	font-size: 24px;
    font-weight: 400;
    color: #616161;
}
.un2{
	height: 20.8px;
	display: flex;
	align-items: center;
}
.un3{
	line-height: 30px;
}
.unr{
	color: #757575;
	font-size: 14px;
}
.update{
	color: #ff6700;
	font-size: 12px;
	cursor: pointer;
}
.user-info button{
	float: right;
	background-color: white;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 1px solid #dde4ea;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    color: #9ea2a6;
    font-size: 14px;
	margin-top: 70px;
	outline: none;
}
.sign-out{
	color: #fff;
    background: #da2515;
    width: 95%;
    height: 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    position: relative;
    left: 2.5%;
	margin-top: 20px;
	font-size: 14px;
}
.margin{
	display: flex;
	background-color: white;
}
.icons{
	width: 800px;
	display: flex;
	padding: 25px;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.icons .icon{
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 90px;
	display: inline-block;
	font-size: 70px;
	border-radius: 50%;
	color: white;
	margin-bottom: 20px;
	margin-right: 20px;
}
.icon-item{
	width: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 40px;
}
.icon-item:nth-child(1) .icon{
	background-color: #FF6709;
	
}
.icon-item:nth-child(2) .icon{
	background-color: #8BC34A;
	
}
.icon-item:nth-child(3) .icon{
	background-color: #2196F3;
}
.icon-item:nth-child(4) .icon{
	background-color: #FFAB00;
	
}
.icon-item .right{
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.icon-item .right p{
	font-size: 18px;
}
.icon-item .right span{
	font-size: 14px;
}
.icon-item .right p span{
	font-size: 18px;
	color: #ff6700;
}
.icon-item .right .lookmy{
	cursor: pointer;
}
.right-two{
	width: 400px;
	margin-top: 50px;
}
.two-space button{
	margin-right: 80px;
}
.right-three,.right-four{
	width: 600px;
	padding: 50px;
}
.right-three .ivu-form-item{
	width: 350px;
}
.right-five{
	width: 1100px;
	padding: 50px;
}
.car-item{
	width: 300px;
	margin: 0;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}