.sale-carimg{
	width: 100%;
}
.sale-info{
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-color: white;
	padding: 20px;
	box-sizing: border-box;
}
.sale-info li{
	margin-bottom: 40px;
}
.sale-info label{
	font-size: 15px;
	display: block;
	margin-bottom: 20px;
}
.sale-info input{
	font-size: 14px;
	background-color: #F3F3F3;
	border: 1px solid #E4E4E4;
	width: 100%;
	height: 40px;
	border-radius: 0px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
}
.sale-info .facecolor,.sale-info .insidecolor{
	height: 40px;
	border-bottom: 1px solid #F3F3F3;
}
.sale-info .facecolor select{
	outline: none;
	background-color: #F3F3F3;
	width: 100%;
	height: 40px;
}
.sale-info .face-right{
	float: right;
}
.sale-info .face-right img{
	width: 40px;
}
.sale-info .pxark{
	width: 100%;
	height: 45px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	border: none;
	background-color: #F3F3F3;
	border-radius: 10px;
}
.remark{
	width: 500px;
	height: 200px;
}
#phoneNum,#wxnum{
	margin-bottom: 10px;
}
.sale-info .checkcode{
	display: flex;
	justify-content: space-between;
}
#check{
	width: 50%;
}
.sale-info .checkcode img{
	width: 4px;
	height: 50px;
}
.sale-info .submit{
	color: #fff;
	background: #da2515;
	width: 95%;
	height: 40px;
	border-radius: 0.5px;
	border: none;
	outline: none;
	position: relative;
	left: 2.5%;
	
}
