<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>CHAMPION值购</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="css/bargin.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
</head>
<body>
	<div id="bargain" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in tipsArr">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane label="登录" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="登录" @click="login()">
										<div class="login-tips">
											<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane label="注册" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="注册" @click="register()">
										<div class="login-tips">
											<p class="legal">注册即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<img class="bargin-carimg" src="images/index_masthead0cn.jpg" alt="car">
			<div class="bargin-info">
			<div class="bargain-total"> 
				<div class="point">
					<img src="images/formbannericon0cn.png" >
					<img src="images/formbannericon1cn.png" >
					<img src="images/formbannericon2cn.png" >
				</div>
				<div class="point-p">
					<p>已有&nbsp;<span>{{total}}</span>&nbsp;人提交了车辆需求</p>
					<p>寻找爱车的路上不孤单，留下您的联系方式，我们联系您!</p>
				</div>
			</div>
			<p class="service"><span>CHAMPION 为您服务</span><br></p>
			<div class="service-con">
				<ul class="firul">
					<li>
						<div class="setw">
							<i-input type="text" v-model="postbody.name" name="address" placeholder="请输入您心仪的品牌和车型"/>
						</div>
						<label>例:2016年BMW428i</label>
					</li>
					<li>
						<div class="setw">
							<i-input type="text" v-model="postbody.price" name="address" placeholder="请输入您的预期价格"/>
						</div>
						<label>例:3w-4.5w</label>
					</li>
					<li>
						<div class="setw">
							<i-input type="text" v-model="postbody.mileage" name="address" placeholder="请输入您的预期里程"/>
						</div>
						<label>例:10000-30000(英里)</label>
					</li>
					<li><span class="tip">请确保您的手机号可用，支持中国，美国手机号</span></li>
					
				</ul>
				<ul class="secul">
					<li>
						<label class="remarkcolor">备注*</label>
						<i-input v-model="postbody.remark" type="textarea" :rows="4" placeholder="请输入您爱车的配置,以便我们对您的车辆有更多的了解。" />
					</li>
				</ul>
			</div>
			<ul class="thrul">
				<li>
					<i-input type="text" v-model="postbody.phone" name="address" placeholder="请输入您的手机号"/>
				</li>
				<li>
					<i-input type="text" v-model="postbody.weixin" name="address" placeholder="请输入您的微信号"/>
				</li>
				<li>
					<div class="checkcode">
						<div class="setw">
							<i-input type="text" v-model="postbody.verify_code" name="address" placeholder="请输入您的验证码"/>
						</div>
						<img  :src="verifyImg" @click="getVerifyImg" >
					</div>
				</li>
			</ul>
			<div class="btnc">
				<i-button class="btnsub" type="success" long @click="post">确认提交</i-button>
			</div>
			<label class="remarkcolor service">CHAMPION值购车特点</label>
			<ul class="fouul">
				<div class="img-item">
					<img src="images/c0.png" >
					<p>优质车源批发价</p>
				</div>
				<div class="img-item">
					<img src="images/c1.png" >
					<p>无需现场看车直接网上购买</p>
				</div>
				<div class="img-item">
					<img src="images/c2.png" >
					<p>ASE认证工程师300+项全车检测</p>
				</div>
				<div class="img-item">
					<img src="images/c3.png" >
					<p>全美49个州7日内送达</p>
				</div>
			</ul>
			<label class="remarkcolor service">CHAMPION值购车流程</label>
			<ul class="fouul fiveul">
				<div class="img-item">
					<img src="images/l0.png" >
					<p>客服会在适当的时间与您联系</p>
				</div>
				<img src="images/next.png" >
				<div class="img-item">
					<img src="images/l1.png" >
					<p>CHAM会更精确的帮您选择您的爱车</p>
				</div>
				<img src="images/next.png" >
				<div class="img-item">
					<img src="images/l2.png" >
					<p>值购车源抢先看</p>
				</div>
				<img src="images/next.png" >
				<div class="img-item">
					<img src="images/l3.png" >
					<p>CHAM及时响应您的需求</p>
				</div>
			</ul>
			</div>
		</div>
		<div class="misc">
			<div class="footer-margino">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/humacar.png" >
									<span>CHAMPION</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>+1(888)-888-6518</span>
								</a>
							</div>
						</div>
					</div>
					</div>
				<div class="adress">
					<ul>
						<a href="#">
							<li>
								<span>Massachusetts state马塞诸塞州</span>
								<p>134 east Howard st，Quincy，ma，02169，usa</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<span>
				Copyright@2016 CHAMPION Inc. Privacy Terms
			</span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			tipsArr:['免费代办过户','多种金融贷款服务','一年内全美道路救援服务','多种支付渠道（POS机、微信、支付宝等）多种支付渠道（POS机、微信、支付宝等）','100%无佣金'],
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			verifyImg: '',
			postbody: {
				phone: '',
				mileage: '',
				price: '',
				weixin: '',
				remark: '',
				verify_code_key: '',
				verify_code: '',
				name: '',
			},
			total: '',
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
			this.getVerifyImg();
			this.getTotal()
		},
		methods: {
			getTotal: function() {
				//提交车辆需求统计人数
				var that = this;
// 				var myDate = new Date();
// 				var time = myDate.toLocaleDateString().split('/').join('-');
				data.common('Car/countForRecommendationApplication',function(d){
					that.total = d;
					console.log(d)
				})
			},
			post: function(){
				var that = this;
				if(!localStorage.token){
					that && that.$Message.warning('请登录后进行申请!');
					return;
				}
				if(this.postbody.name == ''){
					that && that.$Message.warning('品牌和车型不能为空!');
					return;
				}
				if(this.postbody.verify_code_key == ''){
					that && that.$Message.warning('验证码尚未刷新!');
					return;
				}
				if(this.postbody.price == ''){
					that && that.$Message.warning('价格不能为空!');
					return;
				}
				if(this.postbody.mileage == ''){
					that && that.$Message.warning('里程不能为空!');
					return;
				}
				if(this.postbody.remark == ''){
					that && that.$Message.warning('备注留言不能为空!');
					return;
				}
				if(this.postbody.phone == ''){
					that && that.$Message.warning('手机号不能为空!');
					return;
				}
				if(this.postbody.weixin == ''){
					that && that.$Message.warning('微信号不能为空!');
					return;
				}
				if(this.postbody.verify_code == ''){
					that && that.$Message.warning('验证码不能为空!');
					return;
				}
				// console.log(this.postbody)
				data.common('CarWithAuth/recommendationApplication',function(d){
					console.log(d)
						if(d.code !== 400){
							that.$Notice.success({
								title: '车辆需求提交成功! ',
							});
						}else{
							var s = '';
							for(var k in d.data){
								s = s + d.data[k];
							}
							that.$Message.warning(s);
						}
				},this.postbody)
			},
			getVerifyImg: function(){
				var that = this;
				data.common('Misc/verifyCode',function(d){
					// console.log(d)
						if(d.code !== 400){
							that.verifyImg = d.img;
							that.postbody.verify_code_key = d.key;
						}else{
							console.log('请求验证码失败')
						}
				})
			},
			register: function() {
				var that = this;
				if(this.registerdata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.registerdata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/register',function(d){
						if(d == 400){
							that && that.$Message.warning('此用户名已被使用，请更换!');
						}else{
							that.$Notice.success({
								title: '注册成功!去登陆>>',
							});
						}
				},that.registerdata)
			},
			navTobuy: function(){
				localStorage.postbody = JSON.stringify({
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				})
			},
			login: function() {
				var that = this;
				if(this.logindata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.logindata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/login',function(d){
					// that.slideArr = d;
					if(d != 400){
						// console.log(d)
						localStorage.token = d;
						that.switchlogin = !that.switchlogin;
						that.loginshow = !that.loginshow;
						that.$Notice.success({
							title: '登录成功! ',
						});
						localStorage.login = true;
					}else{
						that.$Message.warning('登录失败,请检查用户名或密码是否正确!');
					}
				},this.logindata)
				
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#bargain')
	// 现在应用程序已经准备好了！
</script>
</html>