<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我要买车</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
    <link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="css/buy.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
</head>
<body>
	<div id="buy" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in tipsArr">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane label="登录" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="登录" @click="login()">
										<div class="login-tips">
											<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane label="注册" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="注册" @click="register()">
										<div class="login-tips">
											<p class="legal">注册即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<div class="choose-tag">
				<div class="choose-top">
					<span class="title">条件筛选</span>
					<ul class="tags">
						<li v-if="value1!=''">
							<span>{{value1[1]}}</span>
						</li>
						<li v-for="item in defaultmodels">
							<span>{{item}}</span>
						</li>
					</ul>
					<i-button type="warning" @click='clearall()'>清除所有 <Icon type="md-trash" /></i-button>
					<i-button type="primary" @click='post'>确定筛选</i-button>
				</div>
				<div class="buy-sel">
					<row>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title">
									品牌
								</div>
								<Cascader class="selin" :data="screeningCondition.brand" trigger="hover" v-model="value1" @on-change='getvaluebrand'></Cascader>
							</div>
						</i-col>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title titler">车系</div>
								<i-select class="selin" v-model="models[0]" clearable label-in-value @on-clear='getindex(0)'>
									<i-option v-for="item in screeningCondition.carseries" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvalueseries'>{{ item.label }}</i-option>
								</i-select>
							</div>
						</i-col>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title titler">价格</div>
								<i-select class="selin" v-model="models[1]" clearable label-in-value @on-clear='getindex(1)'>
									<i-option v-for="item in screeningCondition.price" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvalueprice'>{{ item.label }}</i-option>
								</i-select>
							</div>
						</i-col>
					</row>
					<Row>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title">车型</div>
								<i-select class="selin" v-model="models[2]" clearable label-in-value @on-clear='getindex(2)'>
									<i-option v-for="item in screeningCondition.cartype" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvaluecartype'>{{ item.label }}</i-option>
								</i-select>
							</div>
						</i-col>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title titler">里程</div>
								<i-select class="selin" v-model="models[3]" clearable label-in-value @on-clear='getindex(3)'>
									<i-option v-for="item in screeningCondition.mileage" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvaluemileage'>{{ item.label }}</i-option>
								</i-select>
							</div>
						</i-col>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title titler">车龄</div>
								<i-select class="selin" v-model="models[4]" clearable label-in-value @on-clear='getindex(4)'>
									<i-option v-for="item in screeningCondition.age" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvalueage'>{{ item.label }}</i-option>
								</i-select>
							</div>
						</i-col>
					</Row>
					<Row>
						<i-col span="8">
								<div class="buy-sel-item">
									<div class="title">颜色</div>
									<i-select class="selin" v-model="models[6]" clearable label-in-value @on-clear='getindex(6)'>
										<i-option v-for="item in screeningCondition.color" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvaluecolor'>{{ item.label }}</i-option>
									</i-select>
								</div>
						</i-col>
						<i-col span="8">
							<div class="buy-sel-item">
								<div class="title titler">变速箱</div>
								<i-select class="selin" v-model="models[5]" clearable label-in-value @on-clear='getindex(5)'>
									<i-option v-for="item in screeningCondition.gearbox" :value="item.label" :key="item.value" :data-info = "item.value" @click.native='getvaluegearbox'>{{ item.label }}</i-option>
								</i-select>
							</div>
						</i-col>
					</Row>
				</div>
			</div>
			<div class="recommoned">
				<div class="order">
					<ul>
						<li @click="sortdefult">默认排序</li>
						<li @click="sortbyprice">按价格排序</li>
						<li @click="sortbyage">按车龄排序</li>
						<li @click="sortbydistance">按里程排序</li>
					</ul>
				</div>
				<div class="car-detail">
					<Spin size="large" fix v-if="spinShow"></Spin>
					<Row>
						<i-col span="6" v-for="(item, index) in searchArr" :key='item.id'>
							<div class="car-item" @click="navigationToDetail(item.id)">
								<a href="carDetail.html">
									<img class="bg" :src="item.thumb">
									<img class="favorite" v-if="item.collected == 'y'" src="images/collected.png" @click.stop.prevent="collection(index, item.id)">
									<img v-else class="favorite" src="images/favorite.png" @click.stop.prevent="collection(index, item.id)">
									<div class="car-explain">
										<div class="explain-t">
											<div class="car-name">
												{{ item.model?item.model.year:''}}&nbsp;
												{{item.series?item.series.name:''}}&nbsp;
												{{item.model?item.model.displacement:''}}L
											</div>
											<div class="car-price">
												{{item.price}}
											</div>
										</div>
										<div class="distance">
											{{item.mileage}} 英里·{{item.model?item.model.door_count:''}}门·
											{{item.model?item.model.drive_type:''}}·
											{{item.model?item.model.cylinder_count:''}}缸·
											{{item.model?item.model.displacement:''}}L·
											{{item.model?item.model.intake_type:''}}·
											{{item.model?item.model.gearbox:''}}
										</div>
									</div>
								</a>
							</div>
						</i-col>
					</Row>
					<Alert style="margin-top: 10px;" show-icon v-if='searchArr.length == 0'>
						提示
						<Icon type="ios-bulb-outline" slot="icon"></Icon>
						<template slot="desc">暂无所选车辆,通知客服上新</template>
					</Alert>
				</div>
				<div class="redirectTopage">
					<Page 
					:current="page.index" 
					:total="page.total" 
					:page-size="page.size"
					show-elevator 
					show-total
					@on-change="currentpage" />
				</div>
			</div>
		</div>
		<div class="misc">
			<div class="footer-margino">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/humacar.png" >
									<span>CHAMPION</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>+1(888)-888-6518</span>
								</a>
							</div>
						</div>
					</div>
					</div>
				<div class="adress">
					<ul>
						<a href="#">
							<li>
								<span>Massachusetts state马塞诸塞州</span>
								<p>134 east Howard st，Quincy，ma，02169，usa</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<span>
				Copyright@2016 CHAMPION Inc. Privacy Terms
			</span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			screeningCondition: screeningCondition,
			value1: [],
			models:['','','','','','',''],
			tipsArr:['免费代办过户','多种金融贷款服务','一年内全美道路救援服务','多种支付渠道（POS机、微信、支付宝等）多种支付渠道（POS机、微信、支付宝等）','100%无佣金'],
			searchArr: [],
			page: {
				total: 10,
				index: 1,
				size: 20
			},
			postbody:{
				brand_id: '',
				car_series_id: '',
				car_type_id: '',
				price: '',
				mileage: '',
				age: '',
				gearbox: '',
				color: '',
				keyword: '',
				sale_point: '',
				page: 1,
				sort: ''
			},
			sort: [false,false,false],
			spinShow: false,
		},
		mounted() {
			var that = this;
			
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
			$('.order').find('li').click(function(){
				$(this).css({'background-color':'#DA2515','color':'white'}).siblings().css({'background-color':'white','color':'black'});
			});
			if(localStorage.postbody){
				that.postbody = JSON.parse(localStorage.postbody);
			}
			 // console.log(JSON.parse(localStorage.postbody))
			 this.carlistdata(that.postbody);
			
			// 品牌可选筛选条件
			data.common('Brand/all',function(d){
				// console.log(that)
				var sb = that.screeningCondition;
				// console.log(d)
				
				// 根据获取到的品牌数据创建符合条件的数据结构
				if(sb.brand){
					// console.log('已存在brand数组');
				}else{
					sb.brand = [];
				}
				for(var k in d){
					// 查看数组中是否已有符合条件的一级数据,没有自行创建
					var inarr = false,
					index;
					for(var s in sb.brand){
						// console.log(d[k].letter,sb.brand[s].label)
						if(d[k].letter == sb.brand[s].label){
							inarr = true;
							index = s;
							// console.log('符合' + s)
						}else{
							// console.log('不符合')
						}
					}
					// console.log(inarr);
					if(inarr){
						sb.brand[index].children.push({id:d[k].id,value:d[k].name,label:d[k].name})
					}else{
						// console.log(d[k].letter, d[k].id, d[k].name)
						sb.brand.push({value: d[k].letter,label: d[k].letter,children: [{id:d[k].id,value:d[k].name,label:d[k].name}]})
					}
				}
				// console.log(sb)
				that.screeningCondition.brand = sb.brand;
			})
			//车系可筛选条件
			data.common('CarSeries/all',function(d){
				that.$nextTick(function(){
					// console.log(d)
					var sb = that.screeningCondition;
					if(sb.carseries){
						// console.log('已存在carseries数组');
					}else{
						sb.carseries = [];
					}
					for(var k in d){
						sb.carseries.push({value:d[k].id,label:d[k].name});
					}
					// console.log(sb);
					that.screeningCondition = sb;
				})
			})
			//车型可筛选条件
			data.common('CarType/all',function(d){
				// console.log(d)
				that.$nextTick(function(){
					var sb = that.screeningCondition;
					if(sb.cartype){
						// console.log('已存在cartype数组');
					}else{
						sb.cartype = [];
					}
					for(var k in d){
						sb.cartype.push({value:d[k].id,label:d[k].name});
					}
					// console.log(sb);
					that.screeningCondition = sb;
					// console.log(that.screeningCondition)
				})
			})
		},
		watch: {
// 			postbody: {
// 				handler(news,olds){
// 					// console.log(news);
// 				},
// 				deep: true,
// 				immediate: true
// 			},
// 			models: {
// 				handler(news,olds){
// 					
// 					console.log(news);
// 				},
// 				deep: true,
// 				immediate: true
// 			},
// 			screeningCondition: {
// 				handler(news,olds){
// 					
// 					console.log(news);
// 				},
// 				deep: true,
// 				immediate: true
// 			},
		},
		computed: {
			defaultmodels: function () {
				return this.models.filter(function(str){
					if(str !== ''){
						return str;
					}
				})
			}
		},
		methods: {
			collection: function(index,id) {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				var ccol = that.searchArr,
				notice;
				if(ccol[index].collected == 'y'){
					ccol[index].collected = 'n';
					notice = '取消收藏成功';
				}else if(ccol[index].collected == 'n'){
					ccol[index].collected = 'y';
					notice = '收藏成功';
				}else{
					this.$Message.error('等待数据更新!');
					return;
				}
				var collectBody = {
					car_id: id,
					collected: ccol[index].collected
				}
				data.common('CarWithAuth/collect',function(d){
						console.log(d);
					if(d.code != 400 && d != 'undefined'){
						that.$Notice.success({
							title: 'Notification',
							desc:notice,
							duration: 4
						});
						searchArr = ccol;
					}else{
						that.$Message.error('收藏失败!');
					}
					
				},collectBody);
			},
			register: function() {
				var that = this;
				if(this.registerdata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.registerdata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/register',function(d){
						if(d == 400){
							that && that.$Message.warning('此用户名已被使用，请更换!');
						}else{
							that.$Notice.success({
								title: '注册成功!去登陆>>',
							});
						}
				},that.registerdata)
			},
			navTobuy: function(){
				localStorage.postbody = JSON.stringify({
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				})
			},
			navigationToDetail: function(e) {
				localStorage.goodId = e;
			},
			sortdefult: function() {
				this.clearall();
				this.postbody.sort = '';
				this.carlistdata(this.postbody);
			},
			sortbyprice: function() {
				this.clearall();
				this.postbody.sort = 'price|asc';
				this.carlistdata(this.postbody);
				// this.sort[0] =!this.sort[0];
			},
			sortbyage: function() {
				this.clearall();
				this.postbody.sort = 'year|asc';
				this.carlistdata(this.postbody);
			},
			sortbydistance: function() {
				this.clearall();
				this.postbody.sort ='mileage|asc';
				this.carlistdata(this.postbody);
			},
			post: function() {
				this.carlistdata(this.postbody);
			},
			getvaluebrand: function(e) {
				// console.log(e);
				if(e.length == 0){
					this.postbody.brand_id = '';
				}else{
					var b = this.screeningCondition.brand,
					levelone,
					leveltwo;
					for(var k in b){
						// console.log(b[k].value,e[0])
						if(b[k].value == e[0]){
							levelone = k;
						}
					}
					// console.log(levelone)
					// console.log(b[levelone])
					if(b[levelone]){
						var c = b[levelone].children;
						for(var s in c){
							if(c[s].value == e[1]){
								leveltwo = s;
							}
						}
						this.postbody.brand_id = b[levelone].children[leveltwo].id;
				}
				}
				// console.log(b[levelone].children[leveltwo].id);
			},
			getvalueseries: function(e) {
				this.postbody.car_series_id = e.target.dataset.info;
				// console.log(this.postbody)
				// console.log(e.target.dataset.info)
			},
			getvalueprice: function(e) {
				this.postbody.price = e.target.dataset.info;

				// console.log(e.target.dataset.info)
			},
			getvaluecartype: function(e) {
				this.postbody.car_type_id = e.target.dataset.info;

				// console.log(e.target.dataset.info)
			},
			getvaluecolor: function(e) {
				this.postbody.color = e.target.dataset.info;

				// console.log(e.target.dataset.info)
			},
			getvaluegearbox: function(e) {
				this.postbody.gearbox = e.target.dataset.info;

				// console.log(e.target.dataset.info)
			},
			getvaluemileage: function(e) {
				this.postbody.mileage = e.target.dataset.info;

				// console.log(e.target.dataset.info)
			},
			getvalueage: function(e) {
				this.postbody.age = e.target.dataset.info;
				// console.log(e.target.dataset.info)
			},
			currentpage: function(curpage) {
				this.postbody.page = this.page.index;
				this.carlistdata(this.postbody);
			},
			getindex: function(index){
				switch (index){
					case 0:
					this.postbody.car_series_id = '';
					break;
					case 1:
					this.postbody.price = '';
					break;
					case 2:
					this.postbody.car_type_id = '';
					break;
					case 3:
					this.postbody.mileage = '';
					break;
					case 4:
					this.postbody.age = '';
					break;
					case 5:
					this.postbody.gearbox = '';
					break;
					case 6:
					this.postbody.color = '';
					break;
					default:
					break;
				}
				// console.log(index);
			},
			// 车辆列表
			carlistdata:function(form) {
				var that = this;
				that.spinShow = true;
				data.common('Car/list',function(d){
					// console.log(d)
					that.searchArr = d.data;
					that.page.total = d.total;
					that.spinShow = false;
				},form)
			},
			login: function() {
				var that = this;
				if(this.logindata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.logindata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/login',function(d){
					// that.slideArr = d;
					if(d != 400){
						// console.log(d)
						localStorage.token = d;
						that.switchlogin = !that.switchlogin;
						that.loginshow = !that.loginshow;
						that.$Notice.success({
							title: '登录成功! ',
						});
						localStorage.login = true;
					}else{
						that.$Message.warning('登录失败,请检查用户名或密码是否正确!');
					}
				},this.logindata)
				
			},
			change: function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top: function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult: function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			},
			clearall: function() {
				var that = this;
				// new Promise(function(resolve,reject){
					for (let key in that.models) {
						that.models[key] = '';
					}
					that.value1 = [];
					for(var k in that.postbody){
						that.postbody[k] = '';
					}
					// resolve();
				// }).then(function(){
// 					this.$nextTick(function(){
// 						
// 						that.defaultmodels = [];
// 					})
				// })
			}
		}
	}).$mount('#buy')
	// 现在应用程序已经准备好了！
</script>
</html>