<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>车辆详情</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/carDetail.css">
	<link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
</head>
<body>
	<div id="about" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in tipsArr">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane label="登录" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="登录" @click="login()">
										<div class="login-tips">
											<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane label="注册" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="注册" @click="register()">
										<div class="login-tips">
											<p class="legal">注册即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<div class="tops">
				<div class="swiper-container">
				  <div class="swiper-wrapper">
					<div class="swiper-slide" v-for="item in slideArr">
						<!-- <a href="xx.html"> -->
							<img :src="item.url">
						<!-- </a> -->
					</div>
				  </div>
				  <div class="swiper-pagination"></div>
				  <!-- Add Arrows -->
				  <div class="swiper-button-next"></div>
				  <div class="swiper-button-prev"></div>
				</div>
				<div class="top-right">
					<div class="default">
						<div class="default-top">
							<div class="name">
								{{topinfo.name}}
							</div>
							<div class="coll">
								<img v-if="collect=='y'" src="images/collected.png" @click="collection">
								<img v-else src="images/favorite.png" @click="collection">
							</div>
						</div>
						<div class="default-left">
							<div class="price">
								CHAMPION价格
								<span>${{topinfo.price}}</span>
							</div>
							<div class="loan">
								<div class="min">
									最低贷款
									<span>${{min}}</span>
								</div>
								<div class="look" @click="instance('info')">
									查看贷款方案 >
								</div>
							</div>
							<div class="pbtn">
								<button type="button" @click="preorder">预约看车</button>
								<button type="button">在线咨询</button>
							</div>
							<div class="to-preorder">
								<Modal
									v-model="modal1"
									title="预约看车"
									@on-ok="ok"
									@on-cancel="cancel"
									:loading ="loading"
									class="preorder">
									<Row>
										<i-col span="12">
											<div class="">
												选择日期：
											</div>
											<Date-Picker type="date" style="width: 200px" size="large" placeholder="Select date" @on-change="getdate"></Date-Picker>
										</i-col>
										<i-col span="12">
											<div class="">
												选择时间：
											</div>
											<Time-Picker type="time" style="width: 200px" size="large" format="HH:mm" placeholder="Select time" style="width: 168px" @on-change="gettime"></Time-Picker>
										</i-col>
									</Row>
									<Row>
										<i-col span="12">
											<div class="">
												手机号：
											</div>
											<i-input style="width: 200px;" v-model="value1" size="large" placeholder="enter the phone number" />
										</i-col>
										<i-col span="12">
											<div class="">
												微信号：
											</div>
											<i-input style="width: 200px;" v-model="value3" size="large" placeholder="enter the WeChat ID" />
										</i-col>
									</Row>
									<Row>
										<i-col span="12">
											<div class="">
												验证码：
											</div>
											<i-input style="width: 200px;" v-model="value2" size="large" placeholder="enter the verification code" />
										</i-col>
										<i-col span="12">
											<img class="verifyCode" :src="verifyCode" @click="tranverifyCode">
										</i-col>
									</Row>
								</Modal>
							</div>
						</div>
						<div class="tips">
							<img src="images/zhigou.png" >
							<div class="tipsp">
								<p>海量车源、定制需求！您可以选择CHAMPIONAUTO值购</p>
								<a href="bargain.html">点击查看</a>
							</div>
						</div>
						<div class="level">
							<div class="level-item">
								<span>行驶里程</span>
								<span>{{mileage}}英里</span>
							</div>
							<div class="level-item">
								<span>复查等级</span>
								<span>{{level}}</span>
							</div>
							<div class="level-item">
								<span>过户记录</span>
								<span>{{transferRecord}}次</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="car-info">
				<div class="point">
					<div class="title">亮点配置</div>
					<ul>
						<li v-for="item in point">
							<img :src="item.image" >
							<p>{{item.name}}</p>
						</li>
					</ul>
				</div>
				<div class="config">
					<ul>
						<li>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-socar_displacement_icon"></use>
							</svg>
							<div class="config-r">
								<p>排量</p>
								<p>{{config.displacement}}L</p>
							</div>
						</li>
						<li>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-item-gear-box"></use>
							</svg>
							<div class="config-r">
								<p>变速箱</p>
								<p>{{config.gearbox}}</p>
							</div>
						</li>
						<li>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-youhao"></use>
							</svg>
							<div class="config-r">
								<p>油耗</p>
								<p>城市：{{config.cityfuelConsumption}}GL/高速：{{config.speedfuelConsumption}}GL</p>
							</div>
						</li>
						<li>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-cf-c64"></use>
							</svg>
							<div class="config-r">
								<p>级别</p>
								<p>{{config.type}}</p>
							</div>
						</li>
						<li>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-chicun"></use>
							</svg>
							<div class="config-r">
								<p>尺寸</p>
								<p>{{config.size}}inch</p>
							</div>
						</li>
						<li>
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-zuoweishu-shi"></use>
							</svg>
							<div class="config-r">
								<p>承载数量</p>
								<p>{{config.seat}}座</p>
							</div>
						</li>
						<li>
						</li>
						<li>
						</li>
					</ul>
				</div>
				<div class="title contitle">车辆配置</div>
				<i-table stripe :columns="columns" :data="datada"></i-table>
				<i-table class='allconfig' stripe :columns="columnss" :data="datads"></i-table>
				
				<div class="report" v-if="carreport">
					<div class="title">车辆检测报告<span>检测时间：{{reportTime}}</span><span>检测车型：{{topinfo.name}}</span></div>
					<div class="curtitle">
						<span class="ct-left">{{reportResult[0].name}}</span>
						<span class="ct-right">{{reportResult[0].result}}</span>
					</div>
					<div class="r-content">
						<img class="report_accident" src="images/report_accident.png" >
						<div class="table-con">
							<div class="table table-border">
								<div class="table-item" v-for="item in accidentArrone">
									<div>
										<span class="t-i-left">{{item.detection_pos_id}}</span>
										<span class="t-i-center">{{item.name}}</span>
										<span class="t-i-right icnormal" v-if="item.item[0].value == 'normal'">
											<Icon class="ic" type="ios-checkmark-circle-outline" />
										</span>
										<span class="t-i-right icexception" v-else>
											<Icon type="ios-close-circle-outline" />
										</span>
									</div>
								</div>
							</div>
							<div class="table tablew">
								<div class="table-item" v-for="item in accidentArrtwo">
									<div>
										<span class="t-i-left" v-if="item.detection_pos_id<17">{{item.detection_pos_id}}</span>
										<span class="t-i-center">{{item.name}}</span>
										<span class="t-i-right icnormal" v-if="item.item[0].value == 'normal'">
											<Icon class="ic" type="ios-checkmark-circle-outline" />
										</span>
										<span class="t-i-right icexception" v-else>
											<Icon type="ios-close-circle-outline" />
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="curtitle">
						<span class="ct-left">{{reportResult[1].name}}</span>
						<span class="ct-right">{{reportResult[1].result}}</span>
					</div>
					<div class="r-content facecheck-c">
						<div class="title">
							<div class="title-item">
								<div class="normal"></div>
								<span class="texts">正常</span>
							</div>
							<div class="title-item">
								<div class="repair"></div>
								<span class="texts">曾有钣金修复</span>
							</div>
							<div class="title-item">
								<div class="update"></div>
								<span class="texts">曾有覆盖件更换</span>
							</div>
							<div class="title-item">
								<div class="norepair"></div>
								<span class="texts">轻微瑕疵，尚未修复</span>
							</div>
						</div>
						<div class="facecheck">
							<img src="images/report_body.png" >
							<div v-for="item in facecheck">
								<span v-if="item.value == 'one'" style="background-color: #7FD441;"></span>
								<span v-else-if="item.value == 'two'" style="background-color: #b2cce5;"></span>
								<span v-if="item.value == 'three'" style="background-color: #ffb2b2;"></span>
								<span v-if="item.value == 'four'" style="background-color: #ff9900;"></span>
							</div>
						</div>
					</div>
					<div class="curtitle">
						<span class="ct-left">{{reportResult[2].name}}</span>
						<span class="ct-right">{{reportResult[2].result}}</span>
					</div>
					<div class="r-content">
						<div class="autocheck">
							<img src="images/report_turnon.png" >
							<div class="autocheck-cone" v-for="item in autodeviceone">
								<span class="icnormal" v-if="item.value == 'normal'">{{item.desc}}<Icon class="ic" type="ios-checkmark-circle-outline" /></span>
								<span class="icexception" v-else>{{item.desc}}<Icon type="ios-close-circle-outline" /></span>
							</div>
							<div class="autocheck-ctwo" v-for="item in autodevicetwo">
								<span class="icnormal" v-if="item.value == 'normal'">{{item.desc}}<Icon class="ic" type="ios-checkmark-circle-outline" /></span>
								<span class="icexception" v-else>{{item.desc}}<Icon type="ios-close-circle-outline" /></span>
							</div>
							<div class="autocheck-cthree" v-for="item in autodevicethree">
								<span class="icnormal" v-if="item.value == 'normal'">{{item.desc}}<Icon class="ic" type="ios-checkmark-circle-outline" /></span>
								<span class="icexception" v-else>{{item.desc}}<Icon type="ios-close-circle-outline" /></span>
							</div>
							<div class="autocheck-cfour" v-for="item in autodevicefour">
								<span class="icnormal" v-if="item.value == 'normal'">{{item.desc}}<Icon class="ic" type="ios-checkmark-circle-outline" /></span>
								<span class="icexception" v-else>{{item.desc}}<Icon type="ios-close-circle-outline" /></span>
							</div>
							<div class="autocheck-cfive" v-for="item in autodevicefive">
								<span class="icnormal" v-if="item.value == 'normal'">{{item.desc}}<Icon class="ic" type="ios-checkmark-circle-outline" /></span>
								<span class="icexception" v-else>{{item.desc}}<Icon type="ios-close-circle-outline" /></span>
							</div>
							<div class="autocheck-csix" v-for="item in autodevicesix">
								<span class="icnormal" v-if="item.value == 'normal'">{{item.desc}}<Icon class="ic" type="ios-checkmark-circle-outline" /></span>
								<span class="icexception" v-else>{{item.desc}}<Icon type="ios-close-circle-outline" /></span>
							</div>
						</div>
					</div>
					<div class="curtitle">
						<span class="ct-left">{{reportResult[3].name}}</span>
						<span class="ct-right">{{reportResult[3].result}}</span>
					</div>
					<div class="diriveSys">
						<div class="table table-border">
							<div class="table-item">
								<div>
									<span class="t-i-center">启动</span>
								</div>
							</div>
							<div class="table-item" v-for="item in dirveSysone">
								<div>
									<span class="t-i-center">{{item[0].name}}</span>
									<span class="t-i-right icnormal" v-if="item[0].value == 'normal'">
										<Icon class="ic" type="ios-checkmark-circle-outline" />
									</span>
									<span class="t-i-right icexception" v-else>
										<Icon type="ios-close-circle-outline" />
									</span>
								</div>
							</div>
						</div>
						<div class="table table-border">
							<div class="table-item">
								<div>
									<span class="t-i-center">起步</span>
								</div>
							</div>
							<div class="table-item" v-for="item in dirveSystwo">
								<div>
									<span class="t-i-center">{{item[0].name}}</span>
									<span class="t-i-right icnormal" v-if="item[0].value == 'normal'">
										<Icon class="ic" type="ios-checkmark-circle-outline" />
									</span>
									<span class="t-i-right icexception" v-else>
										<Icon type="ios-close-circle-outline" />
									</span>
								</div>
							</div>
						</div>
						<div class="table table-border">
							<div class="table-item">
								<div>
									<span class="t-i-center">加速</span>
								</div>
							</div>
							<div class="table-item" v-for="item in dirveSysthree">
								<div>
									<span class="t-i-center">{{item[0].name}}</span>
									<span class="t-i-right icnormal" v-if="item[0].value == 'normal'">
										<Icon class="ic" type="ios-checkmark-circle-outline" />
									</span>
									<span class="t-i-right icexception" v-else>
										<Icon type="ios-close-circle-outline" />
									</span>
								</div>
							</div>
						</div>
						<div class="table table-border">
							<div class="table-item">
								<div>
									<span class="t-i-center">匀速驾驶</span>
								</div>
							</div>
							<div class="table-item" v-for="item in dirveSysfour">
								<div>
									<span class="t-i-center">{{item[0].name}}</span>
									<span class="t-i-right icnormal" v-if="item[0].value == 'normal'">
										<Icon class="ic" type="ios-checkmark-circle-outline" />
									</span>
									<span class="t-i-right icexception" v-else>
										<Icon type="ios-close-circle-outline" />
									</span>
								</div>
							</div>
						</div>
						<div class="table tablew">
							<div class="table-item">
								<div>
									<span class="t-i-center">减速及制动</span>
								</div>
							</div>
							<div class="table-item" v-for="item in dirveSysfive">
								<div>
									<span class="t-i-center">{{item[0].name}}</span>
									<span class="t-i-right icnormal" v-if="item[0].value == 'normal'">
										<Icon class="ic" type="ios-checkmark-circle-outline" />
									</span>
									<span class="t-i-right icexception" v-else>
										<Icon type="ios-close-circle-outline" />
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<Alert style="margin-top: 10px;" show-icon v-else>
					提示
					<Icon type="ios-bulb-outline" slot="icon"></Icon>
					<template slot="desc">暂无车辆报告,等待检测</template>
				</Alert>
			</div>
			<div class="recommoned buy-process" style="margin-top: 20px;">
				<div class="title" style="margin-bottom: 20px;">购车流程</div>
				<div class="car-detail">
					<img class="process_cn" src="images/process_cn.png" >
				</div>
			</div>
			<div class="recommoned" style="margin: 20px 0;">
				<div class="title">猜你想看</div>
				<div class="car-detail">
					<Row>
						<i-col span="6" v-for="(item, index) in guesswant" :key='item.id'>
							<div @click = "navigatorToDetail(item.id)" class="car-item">
								<a>
									<img class="bg" :src="item.thumb">
									<img class="favorite" v-if="item.collected == 'y'" src="images/collected.png" @click.stop.prevent="guesswantCollection(index, item.id)">
									<img v-else class="favorite" src="images/favorite.png" @click.stop.prevent="guesswantCollection(index, item.id)">
									<div class="car-explain">
										<div class="explain-t">
											<div class="car-name">
												{{ item.model?item.model.year:''}}&nbsp;
												{{item.series?item.series.name:''}}&nbsp;
												{{item.model?item.model.displacement:''}}L
											</div>
											<div class="car-price">
												{{item.price}}
											</div>
										</div>
										<div class="distance">
											{{item.mileage}} 英里·{{item.model?item.model.door_count:''}}门·
											{{item.model?item.model.driver_type:''}}·
											{{item.model?item.model.cylinder_count:''}}缸·
											{{item.model?item.model.displacement:''}}L·
											{{item.model?item.model.intake_type:''}}·
											{{item.model?item.model.gearbox:''}}
										</div>
									</div>
								</a>
							</div>
						</i-col>
					</Row>
				</div>
			</div>
			<div class="misc">
				<div class="footer-margino">
					<ul>
						<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
					</ul>
				</div>
			</div>
			<div class="footer">
				<div class="footer-margint">
					<div class="contact">
						<div class="top">
							<div class="logo"><img src="images/logo.jpg" ></div>
							<div class="con-top-r">
								<div class="wx">
									<a>
										<img src="images/humacar.png" >
										<span>CHAMPION</span>
									</a>
								</div>
								<div class="phone">
									<a>
										<img src="images/phone.png" >
										<span>+1(888)-888-6518</span>
									</a>
								</div>
							</div>
						</div>
						</div>
					<div class="adress">
						<ul>
							<a href="#">
								<li>
									<span>Massachusetts state马塞诸塞州</span>
									<p>134 east Howard st，Quincy，ma，02169，usa</p>
								</li>
							</a>
							<a href="#">
								<li>
									<span>洛杉矶旗舰店地址</span>
									<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
								</li>
							</a>
							<a href="#">
								<li>
									<span>洛杉矶旗舰店地址</span>
									<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
								</li>
							</a>
						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<span>
					Copyright@2016 CHAMPION Inc. Privacy Terms
				</span>
			</div>
			<Spin size="large" fix v-if="spinShow"></Spin>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			tipsArr:['免费代办过户','多种金融贷款服务','一年内全美道路救援服务','多种支付渠道（POS机、微信、支付宝等）多种支付渠道（POS机、微信、支付宝等）','100%无佣金'],
			slideArr: [],
			//顶部右侧车辆基础信息
			topinfo:{
				name: '',
				price: 0,
			},
			loanarr: [0.3,0.4,0.5,0.6,0.7],
			defaultloanarr:[],
			mileage: 0,
			level: 'A',
			transferRecord: 0,
			point: [],
			min: 0,
			// 初始配置
			config: {
				displacement: 0,
				gearbox: '',
				cityfuelConsumption: '0.00',
				speedfuelConsumption: '0.00',
				type: '',
				size: '',
				seat: 0,
			},
			// 配置表格一
			columns: [
				{
					title: '基本参数',
					key: 'name'
				},{
					title: '发动机参数',
					key: 'age'
				},{
					title: '底盘及制动',
					key: 'address'
				},
			],
			datada: [],
			// 配置表格二
			columnss: [
				{
					title: '安全配置',
					key: 'name'
				},{
					title: '外部配置',
					key: 'age'
				},{
					title: '内部配置',
					key: 'address'
				}
			],
			datads: [],
			// 检测报告
			reportTime: '',
			reportResult: [{},{},{},{}],
			accidentArrone: [],
			accidentArrtwo: [],
			facecheck: [],
			autodeviceone: [],
			autodevicetwo: [],
			autodevicethree: [],
			autodevicefour: [],
			autodevicefive: [],
			autodevicesix: [],
			dirveSysone: [],
			dirveSystwo: [],
			dirveSysthree: [],
			dirveSysfour: [],
			dirveSysfive: [],
			spinShow: false,
			carreport: true,
			// 猜你想看
			guesswant: [],
			//预约看车
			modal1: false,
			verifyCode: '',
			value1: '',
			value2: '',
			value3: '',
			date: '',
			time: '',
			loading: true,
			registerdata: {
				username: '',
				password: ''
			},
			collect: '',
			collectArr: [],
		},
		mounted() {
			
			var that = this;
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
			var goodId;
			if(localStorage.goodId){
				goodId = localStorage.goodId;
			}else{
				goodId = 2;
			}
			// console.log(goodId);
			that.spinShow = true;
			data.common('Car/detail',function(d){
				console.log(d)
				var car = d.car;
				var model = car.model;
				that.collect = car.collected;//保存收藏状态
				// console.log(car.collected)
				// 顶部图片切换
				that.slideArr = car.image;
				// 顶部右侧车辆基础信息
				that.topinfo.name = model.year + ' ' + car.brand.name+ ' ' + car.series.name + ' ' + model.displacement +'L';
				that.topinfo.price = car.price;
				that.mileage = car.mileage;
				that.level = model.level;
				that.transferRecord = car.transfer_record;
				//计算贷款方案
				that.loanfun();
				//亮点配置
				that.point = model.configuration;
				that.config.displacement = model.displacement;
				that.config.gearbox = model.gearbox;
				that.config.cityfuelConsumption = model.city_fuel_consumption;
				that.config.speedfuelConsumption = model.high_speed_fuel_consumption;
				that.config.type = model.car_type.name;
				that.config.size = model.size;
				that.config.seat = model.seat_count;
				
				//车辆配置
				// 配置表格一
				// console.log(that.reportResult)
				var datada =[
					{
						name: '厂商：' + model.company,
						age: '发动机：' + model.engine + '马力',
						address: '驱动方式：' + model.driver_type,
					},{
						name: '级别：' + model.level,
						age: '排量(L)：' + model.displacement + 'L',
						address: '助力类型：' + model.assist_type,
					},{
						name: '变速箱：' + model.gearbox,
						age: '进气类型：' + model.intake_type,
						address: '前悬挂类型：' + model.front_suspension_type,
					},{
						name: '车门数量：' + model.door_count,
						age: '气缸：' + model.cylinder_count,
						address: '后悬挂类型：' + model.back_suspension_type,
					},{
						name: '长*宽*高(inch)：'+ model.size,
						age: '最大马力(Ps)：' + model.maximum_horsepower,
						address: '前制动类型：' + model.front_brake_type,
					},{
						name: '轴距(inch)：' + model.wheelbase,
						age: '最大扭矩(N*m)：' + model.maximum_torque,
						address: '后制动类型：' + model.back_brake_type,
					},{
						name: '高速油耗(GL)：' + model.high_speed_fuel_consumption + 'GL',
						age: '燃料类型：' + model.fuel_type,
						address: '轮胎描述：' + model.tire_desc,
					},{
						name: '城市油耗(GL)：' + model.city_fuel_consumption + 'GL',
						age: '发动机防盗系统：' + model.engine_anti_theft_system,
						address: '',
					}
				];
				that.datada = datada;
				// 配置表格二
				var configone = d.configuration,
				configtwo = model.configuration;
				// 添加has属性
				for(var k in configone){
					var cd = configone[k].data;
					for(var s in cd){
						for(var p in configtwo){
							if(cd[s].name == configtwo[p].name){
								configone[k].data[s].has = true;
							}else{
								if(configone[k].data[s].has){
									// 不用再次操作
								}else{
									configone[k].data[s].has = false;
								}
							}
							// console.log(configtwo[s])
						}
					}
				}
				// console.log(configone)
				// 整理数据结构
				var datads = [{},{},{},{},{},{},{},{},{},{},];
				for(var r in configone){
					var cd = configone[r].data;
					for(var e in cd){
						if(r == 0){
							datads[e].name = cd[e].name + '：' + (cd[e].has?'有':'无');
						}else if(r == 1){
							datads[e].age = cd[e].name + '：' + (cd[e].has?'有':'无');
						}else{
							datads[e].address = cd[e].name + '：' + (cd[e].has?'有':'无');
						}
					}
				}
				// console.log(datads)
				that.datads = datads;
				
				//车辆检测报告
				if(car.report){
					let find = function(rm, id, value) {
						for(var k in rm){
							// console.log(rm[k][id], value)
							if (rm[k][id] == value) {
								return rm[k];
							}
							
						}
					};
					// 检测报告四条title
					var report = car.report;
					that.reportTime = report.update_time;
					var rm = report.module;
					
					var accident,
					facecheck,
					autodevice,
					dirveSys;
					for(var k in rm){
						var f = find(rm, 'detection_module_id', Number(k) + 1);
						that.reportResult[k].result = f.result;
						that.reportResult[k].name = f.name;
					}
					accident = find(rm, 'detection_module_id', 1).position;
					facecheck = find(rm, 'detection_module_id', 2).position;
					autodevice = find(rm, 'detection_module_id', 3).position;
					dirveSys = find(rm, 'detection_module_id', 4).position;
					
					// console.log(accident)
					// 事故排查
					for(var k in accident){
						if(k < 14){
							that.accidentArrone.push(accident[k]);
						}else if(k >= 14){
							that.accidentArrtwo.push(accident[k]);
						}
						
					}
					// 外观内饰
					var facecheckArr = [
						{
							value: find(facecheck, 'name' ,'1')?find(facecheck, 'name' ,'1').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'2')?find(facecheck, 'name' ,'2').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'3')?find(facecheck, 'name' ,'3').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'4')?find(facecheck, 'name' ,'4').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'5')?find(facecheck, 'name' ,'5').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'6')?find(facecheck, 'name' ,'6').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'7')?find(facecheck, 'name' ,'7').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'8')?find(facecheck, 'name' ,'8').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'9')?find(facecheck, 'name' ,'9').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'10')?find(facecheck, 'name' ,'10').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'11')?find(facecheck, 'name' ,'11').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'12')?find(facecheck, 'name' ,'12').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'13')?find(facecheck, 'name' ,'13').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'14')?find(facecheck, 'name' ,'14').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'15')?find(facecheck, 'name' ,'15').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'16')?find(facecheck, 'name' ,'16').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'17')?find(facecheck, 'name' ,'17').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'18')?find(facecheck, 'name' ,'18').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'19')?find(facecheck, 'name' ,'19').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'20')?find(facecheck, 'name' ,'20').item[0].value:'one'
						},{
							value: find(facecheck, 'name' ,'21')?find(facecheck, 'name' ,'21').item[0].value:'one'
						}
					];
					that.facecheck = facecheckArr;
					
					//启动设备检测
					// console.log(autodevice)
					that.autodeviceone = find(autodevice, 'name' ,'2')?find(autodevice, 'name' ,'2').item.slice(0, 1): [{value:'normal',desc:'车辆排气正常'}];
					that.autodevicethree = find(autodevice, 'name' ,'3')?find(autodevice, 'name' ,'3').item.slice(0, 5): [{value:'normal',desc:'仪表盘指示灯显示正常,无故障报警'},{value:'normal',desc:'仪表盘指示灯显示正常,无故障报警 各类灯光调节功能正常'},{value:'normal',desc:'空调系统运转正常'},{value:'normal',desc:'泊车辅助系统工作正常'},{value:'normal',desc:'方向盘自由行程转角小于15度'}];
					that.autodevicetwo = find(autodevice, 'name' ,'4')?find(autodevice, 'name' ,'4').item.slice(0, 1): [{value:'normal',desc:'脚踏板功能正常'}];
					that.autodevicefour = find(autodevice, 'name' ,'5')?find(autodevice, 'name' ,'5').item.slice(0, 2): [{value:'normal',desc:'原地打转向时,转向机、转向柱、方向系统正常'},{value:'normal',desc:'变速箱换挡功能正常'}];
					that.autodevicefive = find(autodevice, 'name' ,'6')?find(autodevice, 'name' ,'6').item.slice(0, 3): [{value:'normal',desc:'怠速运转时发动机运转稳定'},{value:'normal',desc:"空挡提速时发动机运转稳定"},{value:'normal',desc:" 驻车制动器工作正常"}];
					that.autodevicesix = find(autodevice, 'name' ,'7')?find(autodevice, 'name' ,'7').item.slice(0, 1): [{value:'normal',desc:"车辆启动顺畅"}];
					
					//驾驶系统检测
					// console.log(dirveSys)
					for(var k in dirveSys){
						if(dirveSys[k].detection_group_id == 1){
							that.dirveSysone.push(dirveSys[k].item);
						}else if(dirveSys[k].detection_group_id == 2){
							that.dirveSystwo.push(dirveSys[k].item);
						}else if(dirveSys[k].detection_group_id == 3){
							that.dirveSysthree.push(dirveSys[k].item);
						}else if(dirveSys[k].detection_group_id == 4){
							that.dirveSysfour.push(dirveSys[k].item);
						}else{
							that.dirveSysfive.push(dirveSys[k].item);
						}
					}
				}else{
					that.carreport = false;
				}
				that.spinShow = false;
			},{id:goodId})
			// 猜你想看
			this.guesswantinfo();
			//获取验证码
			this.tranverifyCode();
		},
		methods: {
			guesswantinfo: function(){
				var that = this;
				data.common('Car/recommendation',function(d){
					// console.log(d)
					that.guesswant = d.slice(0,4);
				})
			},
			guesswantCollection: function(index,id) {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				var ccol = this.guesswant,
				notice;
				if(ccol[index].collected == 'y'){
					ccol[index].collected = 'n';
					notice = '取消收藏成功';
				}else if(ccol[index].collected == 'n'){
					ccol[index].collected = 'y';
					notice = '收藏成功';
				}else{
					this.$Message.error('等待数据更新!');
					return;
				}
				var collectBody = {
					car_id: id,
					collected: ccol[index].collected
				}
				data.common('CarWithAuth/collect',function(d){
						console.log(d);
					if(d.code != 400 && d != 'undefined'){
						that.$Notice.success({
							title: 'Notification',
							desc:notice,
							duration: 4
						});
						that.guesswant = ccol;
					}else{
						that.$Message.error('收藏失败!');
					}
					
				},collectBody);
			},
			collection: function() {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				var ccol = this.collect,
				notice;
				if(ccol == 'y'){
					ccol = 'n';
					notice = '取消收藏成功';
				}else if(ccol == 'n'){
					ccol = 'y';
					notice = '收藏成功';
				}else{
					this.$Message.error('等待数据更新!');
					return;
				}
				var collectBody = {
					car_id: localStorage.goodId,
					collected: ccol
				}
				data.common('CarWithAuth/collect',function(d){
						// console.log(d);
					if(d.code != 400 && d != 'undefined'){
						that.$Notice.success({
							title: 'Notification',
							desc:notice,
							duration: 4
						});
						that.collect = ccol;
						that.guesswantinfo();
					}else{
						that.$Message.error('收藏失败!');
					}
					
				},collectBody);
			},
			register: function() {
				var that = this;
				if(this.registerdata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.registerdata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/register',function(d){
						if(d == 400){
							that && that.$Message.warning('此用户名已被使用，请更换!');
						}else{
							that.$Notice.success({
								title: '注册成功!去登陆>>',
							});
						}
				},that.registerdata)
			},
			getdate: function(e) {
				this.date = e;
			},
			gettime: function(e) {
				this.time = e;
			},
			preorder: function() {
				this.modal1 = true;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
				}
			},
			tranverifyCode: function() {
				var that = this;
				data.common('Misc/verifyCode',function(d){
					// console.log(d)
					that.verifyCode = d.img;
					localStorage.verifyKey = d.key;
				})
			},
			ok: function() {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					this.loading = false;
					return;
				}
				if(this.date == ''){
					this.$Message.info('请选择日期!');
					this.loading = false;
					return;
				}
				if(this.time == ''){
					this.$Message.info('请选择时间!');
					this.loading = false;
					return;
				}
				if(this.value1 == ''){
					this.$Message.info('请填写手机号!');
					this.loading = false;
					return;
				}
				if(this.value2 == ''){
					this.$Message.info('请填写验证码!');
					this.loading = false;
					return;
				}
				if(this.value3 == ''){
					this.$Message.info('请填写微信号!');
					this.loading = false;
					return;
				}
				this.loading = true;
				var pbody = {
					phone: this.value1,
					weixin: this.value3,
					appointment: this.date + ' ' + this.time,
					verify_code_key: localStorage.verifyKey,
					verify_code: this.value2,
					car_id: localStorage.goodId,
				}
				// console.log(pbody)
				data.common('CarWithAuth/reservation',function(d){
					if(d.code != 400 && d != 'undefined'){
						// console.log(d);
						that.$Notice.success({
							title: 'Notification',
							desc:'预约成功,等待通知!',
							duration: 0
						});
						that.modal1 = false;
					}else{
						that.$Message.error('预约失败!');
						that.loading = false;
					}
					
				},pbody);
            },
            cancel: function() {
                
            },
			navigatorToDetail: function(e) {
				localStorage.goodId = e;
				window.location.href= "carDetail.html";
			},
			navTobuy: function(){
				localStorage.postbody = JSON.stringify({
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				})
			},
			//计算贷款方案
			loanfun: function() {
				for(var k in this.loanarr){
					this.defaultloanarr[k] = Math.ceil((1 - this.loanarr[k]) * this.topinfo.price/60);
				}
				this.min = Math.ceil((1 - this.loanarr[this.loanarr.length-1]) * this.topinfo.price/60);
			},
			//贷款方案弹窗
			instance (type) {
                const title = '贷款方案';
                const content = '\
				<div class = "loan-pop-up">\
					<p class = "ptor">首付30%</p>\
					<p class = "pbor">月还款金额<span>$'+ this.defaultloanarr[0] +'</span></p>\
					<p class = "ptor">首付40%</p>\
					<p class = "pbor">月还款金额<span>$'+ this.defaultloanarr[1] +'</span></p>\
					<p class = "ptor">首付50%</p>\
					<p class = "pbor">月还款金额<span>$'+ this.defaultloanarr[2]+'</span></p>\
					<p class = "ptor">首付60%</p>\
					<p class = "pbor">月还款金额<span>$'+ this.defaultloanarr[3] +'</span></p>\
					<p class = "ptor">首付70%</p>\
					<p class = "pbor">月还款金额<span>$'+ this.defaultloanarr[4] +'</span></p>\
					<div class="lptp">该方案仅供参考,实际请与CHAMPION金融专员沟通后确认</div>\
					<div class = "lpub">\
						<div class = "lpub-item">\
							<div class = "lpubit"\
								<label>支持人群：</label>\
								<span>学生</span>\
							</div>\
							<div class = "lpubib"\
								<label>车辆价格：</label>\
								<span>$'+ this.topinfo.price +'</span>\
							</div>\
						</div>\
						<div class = "lpub-item">\
							<div class = "lpubit"\
								<label>证件类型：</label>\
								<span>SSN</span>\
							</div>\
							<div class = "lpubib"\
								<label>还款期限：</label>\
								<span>60个月</span>\
							</div>\
						</div>\
					</div>\
				</div>';
				this.$Modal.info({
					title: title,
					content: content
				});
            },
			login: function() {
				console.log('sss')
				var that = this;
				if(this.logindata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.logindata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/login',function(d){
					// that.slideArr = d;
						// console.log(d)
					if(d != 400){
						localStorage.token = d;
						that.switchlogin = !that.switchlogin;
						that.loginshow = !that.loginshow;
						that.$Notice.success({
							title: '登录成功! ',
						});
						localStorage.login = true;
					}else{
						that.$Message.warning('登录失败,请检查用户名或密码是否正确!');
					}
				},this.logindata)
				
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#about')
	new Swiper('.swiper-container', {
	    autoHeight: true,
	    pagination: {
			el: '.swiper-pagination',
			type: 'fraction',
	    },
		navigation: {
		  nextEl: '.swiper-button-next',
		  prevEl: '.swiper-button-prev',
		},
	    loop:true,
		observer:true
// 	    autoplay: {
// 			delay: 2500,
// 			disableOnInteraction:false
// 	    }
	});
</script>
</html>