<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>车辆详情</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script src="js/vue-i18n.js"></script>
	<script src="js/language.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js"></script>
	<script src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/carDetail.css">
</head>
<body>
	<div id="about" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<a href="javascript:history.back()">
				<svg class="icon back" aria-hidden="true">
					<use xlink:href="#icon-fanhui"></use>
				</svg>
			</a>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					<div class="login">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="login-item">
							<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号"/>
						</div>
						<div class="login-item">
							<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
							<input type="button" class="getcode" value="获取验证码" />
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" value="登录" v-on:click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="swiper-container">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide" v-for="item in slideArr">
				<!-- <a href="xx.html"> -->
					<img :src="'images/' + item">
				<!-- </a> -->
			</div>
		  </div>
		  <div class="swiper-pagination"></div>
		  <!-- Add Arrows -->
		  <div class="swiper-button-next"></div>
		  <div class="swiper-button-prev"></div>
		</div>
		<div class="car-info">
			<div class="default">
				<div class="default-left">
					<div class="default-top">
						<div class="name">
							哈弗H6
						</div>
						<div class="coll">
							<img src="images/favorite.png" >
						</div>
					</div>
					<div class="price">
						CHAMPION价格：
						<span>$12451.2</span>
					</div>
				</div>
				<button type="button">预约看车</button>
			</div>
			<div class="config">
				<ul>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-socar_displacement_icon"></use>
						</svg>
						<div class="config-r">
							<span>排量：</span>
							<span>1.5L 2.0L</span>
						</div>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-item-gear-box"></use>
						</svg>
						<div class="config-r">
							<span>变速箱：</span>
							<span>手动 双离合</span>
						</div>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-youhao"></use>
						</svg>
						<div class="config-r">
							<span>油耗：</span>
							<span>7-8.3L/百公里</span>
						</div>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-cf-c64"></use>
						</svg>
						<div class="config-r">
							<span>级别：</span>
							<span>SUV</span>
						</div>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-chicun"></use>
						</svg>
						<div class="config-r">
							<span>尺寸：</span>
							<span>4600*1860*1720</span>
						</div>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-zuoweishu-shi"></use>
						</svg>
						<div class="config-r">
							<span>承载数量</span>
							<span>5座</span>
						</div>
					</li>
					<li>
						<span class="more"><a href="param.html">更多详细参数配置&nbsp;&nbsp;<img class="arrow-r" src="images/jiantou.png"></a></span>
					</li>
				</ul>
			</div>
			<div class="level">
				<div class="level-item">
					<span>行驶里程</span>
					<span>33213英里</span>
				</div>
				<div class="level-item">
					<span>复查等级</span>
					<span>A</span>
				</div>
				<div class="level-item">
					<span>过户记录</span>
					<span>1次</span>
				</div>
			</div>
			<div class="point">
				<div class="title">亮点配置</div>
				<ul>
					<li>倒车影像</li>
					<li>蓝牙链接</li>
					<li>电动天窗</li>
					<li>碰撞预警</li>
					<li>胎压监测</li>
					<li>防抱死系统</li>
					<li>定速巡航</li>
					<li>启动前自检</li>
					<li>免提电话</li>
					<li>铝合金轮毂</li>
				</ul>
			</div>
			<div class="report">
				<div class="title">检测报告</div>
				<ul>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-shigupaicha1"></use>
						</svg>
						<span>事故排查</span>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-shebeijiance"></use>
						</svg>
						<span>设备检测</span>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-waiguanneishijiancex"></use>
						</svg>
						<span>外观内饰检测</span>
					</li>
					<li>
						<svg class="icon" aria-hidden="true">
						    <use xlink:href="#icon-jiance-copy"></use>
						</svg>
						<span>驾驶系统检测</span>
					</li>
				</ul>
				<a class="report-detail" href="report.html">
					查看详细检测报告
				</a>
			</div>
		</div>
		<div class="recommoned">
			<div class="title">猜你想看</div>
			<div class="car-detail">
				<div class="car-item" v-for="item in $t('explain')">
					<a href="#">
						<img class="bg" src="images/car-1.jpg">
						<div class="car-explain">
							<div class="explain-t">
								<div class="car-name">
									{{item.name}}
								</div>
								<div class="car-price">
									{{item.price}}
								</div>
							</div>
							<div class="distance">
								{{item.distance}}
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="contact">
			<div class="top">
					<div class="logo"><img src="images/logor.png" ></div>
				<div class="wx">
					<a href="#">
						<img src="images/humacar.png" >
						<span>CAR</span>
					</a>
				</div>
				<div class="phone">
					<a href="#">
						<img src="images/phone.png" >
						<span>+1(888)-888-6518</span>
					</a>
				</div>
			</div>
			</div>
		<div class="adress">
			<ul>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
			</ul>
		</div>
		<div class="misc">
			<ul>
				<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
			</ul>
		</div>
		<div class="copy">
			<span>
        Copyright@2016 CHAMPION Inc. Privacy Terms
    </span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				phonenum:'',
				checkcode:''
			},
			slideArr: ['face.jpg','control.jpg','other.jpg','seat.jpg'],
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
		},
		methods: {
			login: function() {
				if(this.logindata.phonenum == ''){
					alert("请填写手机号!");
					return;
				}
				else if(this.logindata.checkcode == ''){
					alert("请填写验证码!");
					return;
				}
				this.switchlogin = !this.switchlogin;
				this.loginshow = !this.loginshow;
				alert('登录成功!');
				localStorage.login = true;
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#about')
	new Swiper('.swiper-container', {
	    autoHeight: true,
	    pagination: {
			el: '.swiper-pagination',
			type: 'fraction',
	    },
		navigation: {
		  nextEl: '.swiper-button-next',
		  prevEl: '.swiper-button-prev',
		},
	    loop:true,
// 	    autoplay: {
// 			delay: 2500,
// 			disableOnInteraction:false
// 	    }
	});
</script>
</html>