<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>隐私申明</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script src="js/vue-i18n.js"></script>
	<script src="js/language.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js"></script>
	<script src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/contactUs.css">
</head>
<body>
	<div id="private" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<a href="javascript:history.back()">
				<svg class="icon back" aria-hidden="true">
					<use xlink:href="#icon-fanhui"></use>
				</svg>
			</a>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					<div class="login">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="login-item">
							<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号"/>
						</div>
						<div class="login-item">
							<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
							<input type="button" class="getcode" value="获取验证码" />
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" value="登录" v-on:click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="content">
			<div class="title">
				联系我们
			</div>
			<div class="contact-info">
				<div class="info-item">
					<img src="images/kefu.jpg" >
					<p>7x24小时中文客服电话:</p>
					<p>美国 +1(888)-999-4615</p>
				</div>
				<div class="info-item">
					<img src="images/youxiang.jpg" >
					<p>邮箱:</p>
					<p>championauto888@163.com</p>
				</div>
				<div class="info-item">
					<img src="images/facebook.png" >
					<p>facebook:</p>
					<p>https://www.facebook.com/champion</p>
				</div>
			</div>
		</div>
		<div class="contact">
			<div class="top">
					<div class="logo"><img src="images/logor.png" ></div>
				<div class="wx">
					<a href="#">
						<img src="images/humacar.png" >
						<span>CAR</span>
					</a>
				</div>
				<div class="phone">
					<a href="#">
						<img src="images/phone.png" >
						<span>+1(888)-888-6518</span>
					</a>
				</div>
			</div>
			</div>
		<div class="adress">
			<ul>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
			</ul>
		</div>
		<div class="misc">
			<ul>
				<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
			</ul>
		</div>
		<div class="copy">
			<span>
        Copyright@2016 CHAMPION Inc. Privacy Terms
    </span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				phonenum:'',
				checkcode:''
			},
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
		},
		methods: {
			login: function() {
				if(this.logindata.phonenum == ''){
					alert("请填写手机号!");
					return;
				}
				else if(this.logindata.checkcode == ''){
					alert("请填写验证码!");
					return;
				}
				this.switchlogin = !this.switchlogin;
				this.loginshow = !this.loginshow;
				alert('登录成功!');
				localStorage.login = true;
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#private')
	// 现在应用程序已经准备好了！
</script>
</html>