<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>联系我们</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/contactUs.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="dist/locale/en-US.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<!-- <script type="text/javascript" src="dist/locale/zh-CN.js"></script> -->
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
</head>
<body>
	<div id="private" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in $t('tipsArr')">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane :label="$t('log')" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('log')" @click="login()">
										<div class="login-tips">
											<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane :label="$t('register')" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('register')" @click="register()">
										<div class="login-tips">
											<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<div class="content">
				<div class="title">
					联系我们
				</div>
				<div class="contact-info">
					<div class="info-item">
						<img src="images/kefu.jpg" >
						<p>7x24小时中文客服电话:</p>
						<p>美国 +1(888)-999-4615</p>
					</div>
					<div class="info-item">
						<img src="images/youxiang.jpg" >
						<p>邮箱:</p>
						<p>championauto888@163.com</p>
					</div>
					<div class="info-item">
						<img src="images/facebook.png" >
						<p>facebook:</p>
						<p>https://www.facebook.com/champion</p>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="misc">
						<div class="footer-margino">
							<ul>
								<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
							</ul>
						</div>
					</div>
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/humacar.png" >
									<span>{{$t('champion')}}</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>{{$t('addressphone')}}</span>
								</a>
							</div>
						</div>
					</div>
						<a href="#" class="deadress">
							<li>
								<span>{{$t('address')}}</span>
								<p>{{$t('addressDetail')}}</p>
							</li>
						</a>
				</div>
				<div class="adress">
					<ul>
						<img src="images/address.png" >
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<span>
				Copyright@2019 CHAMPION Inc. Privacy Terms
			</span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
		},
		mounted() {
			orifun.initStatu(this);
		},
		methods: {
			navTobuy: function(){
				orifun.initpostbody();
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			}
		}
	}).$mount('#private')
	// 现在应用程序已经准备好了！
</script>
</html>