<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>建议反馈</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script src="js/vue-i18n.js"></script>
	<script src="js/language.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js"></script>
	<script src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/feedback.css">
</head>
<body>
	<div id="feedback" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<a href="javascript:history.back()">
				<svg class="icon back" aria-hidden="true">
					<use xlink:href="#icon-fanhui"></use>
				</svg>
			</a>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<a class="person" href="personalCenter.html">
				<!-- <span>登录</span> -->
				<svg class="icon" aria-hidden="true">
				    <use xlink:href="#icon-yidenglu"></use>
				</svg>
			</a>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="slide-fade">
				<div v-if="show">
					<div class="mask" v-on:click="show = !show">
					</div>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-xiazai45"></use>
									</svg>
									<span>{{ $t("header.home") }}</span>
								</a>
							</li>
							<li>
								<a href="buy.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-car"></use>
									</svg>
									<span>{{ $t("header.buy") }}</span>
								</a>
							</li>
							<li>
								<a href="sale.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-maiche"></use>
									</svg>
									<span>{{ $t("header.sale") }}</span>
								</a>
							</li>
							<li>
								<a href="bargain.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-cart"></use>
									</svg>
									<span>{{ $t("header.bargain") }}</span>
								</a>
							</li>
							<li>
								<a href="installment.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-huankuanri"></use>
									</svg>
									<span>{{ $t("header.hire") }}</span>
								</a>
							</li>
							<li>
								<a href="about.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-chehangBmen"></use>
									</svg>
									<span>{{ $t("header.about") }}</span>
								</a>
							</li>
							<li>
								<a href="personalCenter.html">
									<svg class="icon" aria-hidden="true">
									    <use xlink:href="#icon-gerenzhongxin"></use>
									</svg>
									<span>{{ $t("header.center") }}</span>
								</a>
							</li>
							<li>
								<a href="#">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					<div class="login">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="login-item">
							<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号"/>
						</div>
						<div class="login-item">
							<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
							<input type="button" class="getcode" value="获取验证码" />
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" value="登录" v-on:click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<!-- <img class="feedback-carimg" src="images/index_masthead0cn.jpg" alt="car"> -->
		<div class="all_content">
			<textarea id="inval" placeholder="如果您对于我们的功能、内容、商品方面有任何建议或者意见,请您再次填写被采纳的意见,我们对您抱以诚挚的感谢!"></textarea>
			<ul class="img_content">
				<li>
					<div class="add_border" v-on:click='bindChange()'>
						<img src="images/feed_back_add.png">
					</div>
				</li>
			</ul>
		<div class="service">
			<img src="images/icon_customer_service@2x.png">
			<div class="service_r">
				<span>400-8080-788</span>
				<span>客服中心电话</span>
			</div>
		</div>
		</div>
		<button id="btn_edit" type="button" v-on:click="sub">提交</button>
		<div class="contact">
			<div class="top">
					<div class="logo"><img src="images/logor.png" ></div>
				<div class="wx">
					<a href="#">
						<img src="images/humacar.png" >
						<span>CAR</span>
					</a>
				</div>
				<div class="phone">
					<a href="#">
						<img src="images/phone.png" >
						<span>+1(888)-888-6518</span>
					</a>
				</div>
			</div>
			</div>
		<div class="adress">
			<ul>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
			</ul>
		</div>
		<div class="misc">
			<ul>
				<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
			</ul>
		</div>
		<div class="copy">
			<span>
        Copyright@2016 CHAMPION Inc. Privacy Terms
    </span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				phonenum:'',
				checkcode:''
			},
			index: 0,
			imgarr: [],
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
		},
		methods: {
			login: function() {
				if(this.logindata.phonenum == ''){
					alert("请填写手机号!");
					return;
				}
				else if(this.logindata.checkcode == ''){
					alert("请填写验证码!");
					return;
				}
				this.switchlogin = !this.switchlogin;
				this.loginshow = !this.loginshow;
				alert('登录成功!');
				localStorage.login = true;
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			},
			tags:function(url){
				var median = "<li>"+
					"<div class='img_border' >"+
						"<img src=" +url+">"+
						"<div class='img_progress'>"+
						"</div>"+
						"<div class='img_status'>"+
							"<div class='img_status_c'>"+
								"<p class='status'>等待上传中</p>"+
								"<p class='percent'>0%</p>"+
							"</div>"+
						"</div>"+
					"</div>"+
				"</li>";
				return median;
			},
			chooseImg:function(e){
				<!-- 使用filereader即时显示图片 -->
				var len;
				console.log("已保存图片张数：" + imgarr.length);
				<!-- 如果选中的加上已保存的大于4，如3+5大于4 ，则循环的次数为4-3次 -->
				if(e.target.files.length + imgarr.length > 4){
					len = 4 - imgarr.length;
					alert('最多只能选择四张图片！');
				}else{
					<!-- 如果选中的加上已保存的小于等于4，如2+1小于4，则循环的次数为1次 -->
					len = e.target.files.length;
				}
				console.log("选择图片张数：" + len);
				
				for(i = 0;i < len;i++){
					var reader = new FileReader();
					reader.readAsDataURL(e.target.files[i]);
					reader.onload = function(es){
						imgarr.push(es.target.result);
						$('.add_border').parent().before(tags(es.target.result));
					}
				}
			},
			bindChange:function(){
				// 动态创建input=file 元素,并监听change 事件以获取图片
				var file = document.createElement('input');
				file.type = "file";
				file.className = "file";
				file.multiple = "multiple";
				file.maxlength="1";
				file.click();
				$(this).before(file);
				
				var that = this;
				$('.file').eq(that.index).on('change',function(e){
					that.chooseImg(e);
					that.index++;
				})
			},
			sub:function(){
				var textVal = $('#inval').val();
				console.log(textVal);
				if(textVal.length <= 5){
					alert("请输入至少5个字数！");
					return;
				}
				//整合需要提交的数据
				var postData = {
					"textVal":textVal,
					"imgarr":imgarr
				}
				
				var status = "正在上传中";//上传状态
				var percent = '40%';//上传百分比
				var tagResult = uploadStatus(status,percent);
				
				//根据XMLHttpRequest返回的上传进度更新状态
				$(".img_content li").eq(1).find(".status").html(status);
				$(".img_content li").eq(1).find(".percent").html(percent);
				console.log($(".img_content li").eq(1).find(".img_progress"))
				$(".img_content li").eq(1).find(".img_progress").css("height",percent);
			}
		}
	}).$mount('#feedback')
	// 现在应用程序已经准备好了！
</script>
</html>