<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="renderer" content="webkit">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="mobile-agent" content="format=html5; url=http://m.championcargroup.com/">
	<title>CHAMPION-index</title>
	<meta name="location" content="province=福建;city=福州;coord=">
	<meta name="keywords" content="CHAMPION,CHAMPIONAUTO,CHAMPIONCAR,CHAMPIONAUTOGROUP">
	<meta name="description" content="人人车福州二手车市场,福州二手车交易市场,为您提供福州二手车交易信息,福州二手车出手转让信息,免费提供福州二手车评估,福州二手车报价,详询4000350113！">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<link rel="stylesheet" href="dist/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<style type="text/css">
		
	</style>
</head>
<body>
	<div id="index" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
					<div class="nav-menu">
						<ul>
							<li>
								<a href="index.html">
									<span>{{ $t("header.home") }}</span>
								</a>
							</li>
							<li>
								<a href="buy.html">
									<span>{{ $t("header.buy") }}</span>
								</a>
							</li>
							<li>
								<a href="sale.html">
									<span>{{ $t("header.sale") }}</span>
								</a>
							</li>
							<li>
								<a href="bargain.html">
									<span>{{ $t("header.bargain") }}</span>
								</a>
							</li>
							<li>
								<a href="installment.html">
									<span>{{ $t("header.hire") }}</span>
								</a>
							</li>
							<li>
								<a href="about.html">
									<span>{{ $t("header.about") }}</span>
								</a>
							</li>
							<li>
								
							</li>
							<li>
								<a href="">
								</a>
							</li>
						</ul>
					</div>
					<div id="tips">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-ling"></use>
						</svg>
						<div class="text text-container">
							<ul class="swiper-wrapper">
								<li class="swiper-slide" v-for="item in tipsArr">{{item}}</li>
							</ul>
						</div>
					</div>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					<div class="login">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="login-item">
							<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号"/>
						</div>
						<div class="login-item">
							<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
							<input type="button" class="getcode" value="获取验证码" />
						</div>
						<input type="button" class="btn-login" value="登录" v-on:click="login()">
						<div class="login-tips">
							<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="swiper">
			<Carousel
				v-model="value3"
				:autoplay="setting.autoplay"
				:autoplay-speed="setting.autoplaySpeed"
				:dots="setting.dots"
				:radius-dot="setting.radiusDot"
				:trigger="setting.trigger"
				:arrow="setting.arrow">
				<Carousel-Item  v-for="item in slideArr" v-bind:key='item.id'>
					<img class="carouselimg" :src="item.path" >
					<!-- <div class="demo-carousel">1</div> -->
				</Carousel-Item>
			</Carousel>
		</div>
		<div class="margin">
			<div class="center-important">
				<div class="center-l">
					<div class="center-l-t">
						<span class="buy-title">
							我要买车
						</span>
						<div id="search">
							<input type="text" value="" :placeholder="$t('search.place')" v-on:focus="searchshow = !searchshow"/>
							<transition name="searchfade">
								<div class="search-page" v-if="searchshow">
									<div class="sear-top">
										<div class="close" v-on:click="searchshow = !searchshow">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-close"></use>
											</svg>
										</div>
										<div class="content">
											<input type="text">
										</div>
										<div class="search">
											<a href="buy.html">
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-search1187938easyiconnet"></use>
												</svg>
											</a>
										</div>
									</div>
									<div class="search-record">
										<ul>
											<a href="buy.html"><li class="record-item">大众</li></a>
											<a href="buy.html"><li class="record-item">福特</li></a>
											<a href=""><li class="clear">清除历史搜索记录</li></a>
										</ul>
									</div>
									
								</div>
							</transition>
						</div>
						
					</div>
					<span class="price-title">CAR Price <a href="buy.html">查看更多&nbsp;></a></span>
					<div class="price-btns">
						<button class="btn" type="button" v-for="item in $t('price')" style="border: none;"><a href="buy.html">{{item}}</a></button>
					</div>
					<span class="price-title">CAR brand</span>
					<div class="cartype-btns">
						<button type="button" v-for="item in $t('cartype')">
							<a href="buy.html">
								<div class="img-c">
									<img :src="'images/'+item.logo" >
								</div>
								<span class="cartype-name">{{item.name}}</span>
							</a>
						</button>
						<button type="button" class="moretype">
							<a href="buy.html">
								<div class="img-c">
									...
								</div>
								<div>{{ $t("more") }}</div>
							</a>
						</button>
					</div>
				</div>
				<div class="center-r">
					<span class="sale-title">
						热门搜索
					</span>
				
					<div class="tagList">
					    <div class="circle" v-for="item in hotsearch">
					        <h2 v-if="item.type === 'brand'">{{item.brand?item.brand.name:''}}</h2>
					        <h2 v-else-if="item.type === 'series'">{{item.series?item.series.name:''}}</h2>
					        <h2 v-else-if="item.type === 'keyword'">{{item.value}}</h2>
					        <h2 v-else>其他</h2>
					    </div>
					</div>
				</div>
			</div>
			<div class="recommoned" v-cloak>
				<span class="re-title">{{ $t("recom") }}</span>
				<div class="sel-type">
					<ul>
						<li v-for="(item, index) in $t('seltype')" v-on:click="selected($event)" @click="recommonedata(index)">{{item}}</li>
					</ul>
				</div>
				<div class="car-detail">
					<div class="car-item" v-for="item in $t('explain')">
						<a href="carDetail.html">
							<img class="bg" :src="item.thumb">
							<img class="favorite" src="images/favorite.png">
							<div class="car-explain">
								<div class="explain-t">
									<div class="car-name">
										{{ item.model?item.model.year:''}}&nbsp;
										{{item.series?item.series.name:''}}&nbsp;
										{{item.model?item.model.displacement:''}}L
									</div>
									<div class="car-price">
										${{item.price}}
									</div>
								</div>
								<div class="distance">
									{{item.mileage}} 英里·{{item.model?item.model.door_count:''}}门·
									{{item.model?item.model.drive_type:''}}·
									{{item.model?item.model.cylinder_count:''}}缸·
									{{item.model?item.model.displacement:''}}L·
									{{item.model?item.model.intake_type:''}}·
									{{item.model?item.model.gearbox:''}}
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="comment">
				<span class="re-title">CHAMPION故事</span>
				<div class="com-content">
					<Card style="width:350px"  v-for="item in comment" v-bind:key="item.id">
						<p slot="title">
							{{item.car?item.car.title:''}}
						</p>
						<ul>
							<li>
								<img class="bg" :src="item.image[0]?item.image[0].url:''" style="width: 100%;">
								<div class="buy-describle">
									购车描述
								</div>
								<div class="media-art">
									{{item.content}}
								</div>
								<div class="com-bot">
									<div class="from">
										来自{{item.user?item.user.username:''}}的评价
									</div>
									<div class="">
										强烈推荐<span class="score">{{item.product_score}}</span>分
									</div>
								</div>
							</li>
						</ul>
					</Card>
				</div>
			</div>
			<div class="recommoned">
				<span class="re-title">{{ $t("mediaVoice") }}</span>
					<div class="media-detail">
						<div class="media-item" v-for="item in $t('media')">
							<a href="#">
								<img class="bg" :src="item.thumb">
								<div class="media-r">
									<div class="media-title">
										{{item.title}}
									</div>
									<div class="media-time">
										{{item.update_time}}
									</div>
									<div class="media-art">
										{{item.content?item.content.content:''}}
									</div>
									<div class="media-more">
										更多<Icon type="ios-play-outline" />
									</div>
								</div>
							</a>
						</div>
					</div>
			</div>
			<div class="misc">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
			<div class="footer">
				<div class="contact">
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/humacar.png" >
									<span>CHAMPION</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>+1(888)-888-6518</span>
								</a>
							</div>
						</div>
					</div>
					</div>
				<div class="adress">
					<ul>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
					</ul>
				</div>
			</div>
			
			<div class="copy">
				<span>
					Copyright@2016 CHAMPION Inc. Privacy Terms
				</span>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			searchshow: false,
			loginshow: false,
			switchlogin: true,
			logindata: {
				phonenum:'',
				checkcode:''
			},
			slideArr: [],
			tipsArr:['免费代办过户','多种金融贷款服务','一年内全美道路救援服务','多种支付渠道（POS机、微信、支付宝等）多种支付渠道（POS机、微信、支付宝等）','100%无佣金'],
			value3: 0,
			setting: {
				autoplay: true,
				autoplaySpeed: 2000,
				dots: 'inside',
				radiusDot: false,
				trigger: 'hover',
				arrow: 'hover'
			},
			comment: [],
			hotsearch: [],
		},
		mounted() {
			var that = this;
			
			var userTags = {
				color: ['#4B82FF', '#FF747B', '#15D5E0', '#FFB178', '#8871FF', '#ED59F8'],
				circleAttr: {minWidth: 60,maxWidth: 80},
				circlePosi: [{cl: 25,ct: 130},
				{cl: 100,ct: 20},
				{cl: 200,ct: 50},
				{cl: 300,ct: 20},
				{cl: 400,ct: 20},
				{cl: 500,ct: 190},
				{cl: 550,ct: 180}],
				parAttr:{width: 427,height: 370},
				bigFont: 12,
				smallFont: 12,
				length: 10,
				posiArr: [],
				getDefault: function() { //获取当前tagList的高度和circle的个数
					var w = $('.tagList').width();
					if (w > this.parAttr.width) {
						this.parAttr.width = w;
					}
					this.length = $('.circle').length;
// 					if(this.length > 7){
// 						//制定比例，外部盒子宽度越小，circle个数越多。circle宽高越小，内部上下两块字体越小 1450 : 7 ：140 ：21 ：14
// 						var userAgent = navigator.userAgent;
// 						var isChrome = userAgent.indexOf("Chrome") > -1;//浏览器适配
// 						if(isChrome){
// 							this.circleAttr.minWidth = this.circleAttr.minWidth - (this.length - 7) * 140 / 15;
// 							this.circleAttr.maxWidth = this.circleAttr.maxWidth - (this.length - 7) * 140 / 15;
// 							this.bigFont = this.bigFont - (this.length - 7) * 21 / 4;
// 							this.smallFont = this.smallFont - (this.length - 7) * 14 / 4;
// 						}
// 					}
					if(this.length > 9){
						$('.circle').find('h2').css('margin-bottom','0');
					}
				},
				getRandomNum: function(max, min) { //随机获取两个数中间的数值
					if (min > max) {
						var median = min;
						min = max;
						max = median;
					}
					var n = Math.round(Math.random() * (max - min) + min);
					return n;
				},
				overlap: function(j) {
					//验证是否重叠,利用组合算法的思想
					
					var mw = this.circleAttr.maxWidth;
					var len = this.posiArr.length;
					for(var i = 0; i < len - 1; i++){
						for(var j = i + 1; j < len; j++){
							if(Math.abs(this.posiArr[i].cl - this.posiArr[j].cl) <= (mw - 25) && Math.abs(this.posiArr[i].ct - this.posiArr[j].ct) <= (mw - 25)){
								return this.getPosi();
							}
						}
					}
					
				},
				getPosi: function() {
					var i = 0;
					for( ; i < this.length; i++){//获取circle长度的位置数据
						if(this.posiArr[i]){
					
						}else{
							this.posiArr[i] = {};
						}
						var cl = this.getRandomNum(0, this.parAttr.width - this.circleAttr.maxWidth);
						var ct = this.getRandomNum(0, this.parAttr.height - this.circleAttr.maxWidth);
						this.posiArr[i]['cl'] = cl;
						this.posiArr[i]['ct'] = ct;
					}
					
					this.overlap();
				},
				random: function() {//给每个circle随机设置属性
					
					var bacRan,
					colorIndex,
					cw,
					ch;
					for(var i = 0; i < this.length; i++){
						colorIndex = this.getRandomNum(0, this.color.length - 1);
						bacRan = this.color[colorIndex];
						cw = ch = this.getRandomNum(this.circleAttr.minWidth,this.circleAttr.maxWidth);
						$('.circle').eq(i).css({'background': bacRan, 'width' : cw + 'px', 'height' : ch + 'px', 'left' : this.posiArr[i].cl + 'px', 'top' : this.posiArr[i].ct + 'px'}).find('h2').css({'font-size':this.bigFont + 'px'}).end().find('span').css({'font-size':this.smallFont + 'px'});
					}
					// debugger
				},
				regular: function() {
					var originNum = 800;
					if(this.length > 7){
						for(var i = 0; i < this.length - 7; i++){
							this.circlePosi.push({'cl': 800 + (i + 1) * 150,'ct': 140});
						}
					}
				},
				ani: function() {
					setInterval(function(){
						for (var i = 0; i<$(".circle").length; i++) {
							var originTop = parseInt($(".circle").eq(i).css("top"));
							var aniLen = parseInt($(".circle").eq(i).css("width"))
							$(".circle").eq(i).animate({
								top: originTop - aniLen/4 + 'px'
							},'slow');
							$(".circle").eq(i).animate({
								top: originTop + 'px'
							},'slow');
						}
					},1350)
				},
				init: function() {
					this.getDefault();
					//如果栈溢出了，使用默认的position
					try{
						this.getPosi();
					}catch(err){
						console.log('栈溢出了！');
						this.regular();
						this.posiArr = this.circlePosi;
					}
					this.random();
					this.ani();
				},
			}
			//轮播图数据
			data.common('ShowImage/home',function(d){
				that.slideArr = d;
			})
			// 车行推荐默认最新最热数据
			this.recommonedata(0);
			// 文章列表
			data.common('Article/listForHome',function(d){
				// console.log(d)
				that.$i18n._vm.messages['zh-cn'].media = d;
				that.$i18n._vm.messages['en'].media = d;
			})
			// 评论
			data.common('Car/featuredComment',function(d){
				// console.log(d)
				that.comment = d;
			})
			// 热门搜索
			data.common('SearchLog/hot',function(d){
				console.log(d)
				that.hotsearch = d;
				that.$nextTick(function(){
					userTags.init();
				})
			})
			
			$('.sel-type').find('li').eq(0).addClass('sel').css('border-bottom','1px solid #C21B36');
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
			
		},
		methods: {
			
			recommonedata:function(index) {
				var that = this;
				var form = {'type':'luxury'};
				switch(index){
					case 0:
					form = {'type':'newAndHot'};
					break;
					case 1:
					form = {'type':'affordable'};
					break;
					case 2:
					form = {'type':'new'};
					break;
					case 3:
					form = {'type':'luxury'};
					break;
					default:
					form = {};
				}
				data.common('Car/listForHome',function(d){
					// console.log(d)
					that.$i18n._vm.messages['zh-cn'].explain = d;
					that.$i18n._vm.messages['en'].explain = d;
				},form)
			},
			login: function() {
				if(this.logindata.phonenum == ''){
					alert("请填写手机号!");
					return;
				}
				else if(this.logindata.checkcode == ''){
					alert("请填写验证码!");
					return;
				}
				this.switchlogin = !this.switchlogin;
				this.loginshow = !this.loginshow;
				alert('登录成功!');
				localStorage.login = true;
			},
			change :function() {
				this.enshow = this.enshow == 'english' ? "中文" : "english";
				var that = this;
				setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
				},1100)
			  // console.log(localStorage.locale)
			 
			},
			selected:function(e) {
				var len = e.target.parentNode.children.length;
				var node = e.target.parentNode.children;
				for(i=0; i < len; i++){
					node[i].classList.remove('sel');
					node[i].style.borderBottom = '1px solid #EAEAEA';
				}
				e.target.classList.add('sel');
				e.target.style.borderBottom = '1px solid #C21B36';
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#index')
	// 现在应用程序已经准备好了！
</script>
</html>