<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="renderer" content="webkit">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta http-equiv="mobile-agent" content="format=html5; url=http://m.championcargroup.com/">
	<title>CHAMPION-index</title>
	<meta name="location" content="province=福建;city=福州;coord=">
	<meta name="keywords" content="CHAMPION,CHAMPIONAUTO,CHAMPIONCAR,CHAMPIONAUTOGROUP">
	<meta name="description" content="福州二手车市场,福州二手车交易市场,为您提供福州二手车交易信息,福州二手车出手转让信息,免费提供福州二手车评估,福州二手车报价,详询12315！">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="dist/locale/en-US.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<!-- <script type="text/javascript" src="dist/locale/zh-CN.js"></script> -->
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
</head>
<body>
	<div id="index" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in $t('tipsArr')">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane :label="$t('log')" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('log')" @click="login()">
										<div class="login-tips">
											<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane :label="$t('register')" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('register')" @click="register()">
										<div class="login-tips">
											<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="swiper">
			<Carousel
				v-model="value3"
				:autoplay="setting.autoplay"
				:autoplay-speed="setting.autoplaySpeed"
				:dots="setting.dots"
				:radius-dot="setting.radiusDot"
				:trigger="setting.trigger"
				:arrow="setting.arrow">
				<Carousel-Item  v-for="item in slideArr" v-bind:key='item.id'>
					<img class="carouselimg" :src="item.path" >
					<!-- <div class="demo-carousel">1</div> -->
				</Carousel-Item>
			</Carousel>
		</div>
		<div class="margin">
			<div class="center-important">
				<div class="center-l">
					<div class="center-l-t">
						<span class="buy-title">
							{{$t('wantBuy')}}
						</span>
						<div id="search">
							<i-input search enter-button autocomplete="on" placeholder="Enter something..." @on-search="searchGo"/>
						</div>
						
					</div>
					<span class="price-title">{{ $t("carPrice") }} <a href="buy.html">{{ $t("more") }}&nbsp;></a></span>
					<div class="price-btns">
						<button class="btn" type="button" v-for="item in $t('price')" style="border: none;"><a @click="navigateTopricebuy(item.id)">{{item.detail}}</a></button>
					</div>
					<span class="price-title">{{ $t("carBrand") }}</span>
					<div class="cartype-btns">
						<button type="button" v-for="item in $t('cartype')" @click="navigateToBrandBuy(item.id)">
							<a href="buy.html">
								<div class="img-c">
									<img :src="item.logo" >
								</div>
								<span class="cartype-name">{{item.name}}</span>
							</a>
						</button>
						<button type="button" class="moretype">
							<a href="buy.html">
								<div class="img-c">
									...
								</div>
								<div>{{ $t("more") }}</div>
							</a>
						</button>
					</div>
				</div>
				<div class="center-r">
					<span class="sale-title">
						{{ $t("hotSearch") }}
					</span>
					<div class="tagList">
					    <div class="circle" v-for="item in $t('hotsearchArr')" @click="navigateToSearchBuy(item)">
					        <h2 v-if="item.type === 'brand'">{{item.brand?item.brand.name:''}}</h2>
					        <h2 v-else-if="item.type === 'series'">{{item.series?item.series.name:''}}</h2>
					        <h2 v-else-if="item.type === 'keyword'">{{item.value}}</h2>
					        <h2 v-else-if="item.type === 'sale_point'">{{item.sale_point}}</h2>
					        <h2 v-else>{{ $t("other") }}</h2>
					    </div>
					</div>
				</div>
			</div>
			<div class="recommoned">
				<span class="re-title">{{ $t("recom") }}</span>
				<div class="sel-type">
					<ul>
						<li v-for="(item, index) in $t('seltype')" v-on:click="selected($event)" @click="recommonedata(index)">{{item}}</li>
					</ul>
				</div>
				<div class="car-detail">
					<Spin size="large" fix v-if="spinShow"></Spin>
					<Row>
						<i-col span="6" v-for="(item, index) in $t('explain')" :key='item.id'>
							<div :data-id = "item.id" @click = "navigatorToDetail(item.id)" class="car-item">
								<a>
									<img class="bg" :src="item.thumb">
									<img class="favorite" v-if="item.collected == 'y'" src="images/collected.png" @click.stop.prevent="collection(index, item.id)">
									<img v-else class="favorite" src="images/favorite.png" @click.stop.prevent="collection(index, item.id)">
									<div class="car-explain">
										<div class="explain-t">
											<div class="car-name">
												{{ item.model?item.model.year + '&nbsp':''}}
												{{item.series?item.series.name + '&nbsp':''}}
												{{item.model?item.model.displacement + 'L':''}}
											</div>
											<div class="car-price">
												{{'$' + item.price}}
											</div>
										</div>
										<div class="distance">
											{{item.mileage + $t('miles')}}
											{{item.model?'·' + item.model.door_count + $t('door'):''}}
											{{item.model?'·' + item.model.driver_type:''}}
											{{item.model?'·' + item.model.cylinder_count + $t('cylinder'):''}}
											{{item.model?'·' + item.model.displacement + 'L':''}}
											{{item.model?'·' + item.model.intake_type:''}}
											{{item.model?'·' + item.model.gearbox:''}}
										</div>
									</div>
								</a>
							</div>
						</i-col>
					</Row>
				</div>
			</div>
			<div class="adv1s">
				<img class="adv1" src="images/ad1.png" style="height: 350px;">
				<span>{{$t('adv1')}}</span>
			</div>
			<div class="step">
				<Steps :current="-1">
					<Step :title="$t('indexstep.step0')" content="这里是该步骤的描述信息"><img src="images/index_buying_step0cn.png" ></Step>
					<Step :title="$t('indexstep.step1')" content="这里是该步骤的描述信息"><img src="images/index_buying_step1cn.png" ></Step>
					<Step :title="$t('indexstep.step2')" content="这里是该步骤的描述信息"><img src="images/index_buying_step2cn.png" ></Step>
					<Step :title="$t('indexstep.step3')" content="这里是该步骤的描述信息"><img src="images/index_buying_step3cn.png" ></Step>
					<Step :title="$t('indexstep.step4')" content="这里是该步骤的描述信息"><img src="images/index_buying_step4cn.png" ></Step>
					<Step :title="$t('indexstep.step5')" content="这里是该步骤的描述信息"><img src="images/index_buying_step5cn.png" ></Step>
				</Steps>
			</div>
			<div class="adv2">
				<div class="adv2-item">
					<img src="images/ad2.jpg" >
				</div>
				<div class="adv2-item">
					<img src="images/operate_img1.jpg" >
					<img src="images/operate_img2.jpg" >
				</div>
				<div class="adv2-item">
					<img src="images/operate_img4.jpg" >
				</div>
				<div class="adv2-item">
					<img src="images/operate_img3.jpg" >
				</div>
			</div>
			<div class="comment">
				<span class="re-title">{{$t('storyTitle')}}</span>
				<div class="com-content">
					<Alert style="margin-top: 10px;width: 100%;" show-icon v-if="$t('comment').length == 0">
						{{$t('extip')}}
						<Icon type="ios-bulb-outline" slot="icon"></Icon>
						<template slot="desc">{{$t('extipc')}}</template>
					</Alert>
					<Card style="width:calc(25% - 10px);margin-right: 10px;"  v-for="item in $t('comment')" v-bind:key="item.id">
						<p slot="title">
							{{item.title}}
						</p>
						<ul>
							<li>
								<img class="bg" :src="item.image" style="width: 100%;">
								<div class="buy-describle">
									{{$t('storyDes')}}
								</div>
								<div class="media-art">
									{{item.content}}
								</div>
							</li>
						</ul>
						<div class="com-bot">
							<div class="from">
								{{$t('froms')}}{{item.username}}{{$t('scom')}}
							</div>
							<div class="">
								{{$t('strongRecom')}}<span class="score">{{item.score}}</span>{{$t('score')}}
							</div>
						</div>
					</Card>
				</div>
			</div>
			<div class="recommoned">
				<span class="re-title">{{ $t("mediaVoice") }}</span>
				<Alert style="margin-top: 10px;width: 100%;" show-icon v-if="$t('media').length == 0">
					{{ $t("metip") }}
					<Icon type="ios-bulb-outline" slot="icon"></Icon>
					<template slot="desc">{{ $t("metipc") }}</template>
				</Alert>
					<div class="media-detail">
						<div class="media-item" v-for="item in $t('media')" data-id = "item.id">
							<a href="#">
								<img class="bg" :src="item.thumb">
								<div class="media-r">
									<div class="media-title">
										{{item.title}}
									</div>
									<div class="media-time">
										{{item.update_time}}
									</div>
									<div class="media-art">
										{{item.content?item.content.content:''}}
									</div>
									<div class="media-more">
										{{$t('more')}}<Icon type="ios-play-outline" />
									</div>
								</div>
							</a>
						</div>
					</div>
			</div>
		</div>
		
		<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="misc">
						<div class="footer-margino">
							<ul>
								<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
							</ul>
						</div>
					</div>
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/wximg.jpg" >
									<span>{{$t('champion')}}</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>{{$t('addressphone')}}</span>
								</a>
							</div>
						</div>
					</div>
						<a href="#" class="deadress">
							<li>
								<span>{{$t('address')}}</span>
								<p>{{$t('addressDetail')}}</p>
							</li>
						</a>
				</div>
				<div class="adress">
					<ul>
						<img src="images/address.png" >
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<span>
				Copyright@2019 CHAMPION Inc. Privacy Terms
			</span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	var userTags;
	var vm = new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			searchshow: false,
			loginshow: false,
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			slideArr: [],
			value3: 0,
			setting: {
				autoplay: true,
				autoplaySpeed: 2000,
				dots: 'inside',
				radiusDot: false,
				trigger: 'hover',
				arrow: 'hover'
			},
			spinShow: true,
			search: '',
			searchArr: ['Steve Jobs', 'Stephen Gary Wozniak', 'Jonathan Paul Ive']
		},
		mounted() {
			var that = this;
			userTags = {
				color: ['#4B82FF', '#FF747B', '#15D5E0', '#FFB178', '#8871FF', '#ED59F8'],
				circleAttr: {minWidth: 60,maxWidth: 80},
				circlePosi: [{cl: 25,ct: 130},
				{cl: 100,ct: 20},
				{cl: 200,ct: 50},
				{cl: 300,ct: 20},
				{cl: 400,ct: 20},
				{cl: 500,ct: 190},
				{cl: 550,ct: 180}],
				parAttr:{width: 427,height: 370},
				bigFont: 12,
				smallFont: 12,
				length: 10,
				posiArr: [],
				getDefault: function() { //获取当前tagList的高度和circle的个数
					var w = $('.tagList').width();
					if (w > this.parAttr.width) {
						this.parAttr.width = w;
					}
					this.length = $('.circle').length;
					// if(this.length > 7){
					// 	//制定比例，外部盒子宽度越小，circle个数越多。circle宽高越小，内部上下两块字体越小 1450 : 7 ：140 ：21 ：14
					// 	var userAgent = navigator.userAgent;
					// 	var isChrome = userAgent.indexOf("Chrome") > -1;//浏览器适配
					// 	if(isChrome){
					// 		this.circleAttr.minWidth = this.circleAttr.minWidth - (this.length - 7) * 140 / 15;
					// 		this.circleAttr.maxWidth = this.circleAttr.maxWidth - (this.length - 7) * 140 / 15;
					// 		this.bigFont = this.bigFont - (this.length - 7) * 21 / 4;
					// 		this.smallFont = this.smallFont - (this.length - 7) * 14 / 4;
					// 	}
					// }
					if(this.length > 9){
						$('.circle').find('h2').css('margin-bottom','0');
					}
				},
				getRandomNum: function(max, min) { //随机获取两个数中间的数值
					if (min > max) {
						var median = min;
						min = max;
						max = median;
					}
					var n = Math.round(Math.random() * (max - min) + min);
					return n;
				},
				overlap: function(j) {
					//验证是否重叠,利用组合算法的思想
					
					var mw = this.circleAttr.maxWidth;
					var len = this.posiArr.length;
					for(var i = 0; i < len - 1; i++){
						for(var j = i + 1; j < len; j++){
							if(Math.abs(this.posiArr[i].cl - this.posiArr[j].cl) <= (mw - 25) && Math.abs(this.posiArr[i].ct - this.posiArr[j].ct) <= (mw - 25)){
								return this.getPosi();
							}
						}
					}
					
				},
				getPosi: function() {
					var i = 0;
					for( ; i < this.length; i++){//获取circle长度的位置数据
						if(this.posiArr[i]){
					
						}else{
							this.posiArr[i] = {};
						}
						var cl = this.getRandomNum(0, this.parAttr.width - this.circleAttr.maxWidth);
						var ct = this.getRandomNum(0, this.parAttr.height - this.circleAttr.maxWidth);
						this.posiArr[i]['cl'] = cl;
						this.posiArr[i]['ct'] = ct;
					}
					
					this.overlap();
				},
				random: function() {//给每个circle随机设置属性
					
					var bacRan,
					colorIndex,
					cw,
					ch;
					for(var i = 0; i < this.length; i++){
						colorIndex = this.getRandomNum(0, this.color.length - 1);
						bacRan = this.color[colorIndex];
						cw = ch = this.getRandomNum(this.circleAttr.minWidth,this.circleAttr.maxWidth);
						$('.circle').eq(i).css({'background': bacRan, 'width' : cw + 'px', 'height' : ch + 'px', 'left' : this.posiArr[i].cl + 'px', 'top' : this.posiArr[i].ct + 'px'}).find('h2').css({'font-size':this.bigFont + 'px'}).end().find('span').css({'font-size':this.smallFont + 'px'});
					}
					// debugger
				},
				regular: function() {
					var originNum = 800;
					if(this.length > 7){
						for(var i = 0; i < this.length - 7; i++){
							this.circlePosi.push({'cl': 800 + (i + 1) * 150,'ct': 140});
						}
					}
				},
				ani: function() {
					var isani = false;
					setInterval(function(){
						if(isani){
							return;
						}
						isani = true;
						for (var i = 0; i<$(".circle").length; i++) {
							var originTop = parseInt($(".circle").eq(i).css("top"));
							var aniLen = parseInt($(".circle").eq(i).css("width"))
							$(".circle").eq(i).animate({
								top: originTop - aniLen/4 + 'px'
							},'slow');
							$(".circle").eq(i).animate({
								top: originTop + 'px'
							},'slow');
						}
						isani = false;
					},1350)
				},
				init: function() {
					this.getDefault();
					//如果栈溢出了，使用默认的position
					try{
						this.getPosi();
					}catch(err){
						console.log('栈溢出了！');
						this.regular();
						this.posiArr = this.circlePosi;
					}
					this.random();
					// this.ani();
				},
			}
			//轮播图数据
			data.common('ShowImage/home',function(d){
				that.slideArr = d;
			})
			// 可选品牌
			this.brandd();
			// 车行推荐默认最新最热数据
			this.recommonedata(0);
			
			// 评论
			this.commontd();
			// 热门搜索
			this.searchd();
			
			$('.sel-type').find('li').eq(0).addClass('sel').css('border-bottom','1px solid #C21B36');
			orifun.initStatu(this);
			
		},
		methods: {
			searchd: function() {
				var that = this;
				data.common('SearchLog/hot',function(d){
					// console.log(d)
					that.$i18n._vm.messages['zh-cn'].hotsearchArr = d;
					that.$nextTick(function(){
						userTags.init();
					})
				},{language: 'cn'})
				data.common('SearchLog/hot',function(d){
					// console.log(d)
					that.$i18n._vm.messages['en'].hotsearchArr = d;
					that.$nextTick(function(){
						userTags.init();
					})
				},{language: 'en'})
			},
			commontd: function() {
				var that = this;
				function story(){
					return	new Promise((resolve, reject) => {
						data.common('Story/listForHome',function(d){
							// console.log(d)
							that.$i18n._vm.messages['zh-cn'].comment = d.slice(0, 4);
						},{language: 'cn'})
						resolve('step1');
					})
				}
				story().then(() => {
					data.common('Story/listForHome',function(d){
						// console.log(d)
						that.$i18n._vm.messages['en'].comment = d.slice(0, 4);
					},{language: 'en'})

				}).then(() => {
					//文章
					data.common('Article/listForHome',function(d){
						// console.log(d)
						that.$i18n._vm.messages['en'].media = d.slice(0, 4);
					},{language: 'en'})

				}).then(() => {
					//文章
					data.common('Article/listForHome',function(d){
						// console.log(d)
						that.$i18n._vm.messages['zh-cn'].media = d.slice(0, 4);
					},{language: 'cn'})
				
				})
			},
			brandd:function() {
				var that = this;
				data.common('Brand/all',function(d){
					// console.log(d);
					that.$i18n._vm.messages['zh-cn'].cartype = d.slice(0,13);
				},{language: 'cn'})
				data.common('Brand/all',function(d){
					// console.log(d);
					that.$i18n._vm.messages['en'].cartype = d.slice(0,13);
				},{language: 'en'})
			},
			searchGo: function(e) {
				localStorage.postbody = JSON.stringify({
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: e,
					sale_point: '',
					page: 1,
					sort: ''
				})
				window.location.href= "buy.html";
			},
			collection: function(index,id) {
				var that = this;
				var mes;
				if(!localStorage.token){
					mes = orifun.getInfo('Please login first!','请先登录!')
					this.$Message.warning(mes);
					return;
				}
				var ccol = that.$i18n._vm.messages[localStorage.locale].explain;
				if(ccol[index].collected == 'y'){
					ccol[index].collected = 'n';
					mes = orifun.getInfo('Cancel the collection successfully!','取消收藏成功!')
				}else if(ccol[index].collected == 'n'){
					mes = orifun.getInfo('Collection of success!','收藏成功!')
					ccol[index].collected = 'y';
				}else{
					var notice = orifun.getInfo('Waiting for data update!','等待数据更新!');
					this.$Message.error(notice);
					return;
				}
				var collectBody = {
					car_id: id,
					collected: ccol[index].collected
				}
				data.common('CarWithAuth/collect',function(d){
						// console.log(d);
					if(d.code != 400 && d != 'undefined'){
						that.$Notice.success({
							title: 'Notification',
							desc:mes,
							duration: 4
						});
						that.$i18n._vm.messages['en'].explain[index].collected = ccol[index].collected;
						that.$i18n._vm.messages['zh-cn'].explain[index].collected = ccol[index].collected;
					}else{
						mes = orifun.getInfo('Collection of failure!!','收藏失败!')
						that.$Message.error(mes);
					}
					
				},collectBody);
			},
			navTobuy: function(){
				orifun.initpostbody();
			},
			navigateToBrandBuy: function(e){
				localStorage.postbody = JSON.stringify({
					brand_id: e,
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				})
				window.location.href= "buy.html";
			},
			navigateToSearchBuy: function(e){
				var postbody = {
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				};
				console.log(e)
				var type = e.type;
				if(type == 'series'){
					type = 'car_series_id';
				}else if(type == 'brand'){
					type = 'brand_id';
				}else if(type == 'type'){
					type = 'car_type_id';
				}
				postbody[type] = e.value;
				localStorage.postbody = JSON.stringify(postbody)
				console.log(JSON.stringify(postbody))
				window.location.href= "buy.html";
			},
			navigateTopricebuy: function(e){
				console.log(e)
				localStorage.postbody = JSON.stringify({
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: e,
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				})
				window.location.href= "buy.html";
			},
			navigatorToDetail: function(e) {
				window.location.href= "carDetail.html";
				localStorage.goodId = e;
			},
			recommonedata:function(index) {
				var that = this;
				that.spinShow = true;
				var form = {'type':'luxury'};
				switch(index){
					case 0:
					form = {'type':'newAndHot'};
					break;
					case 1:
					form = {'type':'affordable'};
					break;
					case 2:
					form = {'type':'new'};
					break;
					case 3:
					form = {'type':'luxury'};
					break;
					default:
					form = {};
				}
				form.language = 'cn';
				data.common('Car/listForHome',function(d){
					// console.log(d)
					that.$i18n._vm.messages['zh-cn'].explain = d.slice(0,8);
				},form)
				form.language = 'en';
				data.common('Car/listForHome',function(d){
					// console.log(d)
					that.$i18n._vm.messages['en'].explain = d.slice(0,8);
					that.spinShow = false;
				},form)
			},
			selected:function(e) {
				var len = e.target.parentNode.children.length;
				var node = e.target.parentNode.children;
				for(i=0; i < len; i++){
					node[i].classList.remove('sel');
					node[i].style.borderBottom = '1px solid #EAEAEA';
				}
				e.target.classList.add('sel');
				e.target.style.borderBottom = '1px solid #C21B36';
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			}
		}
	}).$mount('#index')
	// 现在应用程序已经准备好了！
</script>
</html>