<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>详细参数</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script src="js/vue-i18n.js"></script>
	<script src="js/language.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js"></script>
	<script src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/param.css">
</head>
<body>
	<div id="params" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<a href="javascript:history.back()">
				<svg class="icon back" aria-hidden="true">
					<use xlink:href="#icon-fanhui"></use>
				</svg>
			</a>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					<div class="login">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="login-item">
							<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号"/>
						</div>
						<div class="login-item">
							<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
							<input type="button" class="getcode" value="获取验证码" />
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" value="登录" v-on:click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<div class="param">
			<div class="record">
				<ul>
					<li class="title">车辆档案</li>
					<li v-for="(value,key) in param.record">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
			<div class="default-param">
				<ul>
					<li class="title">基本参数</li>
					<li v-for="(value,key) in param.defaultparam">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
			<div class="engine-param">
				<ul>
					<li class="title">发动机参数</li>
					<li v-for="(value,key) in param.engineparam">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
			<div class="chassis-braking">
				<ul>
					<li class="title">底盘及制动</li>
					<li v-for="(value,key) in param.chassisbraking">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
			<div class="security-config">
				<ul>
					<li class="title">安全配置</li>
					<li v-for="(value,key) in param.securityconfig">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
			<div class="external-config">
				<ul>
					<li class="title">外部配置</li>
					<li v-for="(value,key) in param.externalconfig">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
			<div class="interior-config">
				<ul>
					<li class="title">内部配置</li>
					<li v-for="(value,key) in param.interiorconfig">
						<span>{{key}}</span>
						<span>{{value}}</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="contact">
			<div class="top">
					<div class="logo"><img src="images/logor.png" ></div>
				<div class="wx">
					<a href="#">
						<img src="images/humacar.png" >
						<span>CAR</span>
					</a>
				</div>
				<div class="phone">
					<a href="#">
						<img src="images/phone.png" >
						<span>+1(888)-888-6518</span>
					</a>
				</div>
			</div>
			</div>
		<div class="adress">
			<ul>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
			</ul>
		</div>
		<div class="misc">
			<ul>
				<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
			</ul>
		</div>
		<div class="copy">
			<span>
        Copyright@2016 CHAMPION Inc. Privacy Terms
    </span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				phonenum:'',
				checkcode:''
			},
			param: {
				record:{"上牌时间":"2016-01","表显里程":"6.55万公里","排放标准":"国五","变速箱":"自动","排量":"2.0","看车方式":"到店服务",
				"车身颜色":"白色","归属地":"上海","过户次数":"0次","年检到期时间":"2020-1","交强险到期时间":"2019-6","商业险到期时间":"已过期"},
				"defaultparam": {"证件品牌型号":"马自达牌CAM7200B5","厂商":"长安马自达","级别":"紧凑型车","发动机":"2.0L 158马力 L4",
				"变速箱":"6档手自一体变速箱(AT)","车身结构":"5门5座两厢车","长*宽*高(mm)":"4461/1795/1474","轴距(mm)":"2700","行李箱容积(L)":"350",
				"整备质量(kg)":"1359"},
				"engineparam":{"排量(L)":"2.0","进气形式":"自然吸气","气缸":"L4","最大马力(Ps)":"158","最大扭矩(N*m)":"202",
				"燃料类型":"汽油","燃油标号":"92号","供油方式":"直喷","排放标准":"国五"},
				"chassisbraking": {"驱动方式":"前置前驱","助力类型":"电动助力","前悬挂类型":"麦弗逊式独立悬架","后悬挂类型":"多连杆独立悬架",
				"前制动类型":"通风盘式","后制动类型":"盘式","驻车制动类型":"-","前轮胎规格":"215/45 R18","后轮胎规格":"215/45 R18"},
				"securityconfig": {"主副驾驶安全气囊":"正常/正常","前后排侧气囊":"无/无","前后排头部气囊":"无/无","胎压检测":"无","车内中控锁":"标配",
				"儿童座椅接口":"标配","无钥匙启动":"标配","防抱死系统(ABS)":"标配","车身稳定控制(ESP)":"标配"},
				"externalconfig": {"电动天窗":"标配","全景天窗":"无","电动吸合门":"无","感应后备箱":"无","感应雨刷":"无","后雨刷":"标配","前后电动车窗":"标配/标配",
				"后视镜电动调节":"标配","后视镜加热":"标配"},
				"interiorconfig": {"多功能方向盘":"标配","定速巡航":"标配","空调":"标配","自动空调":"标配","GPS导航":"标配","倒车雷达":"标配",
				"倒车影像系统":"标配","真车座椅":"标配","前后排座椅加热":"无/无"}
			}
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
		},
		methods: {
			login: function() {
				if(this.logindata.phonenum == ''){
					alert("请填写手机号!");
					return;
				}
				else if(this.logindata.checkcode == ''){
					alert("请填写验证码!");
					return;
				}
				this.switchlogin = !this.switchlogin;
				this.loginshow = !this.loginshow;
				alert('登录成功!');
				localStorage.login = true;
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#params')
	// 现在应用程序已经准备好了！
</script>
</html>