<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>个人中心</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/personalCenter.css">
	<link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	
	<link rel="stylesheet" href="./extra/plugin/Run/base.css">
	<link rel="stylesheet" href="./extra/plugin/Run/color.css">
	<link rel="stylesheet" href="./extra/plugin/Run/button.css">
	<link rel="stylesheet" href="./core/css/Communication.css">
	
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="dist/locale/en-US.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<!-- <script type="text/javascript" src="dist/locale/zh-CN.js"></script> -->
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
	
	<script src="./extra/plugin/Third/layer/layer.js"></script>
	<script src="./extra/plugin/SmallJs/SmallJs.js"></script>
	<script src="./core/lib/Socket.js"></script>
	<script src="./core/js/Communication.js"></script>
</head>
<body>
		<div class="real-time-communication">
	    <div class="real-time-communication-minimum" ref="real-time-communication-minimum">
	    	<div class="left">
	    		<div class="avatar">
	    			<div class="image-container"><img :src="parent.option.host + '/static/image/female.png'" class="image"></div>
	    		</div>
	    		<div>{{ user.nickname }}</div>
	    	</div>
	    	<div class="right">
	    		<div class="unread">{{ unread }}</div>
	    	</div>
	    </div>
	    <div class="real-time-communication-maximum hide" :class="user.role == 'user' ? 'real-time-communication-maximum-for-user' : ''" ref="real-time-communication-maximum">
	    	<div class="close" ref="close">
	    		<img :src="parent.option.host + '/static/image/minimum.png'" class="image">
	    	</div>
	    	<div class="user hide" ref="user">
	    		<div class="outer" ref="user-outer">
	    			<div class="in" ref="user-in">
	    				<div class="top avatar">
	    					<div class="image-container"><img :src="user.avatar" class="image"></div>
	    				</div>
	    				<div class="btm">
	    					<div class="username">{{ user.nickname }}</div>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="mask" ref="mask"></div>
	    	</div>
	    	<div class="content">
	    		<div class="left">
	    			<div class="top" ref="left-top">
	    				<div class="left">
	    					<div class="avatar" ref="avatar">
	    						<div class="image-container"><img :src="user.avatar" class="image"></div>
	    					</div>
	    					<div class="username">{{ user.nickname }}</div>
	    				</div>
	    				<div class="right"></div>
	    			</div>
	    			<div class="mid" ref="left-mid">
	    				<div class="item cur"><img :src="parent.option.host + '/static/image/message.png'" class="image"></div>
	    				<!--<div class="item"><img src="./image/message.png" class="image"></div>-->
	    				<!--<div class="item"><img src="./image/message.png" class="image"></div>-->
	    			</div>
	    			<div class="btm session" ref="left-btm">
	    	
	    				<div class="item" v-for="v in session" :key="v.session_id" :class="v.session_id == current.session_id ? 'cur' : ''" @click="switchSession(v.session_id)">
	    					<div class="left">
	    						<div class="image-container">
	    							<img v-if="v.type == 'group'" :src="v.group ? v.group.image_explain : ''" class="image">
	    						</div>
	    					</div>
	    					<div class="right">
	    						<div class="in">
	    							<div class="left">
	    								<div class="top">
	    									<template v-if="v.type == 'group'">{{ v.group ? v.group.name : '' }}</template>
	    								</div>
	    								<div class="btm">
	    									<template v-if="v.recent_message">
	    										<template v-if="v.recent_message.type == 'text'">{{ v.recent_message.message }}</template>
	    									</template>
	    								</div>
	    							</div>
	    							<div class="right">
	    								<div class="top">{{ v.recent_message ? v.recent_message.create_time : '' }}</div>
	    								<div class="btm"><span class="unread">{{ v.unread }}</span></div>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="right">
	    			<div class="window">
	    				<div class="top">
	    					<div class="left">
	    						<template v-if="current.type == 'group'">{{$t('consult.pc')}}<!-- {{ current.group ? current.group.name : '' }} --></template>
	    					</div>
	    					<div class="right"></div>
	    				</div>
	    				<div class="mid" ref="history">
	    					<div class="loading">
	    						<span v-if="!history.all && history.loading">{{$t('consult.load')}}...</span>
	    						<span v-else class="gray">{{$t('consult.over')}}</span>
	    					</div>
	    	
	    					<div class="history" ref="message">
	    	
	    						<template v-for="v in history.history">
	    							<div class="message" :class="v.myself ? 'myself' : 'other'" :data-id="v.id">
	    								<div class="in">
	    									<div class="left">
	    										<div class="image-container"><img :src="v.user ? v.user.avatar : ''" class="image"></div>
	    									</div>
	    									<div class="right">
	    										<div class="top">
	    											<div class="in">{{ v.user ? (v.user.nickname ? v.user.nickname : v.user.username) : '' }} {{ v.create_time }}</div>
	    										</div>
	    										<div class="mid">
	    											<div class="in">
	    												<div class="text">{{ v.message }}</div>
	    												<div class="loading">
	    													<img :src="parent.option.host + '/static/image/loading.png'" class="image image-for-loading" :class="v.loading ? '' : 'hide'">
	    													<img :src="parent.option.host + '/static/image/fail.png'" class="image " :class="v.error ? '' : 'hide'">
	    												</div>
	    											</div>
	    										</div>
	    										<div class="btm">
	    											<div class="in red" :class="v.error ? '' : 'hide'">{{$t('consult.sf')}}：{{ v.error }}</div>
	    										</div>
	    									</div>
	    								</div>
	    							</div>
	    						</template>
	    					</div>
	    				</div>
	    				<div class="btm">
	    					<div class="top hide"></div>
	    					<div class="mid" ref="input">
	    						<textarea ref="textarea" @keyup="contentKeyUpEvent" v-model="message" class="input" autofocus="autofocus" :placeholder="$t('consult.pe')"></textarea>
	    					</div>
	    					<div class="btm"><button type="button" class="send" ref="send" @click="sendEvent" title="ENTER">{{$t('consult.send')}}（ENTER）</button></div>
	    				</div>
	    			</div>
	    			<div class="empty" :class="once ? '' : 'hide'">
	    				<div class="in">{{$t('consult.ss')}}</div>
	    			</div>
	    	
	    		</div>
	    	</div>
	    	
	    </div>
	</div>
	<div id="personalCenter" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in $t('tipsArr')">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane :label="$t('log')" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="password" class="defa" v-model="logindata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('log')" @click="login()">
										<div class="login-tips">
											<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane :label="$t('register')" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="password" class="defa" v-model="registerdata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('register')" @click="register()">
										<div class="login-tips">
											<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<i-menu :theme="theme3" active-name="1" @on-select="getIndex">
				<Menu-Group :title="$t('perc.dinfo')">
					<Menu-Item name="1">
						<Icon type="md-person"></Icon>
						{{$t('perc.uinfo')}}
					</Menu-Item>
					<Menu-Item name="2">
						<Icon type="md-person-add"></Icon>
						{{$t('perc.pcinfo')}}
					</Menu-Item>
					<Menu-Item name="3">
						<Icon type="md-keypad"></Icon>
						{{$t('perc.updateps')}}
					</Menu-Item>
				</Menu-Group>
				<Menu-Group :title="$t('perc.garage')">
					<Menu-Item name="4">
						<Icon type="md-clock"></Icon>
						{{$t('perc.sellapply')}}
					</Menu-Item>
					<Menu-Item name="5">
						<Icon type="md-clipboard"></Icon>
						{{$t('perc.barecord')}}
					</Menu-Item>
					<Menu-Item name="6">
						<Icon type="md-cart"></Icon>
						{{$t('perc.av')}}
					</Menu-Item>
					<Menu-Item name="7">
						<Icon type="md-at"></Icon>
						{{$t('perc.preorder')}}
					</Menu-Item>
				</Menu-Group>
				<Menu-Group :title="$t('perc.focus')">
					<Menu-Item name="8">
						<Icon type="md-basket"></Icon>
						{{$t('perc.coll')}}
					</Menu-Item>
				</Menu-Group>
			</i-menu>
			<div class="user-right">
				<div class="right-one" v-if="leftIndex == 1">
					<div class="user-info">
						<div class="head-img">
							<img v-if="userinfo.avatar_explain" :src="userinfo.avatar_explain">
							<img v-else src="images/user01.jpg">
						</div>
						<div class="user-num">
							<div class="un1">
								{{userinfo.nickname?userinfo.nickname:'xxx'}}
							</div>
							<div class="un2">
								{{$t('perc.hello')}}
							</div>
							<div class="un2 update" v-html="userinfo.phone?userinfo.phone:$t('perc.toadd')">
							</div>
						</div>
						<div class="user-num unr">
							<div class="un3">{{$t('perc.rd')}}：{{userinfo.create_time}}</div>
							<div class="un2">{{$t('perc.lastl')}}：{{userinfo.last_time}}</div>
							<div class="un2" v-if="userinfo.phone!==''">
								<Icon type="md-phone-portrait" ></Icon>
								<span>{{userinfo.phone}}</span>
							</div>
						</div>
					</div>
					<div class="icons">
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-at"></Icon>
							</div>
							<div class="right">
								<p>{{$t('perc.preorder')}}: <span>0</span></p>
								<span class="lookmy">{{$t('perc.vrv')}} ></span>
							</div>
						</div>
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-easel"></Icon>
							</div>
							<div class="right">
								<p>{{$t('perc.barecord')}}: <span>0</span></p>
								<span class="lookmy">{{$t('perc.vpr')}} ></span>
							</div>
						</div>
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-chatboxes"></Icon>
							</div>
							<div class="right">
								<p>{{$t('perc.av')}}: <span>0</span></p>
								<span class="lookmy">{{$t('perc.via')}} ></span>
							</div>
						</div>
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-basket"></Icon>
							</div>
							<div class="right">
								<p>{{$t('perc.coll')}}: <span>0</span></p>
								<span class="lookmy">{{$t('perc.vmc')}} ></span>
							</div>
						</div>
					</div>
				</div>
				<div class="right-two" v-else-if="leftIndex == 2">
					<i-form ref="formValidate" :label-width="80" @submit.native.prevent>
						<Form-Item :label="$t('proveInfo.nick')" prop="nickname">
							<i-Input v-model="formValidate.nickname" :placeholder="$t('proveInfo.nickc')"  size="large"></i-Input >
						</Form-Item>
						<Form-Item :label="$t('proveInfo.phone')" prop="phone">
							<i-Input v-model="formValidate.area_code" :placeholder="$t('proveInfo.phonec')" size="large"></i-Input>
						</Form-Item>
						<Form-Item :label="$t('proveInfo.gender')" prop="gender">
							<Radio-Group v-model="formValidate.sex"  size="large">
								<Radio label="male">{{$t('proveInfo.male')}}</Radio>
								<Radio label="female">{{$t('proveInfo.female')}}</Radio>
							</Radio-Group>
						</Form-Item>
						<Form-Item :label="$t('proveInfo.birthday')" prop="birthday">
							<Date-Picker style="width: 100%;" type="date" size="large" :placeholder="$t('proveInfo.birthdayc')" format = "yyyy-MM-dd" v-model="formValidate.birthday" @on-change="getdate"></Date-Picker>
						</Form-Item>
						<Form-Item class="two-space">
							<i-Button type="primary" size="large" @click="handleSubmit">{{$t('proveInfo.submit')}}</i-Button>
							<i-Button size="large" @click="handleReset('formValidate')" style="margin-left: 8px">{{$t('proveInfo.reset')}}</i-Button>
						</Form-Item>
					</i-form>
				</div>
				<div class="right-three" v-else-if="leftIndex==3">
					<i-Form ref="formInline" :model="formInline" :rules="ruleIn" inline @submit.native.prevent>
						<Form-Item style="display: block;" :label="$t('updatePs.op')" prop="o_password">
							<i-Input type="password" v-model="formInline.o_password" size="large" :placeholder="$t('updatePs.opc')">
								<Icon type="ios-lock-outline" slot="prepend"></Icon>
							</i-Input>
						</Form-Item>
						<Form-Item style="display: block;" :label="$t('updatePs.np')" prop="password">
							<i-Input type="password" v-model="formInline.password" size="large" :placeholder="$t('updatePs.npc')">
								<Icon type="ios-lock-outline" slot="prepend"></Icon>
							</i-Input>
						</Form-Item>
						<Form-Item style="display: block;" :label="$t('updatePs.np')" prop="confirm_password">
							<i-Input type="password" v-model="formInline.confirm_password" size="large" :placeholder="$t('updatePs.npcc')">
								<Icon type="ios-lock-outline" slot="prepend"></Icon>
							</i-Input>
						</Form-Item>
						<Form-Item style="display: block;">
							<i-Button style="width: 100%;" type="primary" @click="handleSubmitP('formInline')" size="large">{{$t('updatePs.update')}}</i-Button>
						</Form-Item>
					</i-Form>
				</div>
				<div class="right-five" v-else-if="leftIndex==4">
					<i-Table border highlight-row ref="currentRowTable" size="large" :columns="columns3" :data="$t('sellApply.data')"></i-Table>
				</div>
				<div class="" style="width:878px" v-else-if="leftIndex==5">
					<div>
						<i-Table border highlight-row ref="currentRowTable" size="large" :columns="columns4" :data="$t('barginRecord.data')"></i-Table>
					</div>
				</div>
				<div class="" style="width:687px" v-else-if="leftIndex==6">
					<div>
						<i-Table border highlight-row ref="currentRowTable" size="large" :columns="columns5" :data="$t('installmentRecord.data')"></i-Table>
					</div>
				</div>
				<div class="" style="width:597px" v-else-if="leftIndex==7">
					<div>
						<i-Table border highlight-row ref="currentRowTable" size="large" :columns="columns6" :data="data1"></i-Table>
					</div>
				</div>
				<div class="" style="width:1000px" v-else-if="leftIndex==8">
					<div class="recommoned">
						<div class="car-detail">
							<Alert style="margin-top: 10px;width: 100%;" show-icon v-if="$t('collectionList').length == 0">
								{{ $t("collectionRe") }}
								<Icon type="ios-bulb-outline" slot="icon"></Icon>
								<template slot="desc">{{ $t("collectionRec") }}</template>
							</Alert>
							<div class="car-item" v-else v-for="(item, index) in $t('collectionList')" :key='item.id'>
								<a :data-id = "item.id" @click = "navigatorToDetail(item.car_id)" >
									<img class="bg" :src="item.car?item.car.thumb:''">
									<!-- <img class="favorite" v-if="item.collected == 'y'" src="images/collected.png" @click.stop.prevent="collection(index, item.id)">
									<img v-else class="favorite" src="images/favorite.png" @click.stop.prevent="collection(index, item.id)"> -->
									<div class="car-explain">
										<div class="explain-t">
											<div class="car-name">
												{{ item.car.model?item.car.model.year + '&nbsp':''}}
												{{item.car.series?item.car.series.name + '&nbsp':''}}
												{{item.car.model?item.car.model.displacement + 'L':''}}
											</div>
											<div class="car-price">
												{{'$' + item.car.price}}
											</div>
										</div>
										<div class="distance">
											{{item.car.mileage + $t('miles')}}
											{{item.car.model?'·' + item.car.model.door_count + $t('door'):''}}
											{{item.car.model?'·' + item.car.model.driver_type:''}}
											{{item.car.model?'·' + item.car.model.cylinder_count + $t('cylinder'):''}}
											{{item.car.model?'·' + item.car.model.displacement + 'L':''}}
											{{item.car.model?'·' + item.car.model.intake_type:''}}
											{{item.car.model?'·' + item.car.model.gearbox:''}}
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <button type="button" class="sign-out" v-on:click="signout()">退出登录</button> -->
		</div>
	<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="misc">
						<div class="footer-margino">
							<ul>
								<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
							</ul>
						</div>
					</div>
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/wximg.jpg" >
									<span>{{$t('champion')}}</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>{{$t('addressphone')}}</span>
								</a>
							</div>
						</div>
					</div>
						<a href="#" class="deadress">
							<li>
								<span>{{$t('address')}}</span>
								<p>{{$t('addressDetail')}}</p>
							</li>
						</a>
				</div>
				<div class="adress">
					<ul>
						<img src="images/address.png" >
					</ul>
				</div>
			</div>
		</div>
	<div class="copy">
		<span>
			Copyright@2019 CHAMPION Inc. Privacy Terms
		</span>
	</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			loginshow: false,
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			enshow: "ENGLISH",
			theme3: 'light',
			sidecur: 1,
			userinfo: '',
			formValidate: {
				nickname: '',
				area_code: '',
				sex: '',
				birthday: '',
			},
			birthday: '',
			leftIndex: 1,
			formInline: {
				o_password: '',
				password: '',
				confirm_password: ''
			},
			ruleIn: {
				o_password: [
					{ required: true, message: 'Please fill in the old password', trigger: 'blur' }
				],
				password: [
					{ required: true, message: 'Please fill in the new password.', trigger: 'blur' },
					{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
				],
				confirm_password: [
					{ required: true, message: 'Please fill in the new password again.', trigger: 'blur' },
					{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
				],
			},
			columns3: [
				{
					type: 'index',
					width: 60,
					align: 'center'
				},
				{
					title: 'Address',
					key: 'address',
					width: 100,
				},
				{
					title: 'Color',
					key: 'color',
					width: 120,
				},
				{
					title: 'Interior color',
					key: 'interior_color',
					width: 125,
				},
				{
					title: 'Phone',
					key: 'phone',
					width: 125,
				},{
					title: 'Price',
					key: 'price',
					width: 125,
				},{
					title: 'Leave word',
					key: 'remark',
					width: 125,
				},
				{
					title: 'Mileage',
					key: 'mileage',
					width: 100,
				},{
					title: 'Vin',
					key: 'vin',
					width: 100,
				},{
					title: 'WECHAT',
					key: 'weixin',
					width: 100,
				},{
					title: 'Status',
					key: 'status',
					width: 80,					
				},
			],
			form: {
				page: 1,
				limit: 100
			},
			columns4: [
				{
					type: 'index',
					width: 60,
					align: 'center'
				},
				{
					title: 'Name',
					key: 'name',
					width: 100,
				},
				{
					title: 'Phone',
					key: 'phone',
					width: 125,
				},{
					title: 'Price',
					key: 'price',
					width: 125,
				},{
					title: 'Leave word',
					key: 'remark',
					width: 125,
				},
				{
					title: 'Mileage',
					key: 'mileage',
					width: 100,
				},{
					title: 'WECHAT',
					key: 'weixin',
					width: 120,
				},{
					title: 'Status',
					key: 'status',
					width: 120
				},
			],
			columns5: [
				{
					type: 'index',
					width: 60,
					align: 'center'
				},
				{
					title: 'Phone',
					key: 'phone',
					width: 125,
				},{
					title: 'Profession',
					key: 'profession',
					width: 125,
				},{
					title: 'SSN',
					key: 'ssn',
					width: 125,
				},
				{
					title: 'WECHAT',
					key: 'weixin',
					width: 125,
				},{
					title: 'Status',
					key: 'status',
					width: 125
				},
			],
			columns6: [
				{
					type: 'index',
					width: 60,
					align: 'center'
				},
				{
					title: 'Phone',
					key: 'phone',
					width: 125,
				},{
					title: 'Appointment time',
					key: 'appointment',
					width: 170,
				},
				{
					title: 'WECHAT',
					key: 'weixin',
					width: 120,
				},{
					title: 'Status',
					key: 'status',
					width: 120
				},
			],
			data1: [],
		},
		mounted() {
			orifun.initStatu(this);
			this.userInfo();
			this.getApplyRecord();
			this.getBarginRecord();
			this.getInstallmentRecord();
			this.getPreorder();
			this.getCollection();
		},
		methods: {
			getCollection() {
				var that = this;
				this.form.language = 'cn';
				data.common('CarWithAuth/collectionForCar',function(d){
					console.log(d)
					that.$i18n._vm.messages['zh-cn'].collectionList = d.data;
				},this.form);
				
				this.form.language = 'en';
				data.common('CarWithAuth/collectionForCar',function(d){
					console.log(d)
					that.$i18n._vm.messages['en'].collectionList = d.data;
				},this.form);
            },
			getPreorder() {
				var that = this;
				this.form.language = 'cn';
				data.common('CarWithAuth/reservationList',function(d){
					console.log(d)
					that.data1 = d.data;
				},this.form);
            },
			getInstallmentRecord() {
				var that = this;
				this.form.language = 'cn';
				data.common('CarWithAuth/stagingBuyApplicationList',function(d){
					console.log(d)
					that.$i18n._vm.messages['zh-cn'].installmentRecord.data = d.data;
				},this.form);
				
				this.form.language = 'en';
				data.common('CarWithAuth/stagingBuyApplicationList',function(d){
					console.log(d)
					that.$i18n._vm.messages['en'].installmentRecord.data = d.data;
				},this.form);
            },
			getBarginRecord() {
				var that = this;
				this.form.language = 'cn';
				data.common('CarWithAuth/recommendationApplicationList',function(d){
					// console.log(d)
					that.$i18n._vm.messages['zh-cn'].barginRecord.data = d.data;
				},this.form);
				
				this.form.language = 'en';
				data.common('CarWithAuth/recommendationApplicationList',function(d){
					// console.log(d)
					that.$i18n._vm.messages['en'].barginRecord.data = d.data;
				},this.form);
            },
			getApplyRecord() {
				var that = this;
				this.form.language = 'cn';
				data.common('CarWithAuth/saleApplicationList',function(d){
					// console.log(d)
					that.$i18n._vm.messages['zh-cn'].sellApply.data = d.data;
				},this.form);
				
				this.form.language = 'en';
				data.common('CarWithAuth/saleApplicationList',function(d){
					// console.log(d)
					that.$i18n._vm.messages['en'].sellApply.data = d.data;
				},this.form);
            },
			handleClearCurrentRow () {
                this.$refs.currentRowTable.clearCurrentRow();
            },
			handleSubmitP(name) {
				var that = this;
                this.$refs[name].validate((valid) => {
                    if (valid) {
						data.common('User/updatePassword',function(d){
							console.log(d)
							if(d == 400 || d.code == 400){
								var notice;
								for(var k in d.data){
									notice += d.data[k];
								}
								that && that.$Message.warning(notice);
							}else{
								that.$Notice.success({
									title: 'Success to update!',
									duration: 0
								});
							}
						},this.formInline);
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
			getdate (e) {
				this.formValidate.birthday = e;
			},
			handleSubmit (name) {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				if(this.formValidate.nickname == ''){
					this.$Message.warning('Please enter your nickname!');
					return;
				}
				if(this.formValidate.area_code == ''){
					this.$Message.warning('Please enter your dialling code!');
					return;
				}
				if(this.formValidate.sex == ''){
					this.$Message.warning('Please select gender!');
					return;
				}
				if(this.formValidate.birthday == ''){
					this.$Message.warning('Please select birthday!');
					return;
				}
				data.common('User/edit',function(d){
					console.log(d)
					if(d == 400 || d.code == 400){
						that && that.$Message.warning('Fail!');
					}else{
						that.$Notice.success({
							title: 'Success to update!',
						});
						that.userInfo();
					}
				},this.formValidate);
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
			userInfo: function() {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				data.common('User/info',function(d){
					// console.log(d)
					that.userinfo = d;
				})
			},
			navTobuy: function(){
				orifun.initpostbody();
			},
			getIndex: function(e) {
				this.leftIndex = e;
			},
			signout: function() {
				localStorage.login = false;
				window.location.href = "index.html";
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			},
		}
	}).$mount('#personalCenter')
	new Swiper('.text-container', {
		direction:'vertical',
		loop:true,
		autoplay: {
			delay: 2500,
			disableOnInteraction:false
		}
	});
	// 现在应用程序已经准备好了！
</script>
</html>