<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>个人中心</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/personalCenter.css">
	<link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="dist/locale/en-US.js"></script>
	<script type="text/javascript" src="js/screeningCondition.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<!-- <script type="text/javascript" src="dist/locale/zh-CN.js"></script> -->
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
</head>
<body>
	<div id="personalCenter" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">{{$t('login')}}</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in $t('tipsArr')">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane :label="$t('log')" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('log')" @click="login()">
										<div class="login-tips">
											<p class="legal">{{$t('loginagree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane :label="$t('register')" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" :placeholder="$t('pname')"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" :placeholder="$t('ppass')"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" :value="$t('register')" @click="register()">
										<div class="login-tips">
											<p class="legal">{{$t('registeragree')}}<a href="serivceAgreement.html">《{{$t('useragree')}}》</a>{{$t('and')}}<a href="private.html">《{{$t('privacyPolicy')}}》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<i-menu :theme="theme3" active-name="1" @on-select="getIndex">
				<Menu-Group title="基本信息">
					<Menu-Item name="1">
						<Icon type="md-person"></Icon>
						用户信息
					</Menu-Item>
					<Menu-Item name="2">
						<Icon type="md-person-add"></Icon>
						完善信息
					</Menu-Item>
					<Menu-Item name="3">
						<Icon type="md-keypad"></Icon>
						修改密码
					</Menu-Item>
				</Menu-Group>
				<Menu-Group title="我的车库">
					<Menu-Item name="4">
						<Icon type="md-clock"></Icon>
						卖车申请
					</Menu-Item>
					<Menu-Item name="5">
						<Icon type="md-clipboard"></Icon>
						值购记录
					</Menu-Item>
					<Menu-Item name="6">
						<Icon type="md-cart"></Icon>
						已购车辆
					</Menu-Item>
					<Menu-Item name="7">
						<Icon type="md-at"></Icon>
						预约车辆
					</Menu-Item>
				</Menu-Group>
				<Menu-Group title="关注中心">
					<Menu-Item name="8">
						<Icon type="md-basket"></Icon>
						我的收藏
					</Menu-Item>
				</Menu-Group>
			</i-menu>
			<div class="user-right">
				<div class="right-one" v-if="leftIndex == 1">
					<div class="user-info">
						<div class="head-img">
							<img v-if="userinfo.avatar_explain!==''" :src="userinfo.avatar_explain">
							<img v-else src="images/user01.jpg">
						</div>
						<div class="user-num">
							<div class="un1">
								{{userinfo.nickname}}
							</div>
							<div class="un2">
								你好
							</div>
							<div class="un2 update">
								修改个人信息>
							</div>
						</div>
						<div class="user-num unr">
							<div class="un3">注册时间：{{userinfo.create_time}}</div>
							<div class="un2">最近一次登录时间：{{userinfo.last_time}}</div>
							<div class="un2" v-if="userinfo.phone!==''">
								<Icon type="md-phone-portrait" ></Icon>
								<span>{{userinfo.phone}}</span>
							</div>
						</div>
					</div>
					<div class="icons">
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-at"></Icon>
							</div>
							<div class="right">
								<p>预约车辆: <span>0</span></p>
								<span class="lookmy">查看预约车辆 ></span>
							</div>
						</div>
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-easel"></Icon>
							</div>
							<div class="right">
								<p>值购记录: <span>0</span></p>
								<span class="lookmy">查看值购记录 ></span>
							</div>
						</div>
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-chatboxes"></Icon>
							</div>
							<div class="right">
								<p>已购车辆: <span>0</span></p>
								<span class="lookmy">查看已购车辆 ></span>
							</div>
						</div>
						<div class="icon-item">
							<div class="icon">
								<Icon type="md-basket"></Icon>
							</div>
							<div class="right">
								<p>我的收藏: <span>0</span></p>
								<span class="lookmy">查看我的收藏 ></span>
							</div>
						</div>
					</div>
				</div>
				<div class="right-two" v-else-if="leftIndex == 2">
					<i-form ref="formValidate" :model="formValidate" :label-width="80" @submit.native.prevent>
						<Form-Item label="nickname" prop="nickname">
							<i-Input v-model="formValidate.nickname" placeholder="Enter your nickname"  size="large"></i-Input >
						</Form-Item>
						<Form-Item label="phone" prop="phone">
							<i-Input v-model="formValidate.area_code" placeholder="Enter your dialling code" size="large"></i-Input>
						</Form-Item>
						<Form-Item label="Gender" prop="gender">
							<Radio-Group v-model="formValidate.sex"  size="large">
								<Radio label="male">Male</Radio>
								<Radio label="female">Female</Radio>
							</Radio-Group>
						</Form-Item>
						<Form-Item prop="birthday">
							<Date-Picker type="date" size="large" placeholder="Select date" format = "yyyy-MM-dd" v-model="formValidate.birthday" @on-change="getdate"></Date-Picker>
						</Form-Item>
						<Form-Item class="two-space">
							<i-Button type="primary" size="large" @click="handleSubmit">Submit</i-Button>
							<i-Button size="large" @click="handleReset('formValidate')" style="margin-left: 8px">Reset</i-Button>
						</Form-Item>
					</i-form>
				</div>
				<div class="right-three" v-else-if="leftIndex==3">
					<i-Form ref="formInline" :model="formInline" :rules="ruleIn" inline @submit.native.prevent>
						<Form-Item prop="user">
							<i-Input type="password" v-model="formInline.o_password" size="large" placeholder="Please enter the old password">
								<Icon type="ios-lock-outline" slot="prepend"></Icon>
							</i-Input>
						</Form-Item>
						<Form-Item prop="password">
							<i-Input type="password" v-model="formInline.password" size="large" placeholder="Please enter the new password">
								<Icon type="ios-lock-outline" slot="prepend"></Icon>
							</i-Input>
						</Form-Item>
						<Form-Item prop="confirm_password">
							<i-Input type="password" v-model="formInline.confirm_password" size="large" placeholder="Please enter the new password again">
								<Icon type="ios-lock-outline" slot="prepend"></Icon>
							</i-Input>
						</Form-Item>
						<Form-Item>
							<i-Button type="primary" @click="handleSubmitP('formInline')" size="large">update</i-Button>
						</FormItem>
					</i-Form>
				</div>
				<div class="right-four" v-else-if="leftIndex==4">
					<div>
						<i-Table highlight-row ref="currentRowTable" size="large" :columns="columns3" :data="data1"></i-Table>
						<i-Button @click="handleClearCurrentRow" size="large">Clear</i-Button>
					</div>
				</div>
				<div class="right-four" v-else-if="leftIndex==5">
					<div>
						<i-Table highlight-row ref="currentRowTable" size="large" :columns="columns3" :data="data1"></i-Table>
						<i-Button @click="handleClearCurrentRow" size="large">Clear</i-Button>
					</div>
				</div>
			</div>
			<!-- <button type="button" class="sign-out" v-on:click="signout()">退出登录</button> -->
		</div>
	<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="misc">
						<div class="footer-margino">
							<ul>
								<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
							</ul>
						</div>
					</div>
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/humacar.png" >
									<span>{{$t('champion')}}</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>{{$t('addressphone')}}</span>
								</a>
							</div>
						</div>
					</div>
						<a href="#" class="deadress">
							<li>
								<span>{{$t('address')}}</span>
								<p>{{$t('addressDetail')}}</p>
							</li>
						</a>
				</div>
				<div class="adress">
					<ul>
						<img src="images/address.png" >
					</ul>
				</div>
			</div>
		</div>
	<div class="copy">
		<span>
			Copyright@2019 CHAMPION Inc. Privacy Terms
		</span>
	</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			loginshow: false,
			switchlogin: true,
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			enshow: "english",
			theme3: 'light',
			sidecur: 1,
			userinfo: '',
			formValidate: {
				nickname: '',
				area_code: '',
				sex: '',
				birthday: '',
			},
			birthday: '',
			leftIndex: 1,
			formInline: {
				o_password: '',
				password: '',
				confirm_password: ''
			},
			ruleIn: {
				o_password: [
					{ required: true, message: 'Please fill in the old password', trigger: 'blur' }
				],
				password: [
					{ required: true, message: 'Please fill in the new password.', trigger: 'blur' },
					{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
				],
				confirm_password: [
					{ required: true, message: 'Please fill in the new password again.', trigger: 'blur' },
					{ type: 'string', min: 6, message: 'The password length cannot be less than 6 bits', trigger: 'blur' }
				],
			},
			columns3: [
				{
					type: 'index',
					width: 60,
					align: 'center'
				},
				{
					title: 'Name',
					key: 'name'
				},
				{
					title: 'Age',
					key: 'age'
				},
				{
					title: 'Address',
					key: 'address'
				}
			],
			data1: [
				{
					name: 'John Brown',
					age: 18,
					address: 'New York No. 1 Lake Park',
					date: '2016-10-03'
				},
				{
					name: 'Jim Green',
					age: 24,
					address: 'London No. 1 Lake Park',
					date: '2016-10-01'
				},
				{
					name: 'Joe Black',
					age: 30,
					address: 'Sydney No. 1 Lake Park',
					date: '2016-10-02'
				},
				{
					name: 'Jon Snow',
					age: 26,
					address: 'Ottawa No. 2 Lake Park',
					date: '2016-10-04'
				}
			]
		},
		mounted() {
			orifun.initStatu(this);
			this.userInfo();
		},
		methods: {
			handleClearCurrentRow () {
                this.$refs.currentRowTable.clearCurrentRow();
            },
			handleSubmitP(name) {
				var that = this;
                this.$refs[name].validate((valid) => {
                    if (valid) {
						data.common('User/updatePassword',function(d){
							console.log(d)
							if(d == 400 || d.code == 400){
								var notice;
								for(var k in d.data){
									notice += d.data[k];
								}
								that && that.$Message.warning(notice);
							}else{
								that.$Notice.success({
									title: 'Success to update!',
									duration: 0
								});
							}
						},this.formInline);
                    } else {
                        this.$Message.error('Fail!');
                    }
                })
            },
			getdate (e) {
				this.formValidate.birthday = e;
			},
			handleSubmit (name) {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				if(this.formValidate.nickname == ''){
					this.$Message.warning('Please enter your nickname!');
					return;
				}
				if(this.formValidate.area_code == ''){
					this.$Message.warning('Please enter your dialling code!');
					return;
				}
				if(this.formValidate.sex == ''){
					this.$Message.warning('Please select gender!');
					return;
				}
				if(this.formValidate.birthday == ''){
					this.$Message.warning('Please select birthday!');
					return;
				}
				data.common('User/edit',function(d){
					console.log(d)
					if(d == 400 || d.code == 400){
						that && that.$Message.warning('Fail!');
					}else{
						that.$Notice.success({
							title: 'Success to update!',
						});
						that.userInfo();
					}
				},this.formValidate);
            },
            handleReset (name) {
                this.$refs[name].resetFields();
            },
			userInfo: function() {
				var that = this;
				if(!localStorage.token){
					this.$Message.warning('请先登录!');
					return;
				}
				data.common('User/info',function(d){
					console.log(d)
					that.userinfo = d;
				})
			},
			navTobuy: function(){
				orifun.initpostbody();
			},
			getIndex: function(e) {
				this.leftIndex = e;
			},
			signout: function() {
				localStorage.login = false;
				window.location.href = "index.html";
			},
			top:function(){
				orifun.top(this);
			},
			login: function() {
				orifun.login(this);
			},
			register: function() {
				orifun.register(this);
			},
			change :function() {
				orifun.change(this);
			},
			consult:function(){
				orifun.consult(this);
			},
		}
	}).$mount('#personalCenter')
	new Swiper('.text-container', {
		direction:'vertical',
		loop:true,
		autoplay: {
			delay: 2500,
			disableOnInteraction:false
		}
	});
	// 现在应用程序已经准备好了！
</script>
</html>