<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>隐私申明</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	<script src="js/flexible.js"></script>
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>	
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/global.js"></script>
	<script src="js/vue-i18n.js"></script>
	<script src="js/language.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/swiper.min.js"></script>
	<script src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/header.css">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/footer.css">
	<link rel="stylesheet" href="css/serivceAgreement.css">
</head>
<body>
	<div id="private" v-cloak>
		<div class="header">
			<div class="logos">
				<img class="logor" src="images/logor.png">
			</div>
			<a href="javascript:history.back()">
				<svg class="icon back" aria-hidden="true">
					<use xlink:href="#icon-fanhui"></use>
				</svg>
			</a>
			<div class="person">
				<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
				<a v-else href="personalCenter.html">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-yidenglu"></use>
					</svg>
				</a>
			</div>
			<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
			</transition>
			<transition name="fadel" mode="out-in">
			<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
			</transition>
			<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
			</transition>
			<transition name="searchfade">
				<div class="login-page" v-if="loginshow">
					<div class="loginMask" v-on:click="loginshow = !loginshow">
					</div>
					<div class="login">
						<div class="close" v-on:click="loginshow = !loginshow">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-close"></use>
							</svg>
						</div>
						<div class="login-item">
							<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号"/>
						</div>
						<div class="login-item">
							<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
							<input type="button" class="getcode" value="获取验证码" />
						</div>
						<div class="login-item">
							<input type="button" class="btn-login" value="登录" v-on:click="login()">
						</div>
						<div class="login-tips">
							<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
						</div>
					</div>
				</div>
			</transition>
		</div>
		<img class="serviceA-carimg" src="images/index_masthead0cn.jpg" alt="car">
		<div class="content-sy">
            <h3>用户隐私权政策</h3>
        
        <p class="content-sy-b">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;尊敬的用户，您的信任对CHAMPION平台非常重要，CHAMPION平台深知个人信息对您的重要性，CHAMPION平台将按法律法规要求，采取相应安全保护措施，尽力保护您的个人信息安全可控。鉴此，北京CHAMPION旧机动车经纪有限公司及其关联公司（下称“CHAMPION公司”）、CHAMPION网站（www.championcargroup.com）及应用程序APP等（下称“CHAMPION平台”）制定本《用户隐私权政策》（下称“本政策 ”）并提醒您：<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本政策适用于CHAMPION公司和CHAMPION平台所有产品或服务。如CHAMPION公司提供的产品或服务中未设独立隐私权政策的，则本政策同样适用于该部分产品或服务。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在您使用CHAMPION平台各项产品或服务前，请您务必仔细阅读并完全理解本政策，一旦您开始使用CHAMPION平台各项产品或服务，即表示您已充分理解并同意本政策。
        </p>
        <h4 class="content-sy-b">1. 【个人信息的收集范围】</h4>
        <p>
            您授权CHAMPION平台收集您的以下个人信息：<br>
            1）个人相关信息：当您选择CHAMPION平台提供的相关服务时，依据您选择的服务类型可能需向CHAMPION平台提交或由CHAMPION平台主动获取的个人身份证、手机号、住址、邮箱、车辆信息、金融购车申请、授权委托书、征信记录、驾驶证、行驶证、银行卡、社保缴纳信息、银行流水、第三方支付系统记录、交易记录等相关个人信息。<br>
            2）您的密码、密码提示以及其他可用于验证和访问您的账户的安全信息。<br>
            3）当CHAMPION平台的客服团队、工作人员、合伙人与您联系或者您与CHAMPION平台的客服团队、工作人员、合伙人联系时，CHAMPION平台会以通话录音及人工录入等方式记录双方的通话信息及您提出的意见或建议、您提供的姓名、联系方式，以便CHAMPION平台为您更好的提供服务、处理纠纷、解决问题或向您反馈结果。如果您拒绝CHAMPION平台收集此类信息，可能会导致您无法使用CHAMPION平台核心业务功能。<br>
            4）当您使用CHAMPION平台服务时，服务器会自动记录一些信息，包括但不限于使用情况、IP地址、所访问服务的URL、浏览器的类型、访问的地理位置、访问的车辆信息、访问日期和时间等日志，以便改进功能、改善用户体验，为您提供更好的服务。<br>
            5）某些产品和/或服务包含唯一应用程序编号。当您安装、激活、更新、卸载相关服务或当这些服务定期与CHAMPION平台通信（例如软件的更新）时，系统会将此编号以及与安装相关的信息（例如操作系统类型和应用程序版本号）发送给CHAMPION平台。当您使用具有定位功能的CHAMPION平台服务时，系统会自动处理有关设备的位置信息，以使得您不需要手动输入自身地理坐标就可获得相关服务。 为了提供更好的服务与改善用户体验，CHAMPION平台可能会记录硬件型号、操作系统版本号、国际移动设备身份码（IMEI）、网络设备硬件地址（MAC）等信息。<br>
            6）为实现您联机体验的个性化需求，使您获得更轻松的访问体验。CHAMPION平台会在您的计算机或移动设备上发送一个或多个名为Cookies的小数据文件，指定给您的Cookies 是唯一的，它只能被将Cookies发布给您的域中的Web服务器读取。CHAMPION平台向您发送Cookies是为了简化您重复登录的步骤、存储您的选车偏好等数据进而为您提供选车的偏好设置、帮助您优化对广告的选择与互动、帮助判断您的登录状态以及账户或数据安全。CHAMPION平台不会将 Cookies 用于本隐私政策所述目的之外的任何用途。您可根据自己的偏好管理或删除 Cookies。您可以清除计算机上保存的所有 Cookies，大部分网络浏览器会自动接受Cookies，但您通常可根据自己的需要来修改浏览器的设置以拒绝 Cookies；另外，您也可以清除浏览器内保存的所有Cookies，移动端退出登录后也可以清除所有Cookies。但如果您这么做，您可能需要在每一次访问CHAMPION平台网站时亲自更改用户设置，而且您之前所记录的相应信息也均会被删除，并且可能会对您所使用服务的安全性有一定影响。 <br>
            7）其他根据CHAMPION平台具体产品及服务的需要而收集的您的个人信息，包括但不限于您对CHAMPION平台及CHAMPION平台的产品或服务的意见、建议等信息。
        </p>
        <h4 class="content-sy-b">2. 【个人信息的收集方法】</h4>
        <p>
            您授权CHAMPION平台通过以下方法收集您的个人信息：<br>
            1）CHAMPION平台将收集和储存在您浏览、访问CHAMPION平台及/或使用CHAMPION平台的产品或服务时主动向CHAMPION平台提供的信息；<br>
            2）CHAMPION平台将收集和储存CHAMPION平台在向您提供CHAMPION平台的产品或服务的过程中记录的与您有关的信息；<br>
            3）CHAMPION平台将收集和储存您通过CHAMPION平台的客服人员、工作人员、合伙人及/或其他渠道主动提交或反馈的信息；<br>
            4）CHAMPION平台将向关联公司、商业合作伙伴及第三方独立资料来源，收集和储存其合法获得的与您有关的信息；<br>
            5）CHAMPION平台将向依法设立的征信机构査询您的相关信用信息，包括但不限于任何信用分、信用报告等。
        </p>
        <h4 class="content-sy-b">3.【个人信息的用途】</h4>
        <p>
            您授权CHAMPION平台出于以下用途使用您的个人信息：<br>
            1）向您提供CHAMPION平台的产品及服务，并进行CHAMPION平台相关网站及APP的管理和优化；<br>
            2）提升和改善CHAMPION平台现有产品及服务的功能和质量，包括但不限于产品及服务内容的个性化定制及更新；<br>
            3）开展CHAMPION平台产品及服务相关的市场活动，向您推送最新的市场活动信息及优惠方案；<br>
            4）设计、开发、推广全新的产品及服务；<br>
            5）提高CHAMPION平台产品及服务安全性，包括但不限于身份验证、用户服务、安全防范、诈骗监测、存档和备份；<br>
            6）协助行政机关、司法机构等有权机关开展调査，并遵守适用法律法规及其他向有权机关承诺之义务；<br>
            7）在收集信息之时所通知您的用途以及与上述任何用途有关的其他用途；<br>
            8）在符合法律法规的前提下，CHAMPION可能会将您的个人信息在匿名化、汇总、脱敏和加密处理后，形成统计信息或用户画像（但画像无法识别任何用户个人），为您展示和推送相关服务、产品或功能。<br>
            9）此外，CHAMPION平台可能向您发送与上述用途有关的信息和通知，包括但不限于为保证服务完成所必须的验证码、使用产品或服务时所必要的推送通知、关于CHAMPION平台产品或服务的新闻以及市场活动及优惠促销信息。
        </p>
            <h4 class="content-sy-b">4.【个人信息的共享】</h4>
        <p>
            CHAMPION平台对您的个人信息承担保密义务，但您授权CHAMPION平台在下列情况下将您的信息与第三方共享，CHAMPION在共享信息时将采取必要的保护措施：<br>
            1）为了提升CHAMPION平台的产品及服务质量或向您提供全新的产品及服务，CHAMPION平台会在关联公司内部共享您的相关信息，也可能将CHAMPION平台收集的信息提供给第三方用于分析和统计；<br>
            2）如果您通过CHAMPION平台使用的某些产品及服务是由CHAMPION平台的合伙人、合作伙伴提供的，或是由CHAMPION平台与合伙人、合作伙伴或供应商共同提供的，CHAMPION平台将与其共享向您提供相应产品及服务所必需的信息；<br>
            3）为了与第三方开展联合推广活动，CHAMPION平台可能向第三方广告商、应用程序开发者、开放平台或其他合作伙伴提供汇总后的信息、匿名化后的信息或者其他不会识别到您个人身份的信息；<br>
            4）为了维护您及交易各方的合法权益，在协助处理与您有关的交易纠纷或争议时，CHAMPION平台会向您的交易相对方或存在利害关系的第三方提供解决交易纠纷或争议所必需的信息；<br>
            5）根据法律法规的规定及商业惯例，CHAMPION平台需要接受投资人、第三方的审计或尽职调査时，可能向其提供您的相关信息；<br>
            6）根据法律法规的规定或行政机关、司法机构等有权机关要求，CHAMPION平台会向其提供您的相关信息；<br>
            7）为提供CHAMPION的相关服务，可能会与CHAMPION的供应商、服务提供商、顾问或代理人共享您的个人信息，以提供更好的客户服务和用户体验。比如您参加抽奖，我们需要向物流服务提供商提供您的个人信息，以便发送奖品；<br>
            8）其他经您同意或授权可以向第三方提供您的个人信息的情况。<br>
            您同意免除上述个人信息的接收和/或使用方在按照本政策所述情形下进行信息披露和使用而导致的或可能导致的所有索赔、责任和损失。
        </p>
        <h4 class="content-sy-b">5.【个人信息收集、使用和对外提供的例外】</h4>
        <p>
            您充分知晓并接受，以下情形中，CHAMPION平台收集、使用和对外提供您的个人信息无需征得您的授权同意：<br>
            1）与国家安全、国防安全有关的；<br>
            2）与公共安全、公共卫生、重大公共利益有关的；<br>
            3）与犯罪侦查、起诉、审判和判决执行等有关的，或公安、检察院、法院、市场监督、商务等有权机关要求提供的；<br>
            4）出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；<br>
            5）所收集的个人信息是个人信息主体自行向社会公众公开的；<br>
            6）从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；<br>
            7）根据您的要求签订合同所必需的；<br>
            8）用于维护所提供的服务与/或产品的安全稳定运行所必需的，例如发现、处置服务与/或产品的故障；<br>
            9）为合法的新闻报道所必需的；<br>
            10）学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；<br>
            11）法律法规规定的其他情形。
        </p>
        <h4 class="content-sy-b"> 6.【个人信息的安全保护措施】</h4>
        <p>
            1）CHAMPION平台及关联方将采用严格的安全制度以及行业通行的安全技术和程序，对您的个人信息进行保管、储存、传输、加密处理，来确保您的个人信息不被丢失、泄露或滥用。<br>
            2）CHAMPION仅在本隐私政策目的所必须期间和法律法规要求的时限内存储您的个人信息。<br>
            3）如CHAMPION停止运营，我们将及时停止继续收集您个人信息的活动，将停止运营的通知以逐一送达或公告的形式通知您，并对我们存储的个人信息进行删除或匿名化处理。<br>
        </p>
        <h4 class="content-sy-b"> 7.【个人信息的查询、更正及删除】</h4>
        <p>
            您可以通过CHAMPION网站查询和更正您的个人信息。以下情况发生时，您有权要求CHAMPION删除您的个人信息：<br>
            1）我们没有征求您的明确同意，收集了您的个人信息。<br>
            2）我们处理您的个人信息违反了法律法规要求。<br>
            3）我们违反了与您的约定来使用和处理您的个人信息。<br>
            4）您注销了账号、卸载或者不再使用我们的产品或服务。<br>
            5）我们停止对您提供服务。<br>
            收到您要求删除您的个人信息的通知后，我们会在15个工作日内给予答复。当我们从服务器中删除您的个人信息后，我们可能不会立即从备份系统中删除相应的数据，但会在备份更新的时候删除这些信息。<br>
            您可以登录网站提交申请注销您的账户。请您注意，如果您选择注销账户，那么您的账号将不可使用且相关账号信息将被删除，您将无法再登录该账号并使用必须登录才能使用的功能（但不会影响您使用无需账号登录即可使用的服务和功能）。<br>
            当您注销账户后，除法律法规要求我们保存相关信息的情况外，我们将停止为您提供相应的产品（或服务），并在15个工作日内删除或匿名化您的个人信息。
        </p>
        <h4 class="content-sy-b"> 8.【未成年人信息保护】</h4>
        <p>
            如果没有父母或监护人的同意，未成年人不得创建自己的用户账户。如您为未成年人的，建议您请您的父母或监护人仔细阅读本隐私权政策，并在征得您的父母或监护人同意的前提下使用CHAMPION平台的服务或向CHAMPION平台提供信息。<br>
            对于经父母或监护人同意使用CHAMPION平台的产品或服务而收集未成年人个人信息的情况，CHAMPION平台只会在法律法规允许、父母或监护人明确同意或者保护未成年人所必要的情况下使用、共享、转让或披露此信息。
        </p>
        <h4 class="content-sy-b">9.【隐私权免责声明】</h4>
        <p>您的交易相对方、您访问的第三方网站经营者、您使用的第三方服务提供者和通过我们获取您的个人信息的第三方，可能有自己的隐私权保护政策以及获取您个人信息的方法和措施，这些第三方的隐私权保护政策、获取个人信息的方法和措施将不会受到我们的控制。虽然我们将与可能接触到您的个人信息的我们的合作方等第三方签署保密协议并尽合理的努力督促其履行保密义务，但我们无法保证第三方一定会按照我们的要求采取保密措施，我们亦不对第三方的行为及后果承担任何责任。</p>
        <h4 class="content-sy-b">10.【更新】</h4>
        <p> 未经您明确同意，CHAMPION平台不会限制您按照本政策所应享有的权利。随着CHAMPION平台服务的不断提升，本政策的内容也可能会不时更新。更新后的政策一旦在CHAMPION平台上正式实施即有效代替原来的隐私权政策。</p>
        <h4 class="content-sy-b">11.【联络方式】</h4>
        <p>
            您可以通过以下方式与CHAMPION平台联系，CHAMPION平台将尽快回复您的请求：<br>
            1）如对本政策内容有任何疑问、意见或建议，您可以拨打400-083-5105的客服热线与CHAMPION平台联系；<br>
            2）如发现个人信息可能被泄露或需要更正个人信息、注销个人账户的，您可以通过拨打400-861-0500处理；<br>
            3）如果您对CHAMPION平台的回复不满意，特别是您认为CHAMPION平台的个人信息处理行为损害了您的合法权益，您还可以通过向被告住所地有管辖权的法院提起诉讼来寻求解决方案。
        </p>
    </div>
		<div class="contact">
			<div class="top">
					<div class="logo"><img src="images/logor.png" ></div>
				<div class="wx">
					<a href="#">
						<img src="images/humacar.png" >
						<span>CAR</span>
					</a>
				</div>
				<div class="phone">
					<a href="#">
						<img src="images/phone.png" >
						<span>+1(888)-888-6518</span>
					</a>
				</div>
			</div>
			</div>
		<div class="adress">
			<ul>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
				<a href="#">
					<li>
						<span>洛杉矶旗舰店地址</span>
						<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
					</li>
				</a>
			</ul>
		</div>
		<div class="misc">
			<ul>
				<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
			</ul>
		</div>
		<div class="copy">
			<span>
        Copyright@2016 CHAMPION Inc. Privacy Terms
    </span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			loginshow: false,
			switchlogin: true,
			logindata: {
				phonenum:'',
				checkcode:''
			},
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
		},
		methods: {
			login: function() {
				if(this.logindata.phonenum == ''){
					alert("请填写手机号!");
					return;
				}
				else if(this.logindata.checkcode == ''){
					alert("请填写验证码!");
					return;
				}
				this.switchlogin = !this.switchlogin;
				this.loginshow = !this.loginshow;
				alert('登录成功!');
				localStorage.login = true;
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#private')
	// 现在应用程序已经准备好了！
</script>
</html>