<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>检查报告</title>
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<script src="js/flexible.js"></script>
		<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/global.js"></script>
		<script src="js/vue-i18n.js"></script>
		<script src="js/language.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/swiper.min.js"></script>
		<script src="http://at.alicdn.com/t/font_1127175_gtx5hh8j6d.js"></script>
		<link rel="stylesheet" href="css/swiper.min.css">
		<link rel="stylesheet" href="css/header.css">
		<link rel="stylesheet" href="css/common.css">
		<link rel="stylesheet" href="css/footer.css">
		<link rel="stylesheet" href="css/report.css">
	</head>
	<body>
		<div id="about" v-cloak>
			<div class="header">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<a href="javascript:history.back()">
					<svg class="icon back" aria-hidden="true">
						<use xlink:href="#icon-fanhui"></use>
					</svg>
				</a>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
					<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
					<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
					<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="login">
							<div class="close" v-on:click="loginshow = !loginshow">
								<svg class="icon" aria-hidden="true">
									<use xlink:href="#icon-close"></use>
								</svg>
							</div>
							<div class="login-item">
								<input type="number" class="defa" v-model="logindata.phonenum" placeholder="手机号" />
							</div>
							<div class="login-item">
								<input type="number" class="defa getcodeinp" v-model="logindata.checkcode" placeholder="验证码" />
								<input type="button" class="getcode" value="获取验证码" />
							</div>
							<div class="login-item">
								<input type="button" class="btn-login" value="登录" v-on:click="login()">
							</div>
							<div class="login-tips">
								<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
							</div>
						</div>
					</div>
				</transition>
			</div>
			<div class="checkcar">
				<div id="chekuang" class="layout-item  active">
					<section class="column report-info">
						<p>

							<span class="re-car-name">哈弗H6 2018款 30周年年型 Sportback 35 TFSI 时尚型</span>
						</p>
						<p>
							<span class="re-tit">检测时间：</span>
							<span class="report-con">2019-03-30</span>
						</p>
						<p>
							<span class="re-tit">评估结论：</span>
							<span class="report-con">检测此车无泡水,无火烧,无事故,无调表,
								车辆结构:正常
								车辆配置:正常
								车辆外观:正常
								因各地车辆排放标准不同,如需外迁,买方核实车辆实际排放标准.</span>
						</p>
					</section>

					<input id="checkType" type="hidden" value="1">

					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_accident">
						<div class="column-head">
							<div class="column-title">事故排查</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							修复需要一定成本，可能对车辆性能造成影响
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list">
								<a href="javaScript:;" class="j-re-list">
									<p>排除重大事故</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>27项-->

										<span>27项</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											右前纵梁梁头连接板
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左前纵梁梁头连接板
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左前翼子板支架
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右前翼子板支架
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左前减震器座
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右前减震器座
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左前纵梁
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右前纵梁
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											防火墙
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右A柱主体及封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右B柱封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右车顶边梁
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右C柱主体及封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右D柱主体及封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右侧底边梁封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右后翼子板内衬
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左后翼子板内衬
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											后备箱底板
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											右后纵梁
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左后纵梁
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											车顶检测
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左D柱主体及封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左C柱主体及封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左车顶边梁
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左B柱封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左A柱主体及封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											左侧底边梁封边
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list">
								<a href="javaScript:;" class="j-re-list">
									<p>排除泡水火烧</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>18项-->

										<span>18项</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											发动机主线束
											<i>
												<svg class="icon" aria-hidden="true">
													<use xlink:href="#icon-tubiao-"></use>
												</svg>
											</i>
										</li>
										<li class="li-normal">
											防火墙隔音棉
											<i></i>
										</li>
										<li class="li-normal">
											车辆覆盖件及驾驶舱
											<i></i>
										</li>
										<li class="li-normal">
											发动机线束及橡胶制品
											<i></i>
										</li>
										<li class="li-normal">
											发动机舱
											<i></i>
										</li>
										<li class="li-normal">
											后备箱边角及备胎槽
											<i></i>
										</li>
										<li class="li-normal">
											座椅滑轨及安装螺丝
											<i></i>
										</li>
										<li class="li-normal">
											车内线束
											<i></i>
										</li>
										<li class="li-normal">
											安全带底部
											<i></i>
										</li>
										<li class="li-normal">
											全车座椅坐垫
											<i></i>
										</li>
										<li class="li-normal">
											保险盒及OBD接口
											<i></i>
										</li>
										<li class="li-normal">
											车内保险盒
											<i></i>
										</li>
										<li class="li-normal">
											全车地胶地毯
											<i></i>
										</li>
										<li class="li-normal">
											点烟器底座
											<i></i>
										</li>
										<li class="li-normal">
											踏板支架
											<i></i>
										</li>
										<li class="li-normal">
											转向柱
											<i></i>
										</li>
										<li class="li-normal">
											综合判断是否为泡水车
											<i></i>
										</li>
										<li class="li-normal">
											保养记录泡水维修
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list">
								<a href="javaScript:;" class="j-re-list">
									<p>调表排查</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>11项-->

										<span>11项</span>
										<svg class="allicon" aria-hidden="true">
											<use xlink:href="#icon-tubiao-"></use>
										</svg>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											制动盘片磨损
											<i></i>
										</li>
										<li class="li-normal">
											方向盘磨损
											<i></i>
										</li>
										<li class="li-normal">
											档把磨损
											<i></i>
										</li>
										<li class="li-normal">
											手刹杆磨损
											<i></i>
										</li>
										<li class="li-normal">
											脚踏板磨损
											<i></i>
										</li>
										<li class="li-normal">
											门把手磨损
											<i></i>
										</li>
										<li class="li-normal">
											门窗按钮磨损
											<i></i>
										</li>
										<li class="li-normal">
											中控按钮磨损
											<i></i>
										</li>
										<li class="li-normal">
											里程表
											<i></i>
										</li>
										<li class="li-normal">
											综合判断是否为调表车
											<i></i>
										</li>
										<li class="li-normal">
											OBD里程数差异
											<i></i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_slight">
						<div class="column-head">
							<div class="column-title">轻微碰撞</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							车辆加固部件，修复后对车辆行驶安全影响不大
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>轻微碰撞</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>21项-->

										<span>21项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											前防撞梁
											<i></i>
										</li>
										<li class="li-normal">
											水箱框架
											<i></i>
										</li>
										<li class="li-normal">
											左前翼子板内衬
											<i></i>
										</li>
										<li class="li-normal">
											右前翼子板内衬
											<i></i>
										</li>
										<li class="li-normal">
											右A柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											右B柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											右C柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											右D柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											右侧底边梁(金属)
											<i></i>
										</li>
										<li class="li-normal">
											右侧门槛梁
											<i></i>
										</li>
										<li class="li-normal">
											右侧底大边(非金属)
											<i></i>
										</li>
										<li class="li-normal">
											后围板
											<i></i>
										</li>
										<li class="li-normal">
											后防撞梁
											<i></i>
										</li>
										<li class="li-normal">
											后备箱导水槽
											<i></i>
										</li>
										<li class="li-normal">
											左D柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											左C柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											左B柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											左A柱覆盖面
											<i></i>
										</li>
										<li class="li-normal">
											左侧底边梁(金属)
											<i></i>
										</li>
										<li class="li-normal">
											左侧门槛梁
											<i></i>
										</li>
										<li class="li-normal">
											左侧底大边(非金属)
											<i></i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_easyWear">
						<div class="column-head">
							<div class="column-title">易损耗部件</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
							车辆损耗部件，保养修复后可保障车辆各方面性能及行驶安全
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>易损耗部件</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>18项-->

										<span>18项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											左前减震器
											<i></i>
										</li>
										<li class="li-normal">
											气门室盖垫
											<i></i>
										</li>
										<li class="li-normal">
											发动机缸垫
											<i></i>
										</li>
										<li class="li-normal">
											发动机外围皮带
											<i></i>
										</li>
										<li class="li-normal">
											水箱
											<i></i>
										</li>
										<li class="li-normal">
											水箱水管
											<i></i>
										</li>
										<li class="li-normal">
											转向助力泵
											<i></i>
										</li>
										<li class="li-normal">
											助力油壶
											<i></i>
										</li>
										<li class="li-normal">
											制动油壶
											<i></i>
										</li>
										<li class="li-normal">
											电瓶（极柱）
											<i></i>
										</li>
										<li class="li-normal">
											冷凝器
											<i></i>
										</li>
										<li class="li-normal">
											发动机油底壳
											<i></i>
										</li>
										<li class="li-normal">
											机油
											<i></i>
										</li>
										<li class="li-normal">
											防冻液
											<i></i>
										</li>
										<li class="li-normal">
											变速箱油底壳
											<i></i>
										</li>
										<li class="li-normal">
											右前减震器
											<i></i>
										</li>
										<li class="li-normal">
											右后减震器
											<i></i>
										</li>
										<li class="li-normal">
											左后减震器
											<i></i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_function">
						<div class="column-head">
							<div class="column-title">常用功能</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>安全系统</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>15项-->

										<span>15项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											驾驶座安全气囊
											<i></i>
										</li>
										<li class="li-normal">
											副驾驶安全气囊
											<i></i>
										</li>
										<li class="li-notest">
											前排侧气囊
											<i></i>
										</li>
										<li class="li-notest">
											后排侧气囊
											<i></i>
										</li>
										<li class="li-notest">
											前排头部气囊
											<i></i>
										</li>
										<li class="li-notest">
											后排头部气囊
											<i></i>
										</li>
										<li class="li-normal">
											胎压监测
											<i></i>
										</li>
										<li class="li-normal">
											中控锁
											<i></i>
										</li>
										<li class="li-normal">
											儿童座椅接口
											<i></i>
										</li>
										<li class="li-notest">
											无钥匙启动
											<i></i>
										</li>
										<li class="li-notest">
											无钥匙进入系统
											<i></i>
										</li>
										<li class="li-normal">
											遥控钥匙
											<i></i>
										</li>
										<li class="li-normal">
											防抱死系统(ABS)
											<i></i>
										</li>
										<li class="li-normal">
											车身稳定控制(ESP)
											<i></i>
										</li>
										<li class="li-notest">
											电子驻车制动
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>外部配置</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>26项-->

										<span>26项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											左前轮胎
											<i></i>
										</li>
										<li class="li-normal">
											左前轮毂
											<i></i>
										</li>
										<li class="li-normal">
											前风挡玻璃
											<i></i>
										</li>
										<li class="li-normal">
											天窗玻璃
											<i></i>
										</li>
										<li class="li-normal">
											车辆改装
											<i></i>
										</li>
										<li class="li-normal">
											右前轮胎
											<i></i>
										</li>
										<li class="li-normal">
											右前轮毂
											<i></i>
										</li>
										<li class="li-normal">
											同轴花纹一致
											<i></i>
										</li>
										<li class="li-normal">
											右后轮胎
											<i></i>
										</li>
										<li class="li-normal">
											右后轮毂
											<i></i>
										</li>
										<li class="li-normal">
											后风挡玻璃
											<i></i>
										</li>
										<li class="li-normal">
											左后轮胎
											<i></i>
										</li>
										<li class="li-normal">
											左后轮毂
											<i></i>
										</li>
										<li class="li-notest">
											全景天窗
											<i></i>
										</li>
										<li class="li-normal">
											感应雨刷
											<i></i>
										</li>
										<li class="li-normal">
											后雨刷
											<i></i>
										</li>
										<li class="li-normal">
											前电动车窗
											<i></i>
										</li>
										<li class="li-normal">
											后电动车窗
											<i></i>
										</li>
										<li class="li-normal">
											后视镜电动调节
											<i></i>
										</li>
										<li class="li-notest">
											后视镜电动折叠
											<i></i>
										</li>
										<li class="li-notest">
											后视镜加热
											<i></i>
										</li>
										<li class="li-notest">
											电动吸合门
											<i></i>
										</li>
										<li class="li-notest">
											后排侧遮阳帘
											<i></i>
										</li>
										<li class="li-notest">
											感应后备箱
											<i></i>
										</li>
										<li class="li-normal">
											电动天窗
											<i></i>
										</li>
										<li class="li-notest">
											电动后备箱
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>内部配置</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>19项-->

										<span>19项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											维修保养记录里程
											<i></i>
										</li>
										<li class="li-notest">
											皮质座椅
											<i></i>
										</li>
										<li class="li-notest">
											前排座椅加热
											<i></i>
										</li>
										<li class="li-notest">
											座椅通风
											<i></i>
										</li>
										<li class="li-normal">
											驾驶座座椅电动调节
											<i></i>
										</li>
										<li class="li-normal">
											多功能方向盘
											<i></i>
										</li>
										<li class="li-notest">
											定速巡航
											<i></i>
										</li>
										<li class="li-notest">
											GPS导航
											<i></i>
										</li>
										<li class="li-normal">
											倒车雷达
											<i></i>
										</li>
										<li class="li-notest">
											倒车影像系统
											<i></i>
										</li>
										<li class="li-normal">
											手动空调
											<i></i>
										</li>
										<li class="li-notest">
											自动空调
											<i></i>
										</li>
										<li class="li-notest">
											HUD抬头显示
											<i></i>
										</li>
										<li class="li-notest">
											后排座椅加热
											<i></i>
										</li>
										<li class="li-notest">
											后风挡遮阳帘
											<i></i>
										</li>
										<li class="li-normal">
											中控台
											<i></i>
										</li>
										<li class="li-normal">
											空调状态
											<i></i>
										</li>
										<li class="li-normal">
											四门玻璃启动
											<i></i>
										</li>
										<li class="li-normal">
											天窗(含全景)启动
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>灯光系统</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>16项-->

										<span>16项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											前示宽灯
											<i></i>
										</li>
										<li class="li-normal">
											近光灯
											<i></i>
										</li>
										<li class="li-normal">
											远光灯
											<i></i>
										</li>
										<li class="li-normal">
											前转向灯
											<i></i>
										</li>
										<li class="li-normal">
											前雾灯
											<i></i>
										</li>
										<li class="li-normal">
											后转向灯
											<i></i>
										</li>
										<li class="li-normal">
											刹车灯
											<i></i>
										</li>
										<li class="li-normal">
											倒车灯
											<i></i>
										</li>
										<li class="li-normal">
											后雾灯
											<i></i>
										</li>
										<li class="li-normal">
											室内顶灯
											<i></i>
										</li>
										<li class="li-normal">
											氙气大灯
											<i></i>
										</li>
										<li class="li-notest">
											LED大灯
											<i></i>
										</li>
										<li class="li-normal">
											自动头灯
											<i></i>
										</li>
										<li class="li-notest">
											前雾灯（配置项）
											<i></i>
										</li>
										<li class="li-normal">
											大灯高度可调
											<i></i>
										</li>
										<li class="li-notest">
											大灯清洗
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>高科技配置</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>5项-->

										<span>5项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-notest">
											车道偏离预警系统
											<i></i>
										</li>
										<li class="li-notest">
											自动泊车
											<i></i>
										</li>
										<li class="li-notest">
											盲点辅助系统
											<i></i>
										</li>
										<li class="li-notest">
											全景摄像头
											<i></i>
										</li>
										<li class="li-notest">
											发动机自动启停
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>随车工具<i class="tip-icon j-tools-notice" data-gzlog="tracking_type=click&amp;eventid=0220050000099072"></i></p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>5项-->

										<span>5项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-notest">
											千斤顶
											<i></i>
										</li>
										<li class="li-notest">
											灭火器
											<i></i>
										</li>
										<li class="li-notest">
											三角警示标
											<i></i>
										</li>
										<li class="li-notest">
											维修工具包
											<i></i>
										</li>
										<li class="li-normal">
											备胎
											<i></i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
					<!--初检：非外观   复检：严选,或者非外观-->
					<section class="column report-detail report-detail-b" id="detail_start">
						<div class="column-head">
							<div class="column-title">启动检测</div>
						</div>
						<div class="re-desc">
							<!-- 只有命中了4.0.0版本才show-->
						</div>
						<div class="mod-re-lists showNotice">
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>仪表台指示灯</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>9项-->

										<span>9项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>


									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											制动系统指示灯(手刹)
											<i></i>
										</li>
										<li class="li-normal">
											安全系统指示灯(不含气囊故障码)
											<i></i>
										</li>
										<li class="li-normal">
											发动机工况指示灯
											<i></i>
										</li>
										<li class="li-normal">
											变速箱指示灯
											<i></i>
										</li>
										<li class="li-normal">
											车身稳定系统故障灯
											<i></i>
										</li>
										<li class="li-normal">
											机油压力指示灯
											<i></i>
										</li>
										<li class="li-normal">
											着车时电瓶灯
											<i></i>
										</li>
										<li class="li-normal">
											故障代码
											<i></i>
										</li>
										<li class="li-normal">
											水温
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>发动机状态</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>5项-->
										<span>5项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>
									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											发动机
											<i></i>
										</li>
										<li class="li-normal">
											启动状态
											<i></i>
										</li>
										<li class="li-normal">
											发动机抖动
											<i></i>
										</li>
										<li class="li-normal">
											怠速状态
											<i></i>
										</li>
										<li class="li-normal">
											尾气
											<i></i>
										</li>
									</ul>
								</div>
							</div>
							<div class="re-list ">
								<a href="javaScript:;" class="j-re-list">
									<p>变速箱及转向</p>
									<div class="unormal-right">
									</div>
									<div>
										<!--<span>5项-->
										<span>5项</span>
										<i class="normal">
											<svg class="icon" aria-hidden="true">
												<use xlink:href="#icon-down"></use>
											</svg>
										</i>
									</div>
								</a>
								<!-- 隐藏的弹层 -->
								<div class="re-depoly">
									<ul>
										<li class="li-normal">
											变速箱
											<i></i>
										</li>
										<li class="li-normal">
											变速箱挂挡
											<i></i>
										</li>
										<li class="li-normal">
											转向
											<i></i>
										</li>
										<li class="li-normal">
											离合器
											<i></i>
										</li>
										<li class="li-normal">
											四驱系统功能
											<i></i>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
			<div class="contact">
				<div class="top">
					<div class="logo"><img src="images/logor.png"></div>
					<div class="wx">
						<a href="#">
							<img src="images/humacar.png">
							<span>CAR</span>
						</a>
					</div>
					<div class="phone">
						<a href="#">
							<img src="images/phone.png">
							<span>+1(888)-888-6518</span>
						</a>
					</div>
				</div>
			</div>
			<div class="adress">
				<ul>
					<a href="#">
						<li>
							<span>洛杉矶旗舰店地址</span>
							<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
						</li>
					</a>
					<a href="#">
						<li>
							<span>洛杉矶旗舰店地址</span>
							<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
						</li>
					</a>
					<a href="#">
						<li>
							<span>洛杉矶旗舰店地址</span>
							<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
						</li>
					</a>
				</ul>
			</div>
			<div class="misc">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src">
						<li>{{item.content}}</li>
					</a>
				</ul>
			</div>
			<div class="copy">
				<span>
					Copyright@2016 CHAMPION Inc. Privacy Terms
				</span>
			</div>
		</div>
	</body>
	<script type="text/javascript">
		var locale = localStorage.locale;
		new Vue({
			i18n,
			data: {
				show: false,
				topshow: false,
				botshow: false,
				enshow: "english",
				loginshow: false,
				switchlogin: true,
				logindata: {
					phonenum: '',
					checkcode: ''
				},
			},
			mounted() {
				if (locale) {
					i18n.locale = locale;
					locale == 'zh-cn' ? this.enshow = 'english' : this.enshow = '中文';
				} else {
					(locale = i18n.locale);
				}
				var login;
				 if(localStorage.login){
					login = JSON.parse(localStorage.login);
				 }
				if(login){
					this.switchlogin = false;
				}else{
					this.switchlogin = true;
				}
				$('.re-depoly').hide();
				$('.j-re-list').click(function(){
					var aimele = $(this).siblings('.re-depoly');
					if(aimele.css('display') == 'none'){
						aimele.show();
					}else{
						aimele.hide();
					}
				})
			},
			methods: {
				login: function() {
					if (this.logindata.phonenum == '') {
						alert("请填写手机号!");
						return;
					} else if (this.logindata.checkcode == '') {
						alert("请填写验证码!");
						return;
					}
					this.switchlogin = !this.switchlogin;
					this.loginshow = !this.loginshow;
					alert('登录成功!');
					localStorage.login = true;
				},
				change: function() {
					this.enshow = this.enshow == 'english' ? "中文" : "english";
					var that = this;
					setTimeout(function() {
						if (i18n.locale == 'en') {
							i18n.locale = 'zh-cn';
						} else if (i18n.locale == 'zh-cn') {
							i18n.locale = 'en';
						}
						localStorage.locale = i18n.locale;
					}, 1100)
				},
				top: function() {
					this.topshow = !this.topshow;
					$('html,body').animate({
						scrollTop: '0'
					}, 700);
				},
				consult: function() {
					this.botshow = !this.botshow;
					setTimeout(function() {
						alert("功能完善中！")
					}, 700)
				}
			}
		}).$mount('#about')
		// 现在应用程序已经准备好了！
	</script>
</html>
