<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, minimum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>我要卖车</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="dist/styles/iview.css">
	<link rel="stylesheet" type="text/css" href="css/sale.css">
	<script type="text/javascript" src="js/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/vue-i18n.js"></script>
	<script type="text/javascript" src="dist/iview.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript" src="js/language.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
	<script type="text/javascript" src="js/data.js"></script>
	<script type="text/javascript" src="http://at.alicdn.com/t/font_1127175_dsv54txqsew.js"></script>
</head>
<body>
	<div id="sale" v-cloak>
		<div class="header">
			<div class="header-margin">
				<div class="logos">
					<img class="logor" src="images/logor.png">
				</div>
				<div class="person">
					<span v-if="switchlogin" v-on:click="loginshow = !loginshow">登录</span>
					<a v-else href="personalCenter.html">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-yidenglu"></use>
						</svg>
					</a>
				</div>
				<transition name="fade" mode="out-in">
						<button class="back-to-top" :key="topshow" v-on:click='top()' v-html="$t('header.top')"></button>
				</transition>
				<transition name="fadel" mode="out-in">
				<button class="language-switch" :key="enshow" v-on:click='change()'>{{enshow}}</button>
				</transition>
				<transition name="fadeo" mode="out-in">
						<button class="online-consultation" :key="botshow" v-on:click='consult()' v-html="$t('header.online')"></button>
				</transition>
						<div class="nav-menu">
							<ul>
								<li>
									<a href="index.html">
										<span>{{ $t("header.home") }}</span>
									</a>
								</li>
								<li>
									<a href="buy.html" @click="navTobuy">
										<span>{{ $t("header.buy") }}</span>
									</a>
								</li>
								<li>
									<a href="sale.html">
										<span>{{ $t("header.sale") }}</span>
									</a>
								</li>
								<li>
									<a href="bargain.html">
										<span>{{ $t("header.bargain") }}</span>
									</a>
								</li>
								<li>
									<a href="installment.html">
										<span>{{ $t("header.hire") }}</span>
									</a>
								</li>
								<li>
									<a href="about.html">
										<span>{{ $t("header.about") }}</span>
									</a>
								</li>
								<li>
									
								</li>
								<li>
									<a href="">
									</a>
								</li>
							</ul>
						</div>
						<div id="tips">
							<svg class="icon" aria-hidden="true">
								<use xlink:href="#icon-ling"></use>
							</svg>
							<div class="text text-container">
								<ul class="swiper-wrapper">
									<li class="swiper-slide" v-for="item in tipsArr">{{item}}</li>
								</ul>
							</div>
						</div>
				<transition name="searchfade">
					<div class="login-page" v-if="loginshow">
						<div class="loginMask" v-on:click="loginshow = !loginshow">
						</div>
						<div class="loginCenter">
							<div class="login">
								<div class="close" v-on:click="loginshow = !loginshow">
									<svg class="icon" aria-hidden="true">
										<use xlink:href="#icon-close"></use>
									</svg>
								</div>
								<Tabs value="name1">
									<Tab-Pane label="登录" name="name1">
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="logindata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="登录" @click="login()">
										<div class="login-tips">
											<p class="legal">登录即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
									<Tab-Pane label="注册" name="name2">
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.username" placeholder="请输入用户名"/>
										</div>
										<div class="login-item">
											<input type="text" class="defa" v-model="registerdata.password" placeholder="请输入密码"/>
										</div>
										<!-- <div class="login-item">
											<input type="number" class="defa getcodeinp" v-model="logindata.checkcode"  placeholder="验证码"/>
											<input type="button" class="getcode" value="获取验证码" />
										</div> -->
										<input type="button" class="btn-login" value="注册" @click="register()">
										<div class="login-tips">
											<p class="legal">注册即为同意<a href="serivceAgreement.html">《用户使用协议》</a>及<a href="private.html">《隐私权条款》</a></p>
										</div>
									</Tab-Pane>
								</Tabs>
							</div>
						</div>
					</div>
				</transition>
			</div>
		</div>
		<div class="margin">
			<img class="sale-carimg" src="images/index_masthead0cn.jpg" alt="car">
			<div class="sale-info">
				<ul>
					<li>
						<label for="address">请输入您的所在地*</label>
						<i-input type="text" v-model="postbody.address" name="address" id="address" placeholder="请输入您的所在地"/>
					</li>
					<li>
						<label for="vin">vin*</label>
						<i-input type="text" v-model="postbody.vin" name="vin" id="vin" placeholder="请输入17位的vin码"/>
					</li>
					<li class="setw">
						<div class="setwi">
							<label for="mileage">行驶里程*</label>
							<i-input type="text" v-model="postbody.mileage" name="mileage" id="mileage" placeholder="请输入当前英里数"/>
						</div>
						<div class="setwi">
							<label for="preprice">预期价格*</label>
							<i-input type="text" v-model="postbody.price" name="preprice" id="preprice" placeholder="请输入您的期望价格"/>
						</div>
					</li>
					<label>车主信息*</label>
					<li class="setw">
						<div class="setwi">
							<i-input type="text" v-model="postbody.phone" name="phoneNum" placeholder="请输入您的手机号"/>
						</div>
						<div class="setwi">
							<i-input type="text" v-model="postbody.weixin" name="WXNum" placeholder="请输入您的微信号"/>
						</div>
					</li>
					<li class="setw">
						<div class="checkcode setwi">
							<i-input type="text" v-model="postbody.verify_code" name="check" id="check" placeholder="请输入您的验证码"/>
						</div>
						<div class="setwi">
							<img :src="verifyImg" @click="getVerifyImg">
						</div>
					</li>
				</ul>
				<ul>
					<li>
						<div class="facecolor">
							<label class="">车身颜色*</label>
							<div class="face-con">
								<div class="fc-item" v-for="option in facecolor" @click="getFaceIndex($event)">
									<span :data-info = "option" :style="option == info?'color: red;':'color: black;'">{{ option }}</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="insidecolor">
							<label>内饰颜色*</label>
							<div class="inside-con">
								<div class="fc-item" v-for="option in insidecolor" @click="getInterIndex($event)">
									<span :data-info = "option" :style="option == interInfo?'color: red;':'color: black;'">{{ option }}</span>
								</div>
							</div>
						</div>
					</li>
					<li>
						<label class="remarkcolor">备注*</label>
						<i-input v-model="postbody.remark" type="textarea" :rows="4" placeholder="请输入您爱车的配置,以便我们对您的车辆有更多的了解。" />
					</li>
				</ul>
			</div>
			<div class="btnc">
				<i-button class="btnsub" type="success" long @click="post">提交</i-button>
			</div>
		</div>
		<div class="misc">
			<div class="footer-margino">
				<ul>
					<a v-for="item in $t('misc')" :href="item.src"><li>{{item.content}}</li></a>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer-margint">
				<div class="contact">
					<div class="top">
						<div class="logo"><img src="images/logo.jpg" ></div>
						<div class="con-top-r">
							<div class="wx">
								<a>
									<img src="images/humacar.png" >
									<span>CHAMPION</span>
								</a>
							</div>
							<div class="phone">
								<a>
									<img src="images/phone.png" >
									<span>+1(888)-888-6518</span>
								</a>
							</div>
						</div>
					</div>
					</div>
				<div class="adress">
					<ul>
						<a href="#">
							<li>
								<span>Massachusetts state马塞诸塞州</span>
								<p>134 east Howard st，Quincy，ma，02169，usa</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
						<a href="#">
							<li>
								<span>洛杉矶旗舰店地址</span>
								<p>19575 E Walnut Dr S Ste C13&C14 City of Industry CA 91748</p>
							</li>
						</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="copy">
			<span>
				Copyright@2016 CHAMPION Inc. Privacy Terms
			</span>
		</div>
	</div>
</body>
<script type="text/javascript">
	var locale = localStorage.locale;
	new Vue({
		i18n,
		data: {
			show: false,
			topshow: false,
			botshow: false,
			enshow: "english",
			faceselected: 'A',
			insideselected: 'A',
			loginshow: false,
			switchlogin: true,
			tipsArr:['免费代办过户','多种金融贷款服务','一年内全美道路救援服务','多种支付渠道（POS机、微信、支付宝等）多种支付渠道（POS机、微信、支付宝等）','100%无佣金'],
			logindata: {
				username: '',
				password: '',
				remember: 'y'
			},
			registerdata: {
				username: '',
				password: ''
			},
			facecolor: ['白色','黑色','银灰','灰色','黄色','香槟','红色 粉红','紫色','蓝色','绿色','咖啡','其他'],
			insidecolor: ['白色','黑色','银灰','灰色','黄色','香槟','红色 粉红','紫色','蓝色','绿色','咖啡','其他'],
			verifyImg: '',
			postbody: {
				address: '',
				vin: '',
				mileage: '',
				price: '',
				phone: '',
				weixin: '',
				verify_code: '',
				remark: '',
				color: '',
				interior_color: '',
				verify_code_key: '',
			},
			info: '',
			interInfo: '',
		},
		mounted() {
			if(locale){
				i18n.locale = locale;
				locale == 'zh-cn'?this.enshow = 'english':this.enshow = '中文';
			}else{
				(locale = i18n.locale);
			}
			var login;
			 if(localStorage.login){
				login = JSON.parse(localStorage.login);
			 }
			if(login){
				this.switchlogin = false;
			}else{
				this.switchlogin = true;
			}
			this.getVerifyImg();
		},
		methods: {
			post: function(){
				var that = this;
				if(!localStorage.token){
					that && that.$Message.warning('请登录后进行申请!');
					return;
				}
				if(this.postbody.verify_code_key == ''){
					that && that.$Message.warning('验证码尚未刷新!');
					return;
				}
				if(this.postbody.address == ''){
					that && that.$Message.warning('地址不能为空!');
					return;
				}
				if(this.postbody.vin == ''){
					that && that.$Message.warning('vin码不能为空!');
					return;
				}
				if(this.postbody.mileage == ''){
					that && that.$Message.warning('里程不能为空!');
					return;
				}
				if(this.postbody.price == ''){
					that && that.$Message.warning('价格不能为空!');
					return;
				}
				if(this.postbody.phone == ''){
					that && that.$Message.warning('手机号不能为空!');
					return;
				}
				if(this.postbody.weixin == ''){
					that && that.$Message.warning('微信号不能为空!');
					return;
				}
				if(this.postbody.verify_code == ''){
					that && that.$Message.warning('验证码不能为空!');
					return;
				}
				if(this.postbody.remark == ''){
					that && that.$Message.warning('留言不能为空!');
					return;
				}
				if(this.postbody.color == ''){
					that && that.$Message.warning('请选择车辆外观颜色!');
					return;
				}
				if(this.postbody.interior_color == ''){
					that && that.$Message.warning('请选择车辆内饰颜色!');
					return;
				}
				// console.log(this.postbody)
				data.commonheader('CarWithAuth/saleApplication',function(d){
					console.log(d)
						if(d.code !== 400){
							that.$Notice.success({
								title: '申请成功! ',
							});
						}else{
							var s = '';
							for(var k in d.data){
								s = s + d.data[k];
							}
							that.$Message.warning(s);
						}
				},this.postbody)
			},
			getVerifyImg: function(){
				var that = this;
				data.common('Misc/verifyCode',function(d){
					// console.log(d)
						if(d.code !== 400){
							that.verifyImg = d.img;
							that.postbody.verify_code_key = d.key;
						}else{
							console.log('请求验证码失败')
						}
				})
			},
			getFaceIndex: function(e){
				// console.log(e.target.dataset.info)
				this.postbody.color = this.info = e.target.dataset.info;
			},
			getInterIndex: function(e){
				// console.log(e.target.dataset.info)
				this.postbody.interior_color = this.interInfo = e.target.dataset.info;
			},
			register: function() {
				var that = this;
				if(this.registerdata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.registerdata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/register',function(d){
						if(d == 400){
							that && that.$Message.warning('此用户名已被使用，请更换!');
						}else{
							that.$Notice.success({
								title: '注册成功!去登陆>>',
							});
						}
				},that.registerdata)
			},
			navTobuy: function(){
				localStorage.postbody = JSON.stringify({
					brand_id: '',
					car_series_id: '',
					car_type_id: '',
					price: '',
					mileage: '',
					age: '',
					gearbox: '',
					color: '',
					keyword: '',
					sale_point: '',
					page: 1,
					sort: ''
				})
			},
			login: function() {
				var that = this;
				if(this.logindata.username == ''){
					// alert("请填写用户名!");
					this.$Message.warning('请填写用户名!');
					return;
				}
				else if(this.logindata.password == ''){
					// alert("请填写密码!");
					this.$Message.warning('请填写密码!');
					return;
				}
				data.common('Login/login',function(d){
					// that.slideArr = d;
					if(d != 400){
						// console.log(d)
						localStorage.token = d;
						that.switchlogin = !that.switchlogin;
						that.loginshow = !that.loginshow;
						that.$Notice.success({
							title: '登录成功! ',
						});
						localStorage.login = true;
					}else{
						that.$Message.warning('登录失败,请检查用户名或密码是否正确!');
					}
				},this.logindata)
				
			},
			change :function() {
			    this.enshow = this.enshow == 'english' ? "中文" : "english";
			    var that = this;
			    setTimeout(function(){
					if(i18n.locale == 'en'){
						i18n.locale = 'zh-cn';
					}else if(i18n.locale == 'zh-cn'){
						i18n.locale = 'en';
					}
					localStorage.locale = i18n.locale;
			    },1100)
			},
			top:function(){
				this.topshow = !this.topshow;
				$('html,body').animate({scrollTop: '0'}, 700);
			},
			consult:function(){
				this.botshow = !this.botshow;
				setTimeout(function(){
					alert("功能完善中！")
				},700)
			}
		}
	}).$mount('#sale')
	// 现在应用程序已经准备好了！
</script>
</html>